﻿<div class="MadeGridFacts" ng-controller="MadeGridEditors.BoxFacts.Controller">
    <label>
        <input type="text" ng-model="control.value.headline" placeholder="Overskrift" class="heading" />
    </label>
    
    <label>
        <input type="text" ng-model="control.value.subtitle" placeholder="Underoverskrift" class="subtitle" />
    </label>
    
    <label>
        <input type="text" ng-model="control.value.property" placeholder="Talværdi (valgfri)" class="property" />
    </label>

    <div class="usky-cell-rte">

        <div unique-id="control.$uniqueId + $index"
             value="control.value.description"
             grid-rte configuration="control.value.rte">
        </div>
    </div>

  
</div>