﻿<div class="MadeGridContactPersons" ng-controller="MadeGridEditors.ContactPerson.Controller">
    <div class="table">
        <table ng-show="items.length">
            <thead>
                <tr>
                    <th>Billede</th>
                    <th>Navn</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-if="items.length" ng-model="items">
                <tr ng-repeat="item in items">
                    <td><img ng-src="{{item.imageurl}}"/></td>
                    <td>{{item.name}}</td>
                    <td style="text-align: right;">
                        <a class="remove" href="#" prevent-default="" ng-click="removeItem($index)"><i class="icon icon-delete"></i></a>
                        <i class="icon icon-navigation handle" ng-show="items.length > 1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addItems()">Tilføj kontaktperson <i class="icon icon-add"></i></a>
        </div>
    </div>

    <!--<pre style="font-size: 10px; line-height: 12px; white-space: pre-wrap;">{{control.value | json}}</pre>-->
</div>