﻿<div class="MadeGridFaq" ng-controller="MadeGridEditors.Faq.Controller">


    <label>
        <input type="text" ng-model="control.value.title" placeholder="Overskrift" />
    </label>

    <label>
        <textarea ng-model="control.value.description" rows="6" placeholder="Beskrivelsen af de udvalgte FAQ skrives her."></textarea>
    </label>


    <div class="table">
        <table ng-show="items.length">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Spørgsmål</th>
                    <th>Kategori</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="items">
                <tr ng-repeat="item in items">
                    <td>{{item.id}}</td>
                    <td>{{item.question}}</td>
                    <td>{{item.category.name}}</td>
                    <td style="text-align: right;">
                        <a class="remove" href="#" prevent-default="" ng-click="removeItem($index)"><i class="icon icon-delete"></i></a>
                        <i class="icon icon-navigation handle" ng-show="items.length > 1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addItems()">Tilføj spørgsmål <i class="icon icon-add"></i></a>
        </div>
    </div>
</div>