﻿<div class="MadeGridGallery" ng-controller="MadeGridEditors.Gallery.Controller">
    
    <label>
        <input type="text" ng-model="control.value.title" placeholder="Overskrift" />
    </label>

    <div class="table">
        <table ng-show="mediafolder != null">
          
            <tr>
                <td>
                    <ul ng-if="items.length">
                        <li ng-repeat="item in items">
                            <img ng-src="{{item.backofficePreviewUrl}}" />
                        </li>
                        <li ng-show="mediafolder != null" class="link-edit">
                            <a class="link usky-editor-placeholder" href="#" prevent-default="" ng-click="addItems()">
                                <i class="icon icon-folder-open"></i>
                                <div ng-id="!control.$inserted" class="help-text">{{mediafoldername}}</div>
                            </a><br />
                            <input type="checkbox" class="goDeep" ng-model="control.value.goDeep" ng-change="update();" /> Medtag undermapper<br />
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <div class="actions">
            <a class="link usky-editor-placeholder" href="#" prevent-default="" ng-show="mediafolder == null" ng-click="addItems()">
                <span>
                    <i class="icon icon-folder"></i>
                    <div ng-id="!control.$inserted" class="help-text">Tilføj mediemappe</div>
                </span>
            </a><br />
        </div>
    </div>

</div>