﻿<div class="MadeGridImage" ng-controller="MadeGridEditors.Image.Controller">
    <div>
        <label>
            Billede
            <small>Vælg et billede fra mediearkivet.</small>
        </label>
        <!--        <div>
                    {{image.thumborig}}<br />
                    {{image.thumbnail}}
                </div>-->
        <div class="image" ng-if="image">
            <img ng-src="{{image.thumbnail}}" alt="" ng-show="image.thumbnail" style="width: 100%">
            <a href class="remove" ng-click="removeImage()"><i class="icon icon-delete"></i></a>
        </div>
        <div ng-if="!image" style="border: none">
            <a href="#" class="add" ng-click="addImage()" prevent-default>
                <i class="icon icon-add large"></i>
            </a>
        </div>
    </div>
    <div ng-if="special && $index == 0">
        <label>
            Titel
            <small>Valgfri: Angiv en titel, der vises i en cirkel over billedet. Bemærk at cirklen kun har plads til få bogstaver.</small>
        </label>
        <textarea rows="1" ng-model="control.value.title" ng-keyup="update()"></textarea>
    </div>
    <div ng-if="special && $index == 0">
        <label>
            Undertitel
            <small>Valgfri: Angiv en undertitel, der vises i en cirkel over billedet.</small>
        </label>
        <textarea rows="1" ng-model="control.value.subtitle" ng-keyup="update()"></textarea>
    </div>
    <div>
        <label>
            Beskrivelse
            <small>Angiv en beskrivelse. Beskrivelsen vil blive vist i bunden af billedet.</small>
        </label>
        <textarea rows="4" ng-model="control.value.text" ng-keyup="update()"></textarea>
    </div>
    
    <!--<pre style=" font-size: 10px; line-height: 12px; white-space: pre-wrap;">{{control.value | json}}</pre>-->

</div>