﻿<div class="MadeGridActionMailChimp" ng-controller="MadeGridEditors.MailChimp.Controller">

    <label>
        <input type="text" ng-model="control.value.mailChimpListId" ng-change="update();" placeholder="Indtast list-nøglen fra MailChimp" /><br />
        <input type="text" ng-model="control.value.mailChimpSuccessMsg" ng-change="update();" placeholder="Indtast returbesked til tilmeldt bruger" /><br />
    </label>

    <!--<pre style=" font-size: 10px; line-height: 12px; white-space: pre-wrap;">{{control.value | json}}</pre>-->
</div>