﻿<div class="MadeGridQuote" ng-controller="MadeGridEditors.Quote.Controller">

    
    <label>
        <input type="text" ng-model="control.value.quote" placeholder="Citat" class="heading" />
    </label>

    <label>
        <input type="text" ng-model="control.value.title" placeholder="Titel" class="textinput" /><span>,&nbsp; &nbsp;</span><input type="text" ng-model="control.value.name" placeholder="Navn" class="textinput" />
    </label>
    <label>
     
    </label>

  
</div>