﻿<div class="MadeGridTools" ng-controller="MadeGridEditors.CasesAndTools.Controller">


    <label>
        <input type="text" ng-model="control.value.title" placeholder="Overskrift" class="headline" />
    </label>

    <label>
        <textarea ng-model="control.value.description" rows="6" class="teaser" placeholder="Beskrivelsen af de udvalgte værktøjer skrives her."></textarea>
    </label>


    <label style="cursor: default;">

        <div class="items" ng-show="control.value.items.length > 0">
            <div class="item" ng-repeat="item in control.value.items">
                <div class="boxOfFact tool">

                    <a href="#" ng-click="removeItem($index);" prevent-default="" class="btn-inner" title="Slet faktaboks">
                        <i class="icon icon-delete"></i>
                    </a>

                    <a href="#" ng-show="$index < control.value.items.length - 1" ng-click="moveItemRight($index);" prevent-default="" class="btn-inner" title="Flyt billedet til højre">
                        <i class="icon icon-next"></i>
                    </a>

                    <a href="#" ng-show="$index > 0" ng-click="moveItemLeft($index);" prevent-default="" class="btn-inner" title="Flyt billedet til venstre">
                        <i class="icon icon-previous"></i>
                    </a>

                    <input type="text" class="title" ng-model="item.title" placeholder="Skriv titel..." focus-on="focusMe" /><br />
                    
                    <textarea ng-model="item.description" placeholder="Beskrivelse af værktøjet skrives her."></textarea>
                    
                    <div class="action" ng-show="item.link">
                        <i class="icon icon-edit"></i> <a href="#" ng-click="editLink(item)" prevent-default="">Rediger link: {{item.link.name}}</a> | <i class="icon icon-delete"></i> <a href="#" ng-click="item.link = null" prevent-default="">Slet link</a>
                    </div>

                    <div class="action" ng-show="!item.link">
                        <a href="#" ng-click="addLink(item)" prevent-default="">
                            <i class="icon icon-link"></i>  Tilføj link
                        </a>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </label>

    <button class="btn" ng-click="addItem();" prevent-default="">
        <i class="icon icon-add"></i>
    </button>

    <!--<pre style=" font-size: 10px; line-height: 12px; white-space: pre-wrap;">{{control.value | json}}</pre>-->
</div>