﻿<div class="MadeGridVideo" ng-controller="MadeGridEditors.Video.Controller">
    <div class="usky-editor-placeholder" style="text-align:left;">
        <div ng-show="control.config.showControls">
            <label>
                URL<br />
                <input type="text" ng-model="control.value.url" ng-change="update();" placeholder="Angiv URL adressen til en video på enten YouTube eller Vimeo." />
            </label>

            <label>
                Beskrivelse<br />
                <input type="text" ng-model="control.value.description" placeholder="Angiv en kort beskrivelse af videoen (valgfri)" />
            </label>
        </div>
        <a class="sfi-edit" ng-if="control.value.url" ng-click="showConfig()">
            <i class="icon icon-edit"></i>&nbsp;Ret
        </a>

        <div ng-if="embed" class="preview">
            <label>
                Preview
                <small>Nedenstående er et eksempel på videon.</small>
            </label>
            <iframe src="{{embed.url}}" width="480" height="360" frameborder="0"></iframe>
        </div>
        <i class="icon icon-movie-alt" style="position: absolute;right: 20px;top: 30px;font-size: 10em;color:#E8E8E8;"></i>
    </div>
</div>