﻿/*
    Most styles for the link picker comes from the "Skybrud.LinkPicker" property editor
*/

.SkybrudPropertyEditors.GridEditor.LinkPicker {
    
    .ui-sortable-placeholder {
        border: inherit;
        background-color: #d0e7f1 !important;
        font-size: 14px;
        font-family: inherit;
        visibility: visible !important;
        &:before {
            display: none;
        }
    }

    .ui-sortable-helper {
        display: none;
    }

}