<div class="spot ma-contact-person">
	<h3>{{$root.labels['Kontakt']}}</h3>
	<div class="image">
		<img sky-crop-src="{{::MaContactPerson.details.imageUrl}}" sky-crop-mode="cover" alt="" ng-if="::MaContactPerson.details.imageUrl">
	</div>
	<ma-line>
		<h4 ng-bind="::MaContactPerson.details.name"></h4>
		<em ng-bind="::MaContactPerson.details.title"></em>
		<a ng-href="{{::MaContactPerson.details.email}}" ng-if="::MaContactPerson.details.email" ng-bind="::MaContactPerson.details.email"></a>
	</ma-line>
	<div sky-accordion ng-if="MaContactPerson.showDetails || MaContactPerson.details.description">
		<button sky-accordion-toggle sky-svg="arrow"></button>
		<div sky-accordion-wrapper>
			<div sky-accordion-content>
				<table>
					<tr ng-repeat="property in MaContactPerson.properties track by $index" ng-if="::property.value">
						<td ng-bind="::property.key"></td>
						<td ng-bind-html="::property.value"></td>
					</tr>
				</table>

				<div ng-bind-html="::MaContactPerson.details.description"></div>
			</div>
		</div>
	</div>
</div>
