<div class="events-results" ng-if="skyEventsCtrl.data.items.length">

	<ul>
		<li class="hover" ng-repeat="result in skyEventsCtrl.data.items track by result.id" ma-section-click>
			<section ng-class="{fill:$odd, featured:!result.isMemberEvent}">
				<div class="wrap">
					<div class="image">
						<img sky-crop-src="{{result.imageUrl}}" sky-crop-mode="cover" alt="">
					</div>
					<div class="container">
						<time ng-bind="result.displayDate|date:'dd.MM.yy'"></time>
						<div class="meta">
							<text>{{result.activityTypes[0]}}</text><span> - </span><text>{{result.displayDate|date:'dd.MM.yyyy'}}</text>
						</div>
						<h5><a ng-href="{{result.url}}">{{result.name}}</a></h5>
						<div class="teaser" ng-if="result.teaser.length > 0" ng-bind-html="result.teaser"></div>
					</div>
				</div>
			</section>
		</li>
	</ul>
</div>

<div class="list-more" ng-if="skyEventsCtrl.data.pagination.total>skyEventsCtrl.data.items.length" sky-svg="long-line" ma-appear>
	<button class="button" ng-click="skyEventsCtrl.showMore()" ng-class="{spin:skyEventsCtrl.loading}" sky-svg="dimond"></button>
</div>
