<footer ma-sticky-footer>
	<section class="partners">
		<div class="wrap">
			<h5><ma-line><em ng-bind="labels['Samarbejdspartnere']"></em></ma-line></h5>
			<ul>
				<li><a href="http://innovationsfonden.dk/" target="_blank"><img src="/img/6153ma/partner-innovationsfonden.png" alt=""></a></li>
				<li><a href="http://ffi.di.dk/" target="_blank"><img src="/img/6153ma/partner-fremstillings-industrien.png" alt=""></a></li>
				<li><a href="http://iak.di.dk/" target="_blank"><img src="/img/6153ma/partner-industriens-arbejdsgivere.png" alt=""></a></li>
				<li><a href="http://www.industriensfond.dk/" target="_blank"><img src="/img/6153ma/partner-industriens-fond.png" alt=""></a></li>
				<li><a href="http://di.dk/" target="_blank"><img src="/img/6153ma/partner-d-i.png" alt=""></a></li>
			</ul>
		</div>
	</section>

	<section class="footer">
		<div class="wrap">
			<div class="left">
				<ma-line>
					<sky-svg>logo</sky-svg>
					<div ng-bind-html="::settings.footer.address"></div>
					<p>
						<a ng-if="settings.footer.email" ng-href="{{::settings.footer.email}}" ng-bind="settings.footer.email"></a>
					</p>
					<p ng-if="::settings.footer.cvr">
						CVR: {{::settings.footer.cvr}}
					</p>
				</ma-line>
			</div>
			<div class="right">
				<ma-line>
					<h4 ng-bind="::settings.footer.introheadline">Kort om os</h4>
					<div ng-bind-html="::settings.footer.introtext"></div>

					<div class="footer-mailchimp" ng-if="::settings.footer.mailChimpListId">
						<h5>Tilmeld nyhedsbrev</h5>
						<form sky-mailchimp ng-init="mailchimp.listId=settings.footer.mailChimpListId; mailchimp.successMsg='Tak for din tilmelding'" no-uniform>
							<div class="form-error" ng-if="error" ng-bind-html="error"></div>
							<div class="form-success" ng-if="success" ng-bind-html="mailchimp.successMsg"></div>
							<div ng-if="!success">
								<input type="text" placeholder="*Navn" ng-model="mailchimp.name" />
								<input type="text" placeholder="*Organisation/virksomhed" ng-model="mailchimp.organisation" />
								<input type="email" placeholder="*Email" ng-model="mailchimp.email" />
								<button class="button">Tilmeld</button>
							</div>
						</form>
					</div>
				</ma-line>
			</div>
		</div>

		<div class="curved-container">
			<sky-svg>curved-line</sky-svg>
		</div>
	</section>
</footer>
