<div class="fragments">
	<div class="wrap">
		<sky-svg ma-appear="0.3">curved-line</sky-svg>
		<sky-svg ma-appear="0.2">curved-line</sky-svg>
		<sky-svg ma-appear="0.1">curved-line</sky-svg>
	</div>
</div>
