<div class="shortcuts wrap" sky-sticky>
	<ma-title-navigation></ma-title-navigation>
</div>
<div class="wrap">
	<div class="manchet" ng-if="::stateCtrl.data.contentTeaser">
		<div ng-bind-html="::stateCtrl.data.contentTeaser"></div>
	</div>
	<div class="manchet-more" ng-class="{fill:stateCtrl.data.btnDescription}" ng-if="stateCtrl.data.btnLinkItem || stateCtrl.data.btnTitle" >
		<a class="button" ng-href="{{::stateCtrl.data.btnLinkItem.Url}}" ng-attr-traget="{{::stateCtrl.data.btnLinkItem.Target" ng-bind="::stateCtrl.data.btnTitle"></a>
		<p>{{::stateCtrl.data.btnDescription}}</p>
	</div>
</div>

