<nav class="mobile-navigation" sky-sticky-reveal>
	<div class="bar" ma-appear>
		<a href="/" class="logo" sky-svg="logo"></a>
		<button class="burger" ng-click="$root.menuOpen=!$root.menuOpen" sky-svg="burger"></button>
		<div class="search-bar">
			<button class="search" sky-search-trigger sky-svg="loop"></button>
		</div>
	</div>
	<div class="container">
		<navigation special="settings.mainNavigation" template="primary"></navigation>
		<navigation special="settings.secNavigation"></navigation>
	</div>
</nav>

<nav class="navigation" sky-sticky-reveal ma-navigation>
	<div class="wrap">
		<navigation special="settings.secNavigation"></navigation>
		<navigation special="settings.mainNavigation" template="primary"></navigation>
		<div class="search" sky-svg="line">
			<button class="button search-trigger" sky-search-trigger sky-svg="loop"></button>
		</div>
	</div>
</nav>

<sky-search>
</sky-search>
