/**
 * Styling of basic elements.
 *
 * (Tag names)
 *
 * Don't put element specific styles
 * in this file!
 */

html {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-text-size-adjust:none;
	position:relative;
	height:100%;
	height:auto;
	overflow-x:hidden;
}

body {
	font-family:'Droid Serif', sans-serif;
	font-size:$font-size;
	line-height:1.45;
	color:$font-color;
	height:100%;
	height:auto;
	min-height:100%;
	overflow-x:hidden;
	@include gt(tablet) {
		font-size:17px;
	}
}

.search-open {
	height:100.001vh;
	width:100%;
	overflow-y:scroll;
}

input,
textarea,
select,
button {
	font-family:$font-name;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:transparent;
}

/* Skybrud selection stuff */
::selection {
  background:transparentize($color-1,0.1);
  color:#fff;
}
::-moz-selection {
  background:transparentize($color-1,0.1);
  color:#fff;
}

h1,
h2,
h3,
h4,
h5 {
	color:#5b5b5b;
	font-family:'Droid Serif', sans-serif;
	line-height:1.15;

	.ma-line {
		.svg-line line {
			stroke:#5b5b5b;
		}
	}
}

h1 {
	text-transform:uppercase;
}

h2 {
	font-size:30px;
	@include gt(phone) {
		font-size:40px;
	}
	@include gt(tablet) {
		font-size:50px;
	}
}


h3 {
	font-size:20px;
	@include gt(phone) {
		font-size:25px;
	}
	@include gt(tablet) {
		font-size:30px;
	}
}

a {
	color:$color-blue;
	break-inside:avoid;

	@include hover {
		color:$color-navy;
	}
}

em,
i {
	font-style:italic;
}

strong,
b {
	font-weight:$bold;
}


ul,
ol,
table,
img,
p {
	margin-bottom:$base-margin;
	break-inside:avoid;
}

ul,
ol {
	li {
		margin-left:15px;
	}
}

ul ul {
	margin-bottom:0;
}

li {
	break-inside:avoid;
}
