/* droid-serif-regular - latin */
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/droid-serif/droid-serif-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Droid Serif'), local('DroidSerif'),
	url('fonts/droid-serif/droid-serif-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/droid-serif/droid-serif-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/droid-serif/droid-serif-v6-latin-regular.svg#DroidSerif') format('svg'); /* Legacy iOS */
}
/* droid-serif-italic - latin */
@font-face {
	font-family: 'Droid Serif';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/droid-serif/droid-serif-v6-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Droid Serif Italic'), local('DroidSerif-Italic'),
	url('fonts/droid-serif/droid-serif-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/droid-serif/droid-serif-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/droid-serif/droid-serif-v6-latin-italic.svg#DroidSerif') format('svg'); /* Legacy iOS */
}
/* droid-serif-700 - latin */
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/droid-serif/droid-serif-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Droid Serif Bold'), local('DroidSerif-Bold'),
	url('fonts/droid-serif/droid-serif-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/droid-serif/droid-serif-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/droid-serif/droid-serif-v6-latin-700.svg#DroidSerif') format('svg'); /* Legacy iOS */
}
/* droid-serif-700italic - latin */
@font-face {
	font-family: 'Droid Serif';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/droid-serif/droid-serif-v6-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'),
	url('fonts/droid-serif/droid-serif-v6-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/droid-serif/droid-serif-v6-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-700italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/droid-serif/droid-serif-v6-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/droid-serif/droid-serif-v6-latin-700italic.svg#DroidSerif') format('svg'); /* Legacy iOS */
}
