/**
 * Custom iconfonts
 */

@font-face {
	font-family:$icon-font;
	src:url('fonts/CHANGE-ME.eot');
	src:url('fonts/CHANGE-ME.eot?#iefix') format('embedded-opentype'),
		url('fonts/CHANGE-ME.ttf') format('truetype'),
		url('fonts/CHANGE-ME.woff') format('woff'),
		url('fonts/CHANGE-ME.svg#CHANGE-ME') format('svg');
	font-weight:normal;
	font-style:normal;
}

