﻿@using Skybrud.Social.Instagram.OAuth
@using Skybrud.Social.Instagram.Responses
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    var oauth = new InstagramOAuthClient
    {
        ClientId = "2d852507396e421ea853fb1a4a09f481",
        ClientSecret = "8b0559b319fe44f784d23f977039e37b",
        RedirectUri = "http://6153ma.rpjengaard/"
    };
    string code = Request.QueryString["code"];
    if (Request["state"] == "login")
    {
        Response.Redirect(oauth.GetAuthorizationUrl("test"));
    }
    else if (!String.IsNullOrWhiteSpace(code))
    {
        InstagramAccessTokenResponse token = oauth.GetAccessTokenFromAuthCode(code);
        oauth.AccessToken = token.Body.AccessToken;

        //DateTime expiresAt = DateTime.Now.AddSeconds(token..ExpiresIn.TotalSeconds);

        <table>
            @*<tr>
                    <td style="font-size: 10px; font-weight: bold; text-transform: uppercase; padding-right: 25px;">Expires in</td>
                    <td style="font-size: 12px;">
                        @token.ExpiresIn.TotalSeconds
                        (~@token.ExpiresIn.TotalDays days &bull; @expiresAt.ToString("r"))
                    </td>
                </tr>*@
            <tr>
                <td style="font-size: 10px; font-weight: bold; padding-right: 25px; text-transform: uppercase;">Access Token</td>
                <td style="font-size: 12px;">
                    @token.Body.AccessToken
                </td>
            </tr>
        </table>

        <br />
    }
    <a href="http://6153ma.rpjengaard/?state=login" class="button">Login again</a>
}