﻿@using Skybrud.Social.LinkedIn.OAuth2

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // 1. sæt domænet 6153ma.rpjengaard på Authnoden i løsningen
    // 2. åben http://6153ma.rpjengaard/
    // 3. login med madsfred@hotmail.com:mqf2315
    
    
    // Handle input
    string action = Request.QueryString["do"];
    string code = Request.QueryString["code"];
    string state = Request.QueryString["state"];

    // Initialize the OAuth client
    LinkedInOAuthClient oauth = new LinkedInOAuthClient
    {
        ClientId = "77rr6wpein43wy",
        ClientSecret = "VOLCJIdeseZyByal",
        RedirectUri = "http://6153ma.rpjengaard/"
    };

    if (action == "login")
    {

        // Redirect the user to the authentication page at LinkedIn.com
        Response.Redirect(oauth.GetAuthorizationUrl("bacon", "rw_company_admin"));

    }
    else if (!String.IsNullOrWhiteSpace(code))
    {

        LinkedInAccessTokenResponse token = oauth.GetAccessTokenFromAuthCode(code);
        oauth.AccessToken = token.AccessToken;

        DateTime expiresAt = DateTime.Now.AddSeconds(token.ExpiresIn.TotalSeconds);

        <table>
            <tr>
                <td style="font-size: 10px; font-weight: bold; text-transform: uppercase; padding-right: 25px;">Expires in</td>
                <td style="font-size: 12px;">
                    @token.ExpiresIn.TotalSeconds
                    (~@token.ExpiresIn.TotalDays days &bull; @expiresAt.ToString("r"))
                </td>
            </tr>
            <tr>
                <td style="font-size: 10px; font-weight: bold; text-transform: uppercase; padding-right: 25px;">Access Token</td>
                <td style="font-size: 12px;">
                    @token.AccessToken
                </td>
            </tr>
        </table>

        <br />

        <a href="http://6153ma.rpjengaard/?do=login" class="button">Login again</a>

    }
    else if (Request.QueryString["error"] != null)
    {

        <p><b>@Request.QueryString["error"]</b><br />@Request.QueryString["error_description"]</p>

        <a href="http://6153ma.rpjengaard/?do=login" class="button">Login with LinkedIn</a>

    }
    else
    {

        <a href="http://6153ma.rpjengaard/?do=login" class="button">Login with LinkedIn</a>

    }



}