﻿@using made
@using made.Extensions
@using SEOChecker.MVC
@inherits made.Mvc.SpaViewPage<made.Models.Website.Master>
@{
    Layout = null;
}
<!doctype html>
<html lang="da" ng-class="{'menu-open':menuOpen, 'search-open':searchOpen}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1" id="viewport">
    <base href="/" />

    @Html.Raw(Utils.Helpers.Tags.RenderSeoCheckerTags(Model))

    <link rel="shortcut icon" href="/img/6153ma/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Html.GetCacheableUrl("/css/6153ma/styles.css")">


    <!--[if IE 9]>
        <script src="scripts/6153ma/classList.js"></script>
        <script src="/scripts/6153ma/matchMedia.js"></script>
        <script src="/scripts/6153ma/matchMedia.addListener.js"></script>
    <![endif]-->

</head>
<body class="init">

	<div class="wipe"></div>
	<div class="spinner"></div>

    <div ng-include="'/layout/views/partials/navigation.html'"></div>
    <ui-view class="view" sky-view-type></ui-view>
	<div ng-include="'/layout/views/partials/footer.html'"></div>

    @RenderBody()

    @Html.Partial("~/Views/Partials/Settings.cshtml")

    <script src="@Html.GetCacheableUrl("/scripts/6153ma/scripts.js")" async></script>
</body>
</html>
