﻿@using Skybrud.Social.OAuth
@using Skybrud.Social.Twitter
@using Skybrud.Social.Twitter.OAuth
@using Skybrud.Social.Twitter.Objects
@inherits UmbracoTemplatePage
@{

    var oauth = new TwitterOAuthClient
    {
        ConsumerKey = "Ud0vI0RaYq9k8gutsgTadaJ6T",
        ConsumerSecret = "R6XCDt2WxB1xebHvF8iIOsP40No5xlHz9JXFAkOYMDTFOI3Y3E",
        Callback = "http://6153ma.rpjengaard/"
    };
    string code = Request.QueryString["code"];


    if (Request.QueryString["do"] == "login")
    {
        // Get a request token from the Twitter API
        OAuthRequestToken token = oauth.GetRequestToken();

        // Save the token information to the session so we can grab it later
        Session[token.Token] = token;

        // Redirect the user to the authentication page at Twitter.com
        Response.Redirect(token.AuthorizeUrl);
    }
    else if (Request.QueryString["oauth_token"] != null)
    {
        // Get OAuth parameters from the query string
        string oAuthToken = Request.QueryString["oauth_token"];
        string oAuthVerifier = Request.QueryString["oauth_verifier"];

        // Grab the request token from the session
        var token = Session[oAuthToken] as OAuthRequestToken;

        if (token == null)
        {
            <p>An error occured. Timeout?</p>
        }
        else
        {
            // Some information for development purposes
            <p>Request Token: @token.Token</p>
            <p>Request Token Secret: @token.TokenSecret</p>

            // Update the OAuth client with information from the request token
            oauth.Token = token.Token;
            oauth.TokenSecret = token.TokenSecret;

            try
            {
                // Obtain an access token from the request token and OAuth verifier
                OAuthAccessToken accessToken = oauth.GetAccessToken(oAuthVerifier);

                // Update the OAuth client with the access token and access token secret
                oauth.Token = accessToken.Token;
                oauth.TokenSecret = accessToken.TokenSecret;

                // Initialize a new TwitterService instance based on the OAuth client
                TwitterService service = TwitterService.CreateFromOAuthClient(oauth);

                // Get information about the authenticated user
                TwitterUser user = service.Account.VerifyCredentials().Body;

                <p><b>Hi @(user.Name ?? user.ScreenName)</b> (@user.Id) <br /></p>
                <p>Access Token: @accessToken.Token</p>
                <p>Access Token Secret: @accessToken.TokenSecret</p>
            }
            catch (Exception ex)
            {
                <pre style="color: red;">@ex.GetType().FullName: @ex.Message <br /><br /> @ex.StackTrace </pre>
            }
        }
    }
    else if (Request.QueryString["denied"] != null)
    {
        // Get OAuth parameters from the query string
        string oAuthToken = Request.QueryString["denied"];

        // Remove the request token from the session
        Session.Remove(oAuthToken);

        // Write some output for the user
        <p>It seems that you cancelled the login!</p>
        <p><a href="http://6153ma.rpjengaard/?do=login">Try again?</a></p>
    }
    else
    {
        <p><a href="http://6153ma.rpjengaard/?do=login">Login with Twitter</a></p>
    }
}