<div ng-repeat="section in content.sections" class="section grid-{{section.grid}}">

	<section ng-repeat="row in section.rows" ng-class="{'no-spacing':row.styles.noSpacing === '1'}">
		<div class="wrap areas">
			<div ng-repeat="area in row.areas" class="area area-{{area.grid}}">
				<div ng-repeat="control in area.controls" class="control {{control.editor.alias}}">
					<div ng-include="'/sky-grid/controls/'+control.editor.alias+'.template.html'"></div>
				</div>
			</div>
		</div>
	</section>

</div>
