<a class="item" ng-href="{{::item.link}}">
	<div class="background" ng-style="{backgroundImage:'url(' + item.picture + ')'}"></div>
	<div class="container" ng-if="::item.title">
		<ma-line>kalender</ma-line>
		<time ng-bind="::item.date|date:'EEEE d. MMM yyyy'"></time>
		<div class="title" ng-bind="::item.title"></div>
		<div class="teaser" ng-bind-html="::item.teaser"></div>
	</div>
</a>
