<a ng-href="{{::item.link}}" target="_blank" class="item">
	<div class="background" ng-style="{backgroundImage:'url(' + item.picture + ')'}"></div>
	<div class="container" ng-if="::item.picture">
		<ma-line>instagram</ma-line>
	</div>
</a>
