<a class="item" ng-href="{{::item.link}}">
	<div ng-if="::item.picture" class="background" ng-style="{backgroundImage:'url(' + item.picture + ')'}"></div>
	<div class="container" ng-if="::item.title">
		<ma-line>{{item.category === 'Pressemeddelelser' ? 'presse' : 'nyhed'}}</ma-line>
		<time ng-bind="::item.createdDate|date:'EEEE d. MMM yyyy'"></time>
		<div class="title" ng-bind="::item.title"></div>
	</div>
</a>
