<a class="item" ng-href="{{::item.link}}" target="_blank">
	<div class="container" ng-if="::item.title">
		<ma-line>twitter</ma-line>
		<div class="title" ng-bind="::item.title"></div>
	</div>
	<time><sky-ago date-time="{{::item.createdDate}}"></sky-ago></time>
</a>
