@keyframes ma-line-transclude-in {
	to {
		transform:translateX(0px);
	}
}

@keyframes svg-line-in {
	from {
		stroke-dasharray:34.5px;
		stroke-dashoffset:34.4px;
	}
	to {
		stroke-dashoffset:0px;
	}
}

@keyframes wipe-in {
	from {
		transform:translateY(-100%);
	}
	to {
		transform:translateY(0%);
	}
}

@keyframes wipe-out {
	from {
		transform:translateY(0%);
	}
	to {
		transform:translateY(100%);
	}
}

@keyframes spinner-draw {
	0% {
		transform:translateX(-75%);
	}
	100% {
		transform:translateX(75%);
	}
}

