/**
 * All element specific style goes in this file.
 *
 * Try and make elements as reusable as posible,
 * and keep the selectors loose
 */

ma-text-contain {
	display:block;
	position:relative;

	ng-transclude {
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		position:absolute;
		display:inline-block;
		text-align:center;
		line-height:0.8;
		font-size:300px;
	}
}

ma-headline {
	display:block;
	margin-bottom:20px;
	text-align:left;

	.grid & {
		@include gt(phone) {
			margin-top:-0.2em;
			margin-left:column(-1, tablet);
		}
		@include gt(tablet) {
			margin-left:column(-1, desktop);
		}
	}

	.wrap > & {
		@include at(phone) {
			margin-left:10px;
		}
	}
}

ma-media {
	display:block;

	.image {
		width:100%;
		padding-top:44.444%;
		display:block;
		margin:0;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;

		.area-8 &,
		.area-6 & {
			padding-top:140%;
		}
	}
}

ma-line {
	display:block;
	$animation:0.5s $CubicInOut;
	position:relative;

	.svg-line {
		position:absolute;
		width:13px;
		height:4px;
		top:0.2em;
		@include gt(phone) {
			height:7px;
			width:27px;
		}

		line {
			stroke:$color-navy;
			stroke-dashoffset:0px;

			[ma-appear] & {
				stroke-dasharray:34.5px;
				stroke-dashoffset:34.4px;
				opacity:0;
				transition:$animation, opacity 0.3s;
			}
		}
	}

	.transcluded {
		display:block;
		position:relative;
		padding-left:20px;
		@include gt(phone) {
			padding-left:column(1, tablet);
		}
		@include gt(tablet) {
			padding-left:column(1, desktop);
		}

		[ma-appear] & {
			transform:translateX(column(-1,phone));
			transition:$animation;
			transition-property:transform;
			@include gt(phone) {
				transform:translateX(column(-1,tablet));
			}
			@include gt(tablet) {
				transform:translateX(column(-1,desktop));
			}
		}
	}

	[ma-appear].appear & {
		.svg-line line {
			opacity:1;
			stroke-dashoffset:0px;
		}

		.transcluded {
			transform:translateX(0);
		}
	}
}

ma-form {
	display:block;
	background-color:$color-grey;
	padding:column(1, phone);
	margin-bottom:column(1, phone);
	@include gt(phone) {
		padding:column(1);
		margin-bottom:column(1);
	}

	.no-spacing & {
		margin-bottom:0;
	}

	h3,
	h4,
	h5 {
		color:$font-color;
	}
}

ma-matrix {
	display:block;
}

.shortcuts {
	background-color:$color-navy;
	color:#fff;

	ul {
		margin:0;
		list-style-type:none;
		padding:20px 0;
		@include gt(phone) {
			column-count:2;
		}
	}

	li {
		margin:0;
		position:relative;
		padding:0 0 0 column(1, phone);
		@include gt(phone) {
			padding:0 0 0 column(2);
		}
	}

	a {
		color:inherit;
		text-decoration:none;
		display:block;
		margin-bottom:3px;

		@include hover {
			color:$color-blue;
		}
	}

	.svg-line {
		position:absolute;
		left:10px;
		top:4px;
		width:10px;
		height:2px;
		opacity:0;
		@include gt(phone) {
			left:20px;
		}
		@include gt(tablet) {
			left:35px;
		}

		line {
			stroke:$color-blue;
		}
	}

	.active {
		color:$color-blue;
		font-style:italic;
		letter-spacing:0.1px;

		line {
			stroke-dashoffset:0;
		}

		.svg-line {
			opacity:1;
		}
	}

	.theme-title-navigation {
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;

		ma-title-navigation {
			display:block;
			flex:1 0 auto;
		}
	}

	.theme-icon {
		width:column(2);
		padding:10px 0;
		align-self:center;
		flex:0 0 90px;
		@include at(phone) {
			display:none;
		}
		@include gt(tablet) {
			flex:0 0 120px;
		}

		svg {
			margin:0 auto;
			display:block;
			width:70px;
			height:70px;
		}
	}
}

.filters {
	padding:20px 10px 20px;
	background-color:$color-navy;
	color:#fff;
	position:relative;
	@include gt(phone) {
		padding:20px column(1, tablet);
	}
	@include gt(tablet) {
		padding:20px column(1, desktop);
	}

	ul {
		padding:0;
		margin:0;
		list-style-type:none;
		display:block;
		@include clearfix;
	}

	li {
		margin:0 10px 0 0;
		@include gt(phone) {
			float:left;
		}

		&.ng-enter {
			opacity:0;
			transition:0.3s opacity;
		}

		&.ng-enter.ng-enter-active {
			opacity:1;
		}
	}

	button {
		font-size:inherit;
		background-color:$color-navy;
		outline:none;
		border:none;
		padding:0;
		border-radius:17px;
		cursor:pointer;
		color:#fff;
		position:relative;
		transition:0.3s;
		@include at(phone) {
			text-align:left;
		}
	}

	.svg-line {
		position:absolute;
		left:0;
		top:0.3em;
		width:13px;
		height:4px;

		line {
			opacity:0;
			stroke:#fff;
			transition:0.3s;
		}
	}

	.types {
		font-size:20px;

		.active {
			padding-left:20px;

			line {
				opacity:1;
				stroke-dashoffset:0;
			}
		}
	}

	.has-been {
		position:absolute;
		top:25px;
		right:20px;
		font-size:14px;
		color:$color-blue;
		@include gt(phone) {
			right:40px;
		}
		@include gt(tablet) {
			right:60px;
		}

		svg {
			transform:translateX(-20px);
		}

		line {
			opacity:1;
			stroke-dashoffset:0;
			stroke:$color-blue;
		}

		@include hover {
			color:#fff;

			line {
				stroke:#fff;
			}
		}
	}

	.options {
		font-size:14px;
		position:relative;
		left:-15px;
		margin-top:10px;

		button {
			margin-bottom:5px;
			padding:5px 15px;
		}

		.active {
			background-color:rgba(#000, 0.15);
		}
	}
}

.theme-details {
	color:#5b5b5b;
	margin-left:column(1);
	margin-bottom:0;
	margin-top:20px;

	td {
		padding-bottom:5px;
		&:first-child {
			width:80px;
		}
	}
}

.manchet {
	background-color:#f7f7f7;
	color:#5b5b5b;
	font-size:18px;
	line-height:1.5;
	font-style:italic;
	@include gt(phone) {
		font-size:20px;
	}

	div:first-child {
		padding:40px column(1, phone);
		@include gt(phone) {
			padding:40px column(1);
		}
	}
}

.manchet-more {
	display:flex;
	align-items:flex-end;
	flex-direction:row;
	padding:0 column(1, phone);
	background-color:#f7f7f7;
	color:#5b5b5b;
	font-size:18px;
	line-height:1.5;
	@include at(phone) {
		flex-wrap:wrap;
	}
	@include gt(phone) {
		padding:0 column(1);
		font-size:20px;
	}

	&:not(:first-child) {
		margin-top:-20px;
	}

	&.fill {
		background-color:$color-grey;
	}

	p,
	a {
		margin:20px 0;
	}

	p {
		flex:0 0 100%;
		margin:35px 0;
		padding-right:20px;
		align-self:center;
		order:0;
		@include at(phone) {
			margin:20px 0 0;
		}
		@include gt(phone) {
			flex:1 1 100%;
		}

		&:empty {
			@include at(phone) {
				display:none;
			}
		}
	}

	.button {
		flex:0 1 auto;
		align-self:flex-end;
		order:1;
		&:empty {
			display:none;
		}
	}
}

.ma-contact-person {
	position:relative;
	.area-19 & {
		@include gt(phone) {
			display:flex;
			flex-wrap:wrap;
			align-items:center;
		}
	}

	h3 {
		margin-bottom:45px;

		.area-19 & {
			@include gt(phone) {
				display:none;
			}
		}
	}

	h4 {
		font-size:20px;
	}

	em,
	a {
		display:block;
	}

	p {
		&:last-child {
			margin:0;
		}
	}

	a {
		color:$font-color;

		@include hover {
			color:$color-navy;
		}
	}

	img {
		position:absolute;
		top:50%;
		left:50%;
		display:block;
		width:100%;
		height:auto;
		min-width:100%;
		min-height:100%;
		transform:translate(-50%, -50%);
	}

	td {
		padding-bottom:5px;

		&:first-child {
			color:$color-blue;
			padding-right:20px;
		}
	}

	table {
		margin-bottom:30px;
		&:empty {
			display:none;
		}
	}

	.ma-line {
		svg {
			top:0.3em;
			width:13px;
			height:4px;
		}

		line {
			stroke:$color-grey-darker;
		}

		.transcluded {
			@include gt(phone) {
				padding:0 column(1, tablet);
			}
			@include gt(tablet) {
				padding:0 column(1, desktop);
			}

			.area-6 & {
				@include gt(phone) {
					transform:translateX(column(-0.5,tablet));
				}
				@include gt(tablet) {
					transform:translateX(column(-0.5,desktop));
				}

				@include gt(phone) {
					margin-top:50px;
				}
			}
		}
	}

	[sky-accordion] {
		width:100%;
		position:relative;
		@include gt(phone) {
			padding-left:column(6, tablet);
		}
		@include gt(tablet) {
			padding-left:column(6, desktop);
			padding-right:column(1, desktop);
		}

		.area-6 & {
			display:block;
			@include gt(phone) {
				display:none;
			}
		}

		&.open {
			[sky-accordion-toggle] {
				&:before {
					content:'læs mindre';
				}
			}
		}
	}

	[sky-accordion-toggle] {
		color:#5b5b5b;
		width:auto;
		border:none;
		outline:none;
		font-weight:normal;
		height:auto;
		line-height:1;
		margin:20px 0 0;
		@include at(phone) {
			display:block;
			width:100%;
			text-align:right;
		}
		@include gt(phone) {
			margin:0;
			position:absolute;
			top:-40px;
			right:20px;
		}

		&:before {
			content:'læs mere';
		}
	}

	[sky-accordion-content] {
		li {
			margin-left:20px;
		}
	}

	.svg-arrow {
		background-color:$color-navy;
		border-radius:50%;
		padding:10px 13px;
		width:35px;
		height:35px;
		vertical-align:middle;
		margin-left:20px;
		transform:rotate(90deg);
		transition:0.3s;
		@include gt(tablet) {
			padding:15px 18px;
			width:45px;
			height:45px;
		}

		line {
			stroke:#fff;
		}

		@include hover {
			background-color:$color-blue;
		}
	}

	.image {
		position:relative;
		border-radius:50%;
		overflow:hidden;
		transform:translateZ(0);
		margin:0 auto 30px;
		width:column(6, phone);
		height:column(6, phone);
		background-color:$color-grey-dark;
		@include gt(phone) {
			width:column(3, tablet);
			height:column(3, tablet);
		}
		@include gt(tablet) {
			width:column(3, desktop);
			height:column(3, desktop);
		}

		.area-19 & {
			@include gt(phone) {
				display:inline-block;
				margin:20px column(1, tablet) 25px;
				margin-right:column(1, tablet);
			}
			@include gt(tablet) {
				margin:20px column(1, desktop) 25px;
				margin-right:column(1.5, tablet);
			}
		}
	}
}

.curved-container {
	left:50%;
	transform:translateX(-50%);
	position:absolute;

	.svg-curved-line {
		width:485px;
		height:890px;
		position:absolute;
		right:0;
		bottom:50px;
		transform:translate(81%, 12%) scale(-1,1) rotate(51deg);
		transform-origin:18% 90%;
		pointer-events:none;

		path {
			stroke:$color-navy;
			transition-delay:0.4s, 0.65s;
			stroke-dashoffset:-64px;
			opacity:0;

			.appear & {
				opacity:1;
			}
		}

		.svg-arrow {
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%) rotate(90deg);
			height:26px;
			width:18px;

			line {
				stroke:$color-navy;
			}
		}
	}

	.button {
		transform:scale(0);
		opacity:0;
		transition:0.3s;
		transition-property:transform, opacity;
		width:80px;
		height:80px;
		min-width:0;
		padding:32px;
		position:absolute;
		bottom:-20px;
		left:50%;
		margin-left:-40px;

		&:before {
			border-radius:50%;
			background-color:#fff;
		}

		.appear & {
			transition-delay:0.4s;
			opacity:1;
			transform:scale(1);
		}
	}

	.svg-arrow {
		width:100%;
		transform:rotate(90deg);
		position:relative;
		top:-4px;

		line {
			stroke:$color-navy;
		}
	}
}

.section-action {
	position:relative;
	margin-bottom:200px;
	@include gt(phone) {
		margin-top:100px;
	}

	a {
		text-decoration:none;
		display:block;
		color:$color-navy;

		@include hover {
			color:$color-blue;
		}
	}

	span {
		display:inline-block;
		vertical-align:middle;
		line-height:1;
	}

	br {
		@include gt(phone) {
			display:none;
		}
	}

	.button {
		display:inline-block;
		min-width:0;
		width:85px;
		height:85px;
		padding:27px 33px 24px;
		margin-left:50px;

		&:before {
			background-color:$color-blue;
			border-radius:50%;
		}

		svg {

			line {
				stroke:#fff;
			}
		}
	}

	.action {
		position:absolute;
		right:20px;
		@include gt(phone){
			bottom:-20px;
			right:0;
		}
	}

	.svg-long-line {
		position:absolute;
		right:-25px;
		bottom:-105px;
		height:180px;
		width:1150px;
		pointer-events: none;
		z-index:-1;
		transform-origin:100% 50%;
		transform:rotate(-320deg);

		line {
			stroke:rgba(#000, 0.05);
		}
	}

	.svg-curved-line {
		position:absolute;
		right:45px;
		bottom:-95px;
		width:485px;
		height:915px;
		pointer-events: none;
		z-index:-1;
		transform-origin:50% 50%;
		transform:rotate(-240deg);

		path {
			stroke:rgba(#000, 0.05);
		}
	}
}

.theme-matrix {
	padding-top:10px;
	padding-bottom:10px;
	@include gt(phone) {
		padding-top:0;
		padding-bottom:0;
		display:flex;
		flex-wrap:wrap;
		align-items:stretch;
	}

	li {
		position:relative;
		margin:0;
		display:block;

		@include gt(phone) {
			width:calc(33.3333% - 13.3333px);
			border-left:1px solid transparentize($color-grey-dark, 0.25);

			&:after {
				content:'';
				position:absolute;
				top:-1px;
				left:20px;
				right:20px;
				height:1px;
				background-color:transparentize($color-grey-dark, 0.25);
			}

			&:nth-child(1) {
				order:5;
				border:none;
			}

			&:nth-child(2) {
				order:9;
				border:none;
			}

			&:nth-child(3) {
				order:13;
				border:none;
			}

			&:nth-child(4) {
				order:6;
			}

			&:nth-child(5) {
				order:7;
			}

			&:nth-child(6) {
				order:10;
			}

			&:nth-child(7) {
				order:11;
			}

			&:nth-child(8) {
				order:14;
			}

			&:nth-child(9) {
				order:15;
			}

			/* headers columns */

			&:nth-child(10) {
				order:0;
			}

			&:nth-child(11) {
				order:1;
				border:none;
			}

			&:nth-child(12) {
				order:2;
			}

			&:nth-child(13) {
				order:3;
			}

			/* headers rows */

			&:nth-child(14) {
				order:4;
				border-left:none;
			}

			&:nth-child(15) {
				order:7;
				border-left:none;
			}

			&:nth-child(16) {
				order:11;
				border-left:none;
				border-bottom:none;
			}
		}
		@include gt(tablet) {

			&:after {
				left:40px;
				right:40px;
			}
		}
	}

	a {
		display:block;
		width:100%;
		height:100%;
		min-height:105px;
		text-decoration:none;
		color:inherit;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:20px + 65 + 20;
		padding-right:20px;

		&:before {
			content:'';
			display:block;
			position:absolute;
			top:-1px;
			bottom:0;
			left:0;
			right:0;
			background-color:transparentize($color-grey, 0.6);
			opacity:0;
			transform:scale(0.8);
			transition:opacity 0.2s,
						transform 0.3s $CubicOut;
		}

		@include gt(phone) {
			padding-top:20px;
			padding-bottom:50px;
			padding-left:20px + 65 + 20;
			padding-right:20px;

		}
		@include gt(tablet) {
			padding-top:40px;
			padding-bottom:60px;
			padding-left:40px + 105 + 20;
			padding-right:40px;
		}

		@include hover {
			.icon {
				transform:scale(1);
				transition-duration:0.3s;
			}

			&:before {
				transform:scale(1);
				opacity:1;
			}
		}
	}

	svg {
		border-radius:inherit;
	}

	.header-both {
		display:none;
		@include gt(phone) {
			position:relative;
			display:block;
			width:40px;
			height:40px;
			background: linear-gradient(45deg, transparentize($color-grey-dark, 0.7) 49%, $color-grey-dark 51%);
			line-height:40px;
			font-size:10px;
			font-style:italic;
			vertical-align:middle;
			white-space:nowrap;
			color:$color-grey-darker;
			border:none;
			z-index:2;

			.header-vertical {
				position:absolute;
				top:50%;
				left:50%;
				margin-top:12px;
				transform:translate(-50%,-50%) rotate(45deg);
			}

			.header-horizontal {
				position:absolute;
				top:50%;
				left:50%;
				margin-left:12px;
				transform:translate(-50%,-50%) rotate(45deg);
			}
		}
		@include gt(tablet) {
			font-size:12px;

			.header-vertical {
				margin-top:20px;
				margin-left:-1px;
				transform:translate(-50%,-50%) rotate(45deg);
			}

			.header-horizontal {
				margin-left:20px;
				margin-top:-1px;
				transform:translate(-50%,-50%) rotate(45deg);
			}
		}
	}

	.header-columns {
		display:none;
		@include gt(phone) {
			position:relative;
			display:block;
			height:40px;
			background-color:$color-grey-dark;
			line-height:40px;
			font-size:11px;
			vertical-align:middle;
			white-space:pre;
			color:transparentize($color-grey-darker, 0.2);
			text-align:center;
			border-left:1px solid transparentize($color-grey-darker, 0.75);

			&:after {
				content:none;
				display:none;
			}
		}
		@include gt(tablet) {
			font-size:13px;
		}
	}

	.header-rows {
		display:none;
		@include gt(phone) {
			position:relative;
			display:block;
			width:40px;
			overflow:hidden;
			background-color:transparentize($color-grey-dark, 0.7);
			line-height:13px;
			font-size:11px;
			vertical-align:middle;
			white-space:pre;
			color:transparentize($color-grey-darker, 0.2);
			text-align:center;
			border-bottom:1px solid transparentize($color-grey-darker, 0.75);

			&:after {
				content:none;
				display:none;
			}

			span {
				position:absolute;
				top:50%;
				left:50%;
				display:block;
				white-space:nowrap;
				width:auto;
				transform:translate(-50%, -50%) rotate(90deg);
			}
		}
		@include gt(tablet) {
			font-size:13px;
			line-height:15px;
		}
	}

	.icon {
		display:block;
		position:absolute;
		left:20px - 5;
		width:65px + 10;
		height:65px + 10;
		z-index:1;
		transform:scale(0.95);
		transition:transform 0.6s $CubicOut;
		border-radius:50%;

		@include gt(phone) {
			left:20px - 5;
			width:65px + 10;
			height:65px + 10;
		}
		@include gt(tablet) {
			left:40px - 5;
			width:105px + 10;
			height:105px + 10;
		}
	}

	.number {
		position:relative;
		display:block;
		opacity:0.3;
		font-size:25px;
		z-index:1;
		@include gt(phone) {
			font-size:30px;

		}
		@include gt(tablet) {
			font-size:35px;
		}
	}

	.title {
		position:relative;
		font-size:16px;
		line-height:22px;
		z-index:1;
		@include gt(phone) {
			font-size:15px;
			line-height:18px;
		}
		@include gt(tablet) {
			font-size:18px;
			line-height:25px;
		}
	}
}

.theme-shortcut {
	$colors:#a68897, #b86975, #815c5e, #28b8d2, #658b9a, #008ea7, #b8ca8e, #72c6a2, #0db294;
	position:relative;
	overflow:hidden;
	padding:0;
	@include lt(tablet) {
		display:none;
	}

	ul {
		height:130px;
		margin:0;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		list-style-type:none;
		transition:height 0.3s 0s $CubicInOut;

		@include hover {
			height:260px;
		}
	}

	li {
		padding:25px 0;
		margin:0;
		flex-grow:1;

		&:after {
			content:'';
			border-left:10px solid transparent;
			border-right:10px solid transparent;
			border-bottom:10px solid transparent;
			margin:15px auto 0;
			display:block;
			width:0;
			opacity:0;
			transform:scale(0.2);
			transform-origin:50% 100%;
			transition:0.2s linear;
		}

		@include hover {
			transition-delay:0s !important;

			&:after {
				transform:scale(1);
				opacity:1;
			}

			.overlay {
				z-index:30;
				display:block;
				height:130px;
				opacity:1;
				transform:translateY(0%);

				h5,
				span {
					transform:translateY(-50%);
					opacity:1;
				}
			}
		}
	}

	a {
		width:80px;
		height:80px;
		padding:5px;
		display:block;
		position:relative;
		margin:0 auto;

		&:before {
			content:'';
			width:80px;
			height:80px;
			border-radius:50%;
			background-color:#c3c3c3;
			position:absolute;
			top:0;
			left:0;
			z-index:0;
			transform:scale(0.8);
			transition:transform 0.3s;
		}

		svg {
			border-radius:50%;
			overflow:hidden;
			position:relative;
			z-index:1;
		}

		@include hover {
			&:before {
				transform:scale(1);
			}
		}
	}

	h5 {
		font-size:25px;
		color:#fff;
		position:absolute;
		top:50%;
		transition:0.3s $CubicOut;
		transform:translateY(-40px);
		opacity:0;
	}

	span {
		position:absolute;
		top:50%;
		transform:translateY(-25%);
		font-size:123px;
		color:rgba(#fff, 0.2);
		z-index:0;
		line-height:1;
		opacity:0;
		transition:0.3s $CubicOut;
	}

	.overlay {
		position:absolute;
		top:130px;
		left:0;
		width:100%;
		z-index:20;
		pointer-events:none;
		height:130px;
		opacity:0;
		transition:0.2s linear;
		overflow:hidden;

		line {
			stroke:#fff;
			stroke-dasharray:0;
		}

		.svg-line {
			position:absolute;
			left:0;
			top:25px;
			width:27px;
			height:7px;
		}

		.wrap {
			position:relative;
			padding:25px 0;
			padding-left:column(1, phone);
			height:130px;
			@include gt(phone) {
				padding-left:column(1);
			}
		}
	}

	@for $i from 1 through length($colors) {
		li:nth-child(#{$i}) {
			&:after {
				border-bottom:10px solid nth($colors, $i);
			}

			.overlay {
				background-color:nth($colors, $i);
			}
		}
	}
}

.list-more {
	position:relative;
	text-align:center;

	button {
		min-width:0;
		padding:19px;
		width:65px;
		height:65px;
		@include gt(phone) {
			width:85px;
			height:85px;
		}

		&:before {
			background-color:$color-blue;
			border-radius:50%;
		}
	}

	.svg-long-line {
		position:absolute;
		width:1150px;
		height:180px;
		left:50%;
		bottom:0px;
		transform-origin:0% 50%;
		transform:translate(55px, 125px) rotate(-131deg);
		z-index:-1;
		@include gt(tablet) {
			bottom:15px;
		}

		line {
			stroke:rgba(#000, 0.05);
			stroke-dashoffset:0;
		}
	}

	.svg-dimond {
		width:30px;
		width:30px;

		rect {
			stroke:#fff;
			stroke-width:10px;
		}
	}
}

.wide-navigation {
	width:100vw;
	height:100%;
	margin:0 auto;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	pointer-events:none;
	overflow:hidden;
	@include at(phone) {
		display:none;
	}

	button {
		background-color:rgba(#fff, 0.5);
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		border:none;
		outline:none;
		width:column(2, tablet);
		height:column(3, tablet);
		border-radius:column(1.5, tablet) 0 0 column(1.5, tablet);
		transition:transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), 0.2s linear;
		pointer-events:auto;
		cursor:pointer;
		@include gt(tablet) {
			width:column(2, desktop);
			height:column(3, desktop);
			border-radius:column(1.5, desktop) 0 0 column(1.5, desktop);
		}

		@include hover {
			background-color:rgba(#fff, 1);
			transform:translate(15px, -50%);

			line {
				stroke:$color-navy;
			}

			.svg-arrow {
				transform:translate(-10px, -50%);
			}
		}

		&.ng-hide {
			opacity:0;
			transform:translate(50%, -50%) scale(0.8);
			display:block !important;

			.svg-arrow {
				transform:translate(-10px, -50%);
			}
		}

		&.next {
			right:0;
		}

		&.previous {
			left:0;
			transform:translateY(-50%) rotate(180deg);

			@include hover {
				transform:translate(-15px, -50%) rotate(180deg);
			}

			&.ng-hide {
				transform:translate(-50%, -50%) scale(0.8) rotate(180deg);
			}
		}

		line {
			stroke:$color-blue;
			transition:0.2s;
		}

		.svg-arrow {
			position:absolute;
			top:50%;
			right:30px;
			height:30px;
			width:18px;
			transform:translate(0, -50%);
			transition:transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
			@include gt(tablet) {
				right:50px;
			}
		}
	}
}

.member-headline {
	background-color:$color-grey;
	padding:20px 0;
	@include gt(phone) {
		padding:20px column(0.5);
	}

	h2 {
		font-size:20px;
		@include gt(tablet) {
			font-size:30px;
		}
	}

	ma-line {
		svg {
			width:13px;
			height:4px;
			top:7px;
		}

		.transcluded {
			@include gt(phone) {
				transform:translateX(column(-0.5,tablet));
				padding:0 column(0.5, tablet);
			}
			@include gt(tablet) {
				transform:translateX(column(-0.5,desktop));
				padding:0 column(0.5, desktop);
			}
		}
	}

	ma-headline {
		margin:0;
	}
}

.member-list {
	@include clearfix;
	margin:0;
	padding:0;
	list-style-type:none;
	@include gt(phone) {
		width:calc(100% + 10px);
	}

	li {
		margin:0;
		padding:0 0 10px;
		@include gt(phone) {
			width:50%;
			padding:0 10px 10px 0;
			float:left;
		}
		@include gt(tablet) {
			width:33.333%;
		}
	}

	a {
		background-color:#f7f7f7;
		display:block;
		display:flex;
		align-items:center;
		align-content:center;
		text-align:center;
		width:100%;
		height:75px;
		text-decoration:none;
		font-weight:bold;
		color:$color-grey-darker;

		@include hover {
			color:$color-blue;
		}
	}

	span {
		display:block;
		width:100%;
	}
}

.fragments {
	position:absolute;
	top:1000px;
	left:0;
	bottom:0;
	overflow:hidden;
	width:100%;
	z-index:-1;
	margin:0;

	.wrap {
		position:relative;
		height:3700px;
	}

	sky-svg {
		position:absolute;
		width:323px;
		height:594px;
		@include gt(tablet) {
			width:485px;
			height:890px;
		}

		.svg-curved-line path {
			stroke:rgba(#000, 0.05);
			transition-delay:0.5s;
		}

		&:nth-child(1) {
			right:0;
			transform:translateX(50%) scale(-1) rotate(45deg);
		}

		&:nth-child(2) {
			top:800px;
			left:-100px;
			transform:scale(-0);
			transform-origin:19% 93%;
			transition:0.35s 0.5s $BackOut;

			path {
				stroke-dashoffset:63.8px;
			}

			&.appear {
				transform:scale(-2.5);
			}
		}

		&:nth-child(3) {
			right:90%;
			bottom:0;
			transform:rotate(25deg);
		}

	}
}

.membership-details {

	table {
		width:100%;

		h2 {
			font-size:20px;
			@include gt(tablet) {
				font-size:30px;
			}
		}

		ma-headline {
			margin:0;
		}
	}

	td,
	th {
		padding:12px 10px;
		@include gt(phone) {
			padding:12px 20px;
		}
	}

	th {
		text-align:left;
		&:first-child {
			vertical-align:middle;
			@include gt(phone) {
				padding-left:column(1, tablet);
			}
			@include gt(tablet) {
				padding-left:column(1, desktop);
			}
			@include gt(desktop) {
				padding-left:column(1, wide);
			}
		}
	}

	td {
		&:first-child {
			@include gt(phone) {
				padding-left:column(2, tablet);
			}
			@include gt(tablet) {
				padding-left:column(2, desktop);
			}
			@include gt(desktop) {
				padding-left:column(2, wide);
			}
		}

		&[sky-svg] {
			text-align:center;
		}
	}

	ul {
		margin:0;
	}

	li {
		list-style-type:none;
		padding:10px 0 0;

		&:before {
			content:'–';
			padding:0 15px 0 0;
		}
	}

	.mobile {
		@include gt(phone) {
			display:none;
		}

		th {
			padding-top:0;
			padding-bottom:0;
		}

		sky-svg {
			display:inline-block;
			height:20px;
			width:30px;
			vertical-align:middle;
			vertical-align:text-bottom;
		}

		&.made {
			polyline {
				stroke:$color-navy
			}
		}

		&.made-plus {
			polyline {
				stroke:$color-blue;
			}
		}
	}

	.sep {
		background-color:#5B5B5B;
		color:#fff;
	}

	.row {
		background-color:#F7F7F7;

		th:nth-child(1n + 2),
		td:nth-child(1n + 2) {
			border-left:2px solid #fff;
			width:20px;
			@include gt(phone) {
				border-left:5px solid #fff;
				width:15%;
			}
		}

		td:nth-child(2) {
			polyline {
				stroke:$color-navy;
			}
		}

		td:nth-child(3) {
			polyline {
				stroke:$color-blue;
			}
		}
	}

	.odd {
		background-color:#e1e1e1;
	}

	.notes {
		font-style:italic;
		background-color:transparent;
	}

	.svg-check {
		width:15px;
		height:15px;
		@include gt(phone) {
			width:20px;
			height:20px;
		}
	}

	.detail {
		.top {
			th:nth-child(1n + 2) {
				@include lt(tablet) {
					font-size:0;
				}
			}
		}
	}

	.finance {
		td,
		th {
			&:nth-child(2) {
				width:30px;
			}

			&:nth-child(3) {
				text-align:right;
			}
		}
	}
}
