.rte {
	padding:0 10px;
	@include gt(phone) {
		padding:0;
	}

	.subtitle {
		font-weight:bold;
		font-size:18px;
		margin-bottom:20px;
		display:block;
		@include gt(tablet) {
			font-size:20px;
		}
	}
}

.quote {
	position:relative;
	margin:column(2, phone) column(1, phone) column(2, phone) column(2, phone);
	@include gt(phone) {
		margin:column(1, tablet) 0;
	}
	@include gt(tablet) {
		margin:column(1, desktop) 0;
	}

	&:first-child {
		margin-top:0;
	}

	.area-15 & {
		@include gt(phone) {
			width:column(11, 15);
		}
	}

	blockquote {
		position:relative;
		font-size:20px;
		color:$color-blue;
		margin-bottom:5px;
		@include gt(phone) {
			font-size:25px;
		}
		@include gt(tablet) {
			font-size:30px;
		}

		&:before {
			content:'”';
			color:$color-navy;
			font-size:90px;
			position:absolute;
			line-height:1;
			transform:translateX(-120%);
			font-weight:bold;
		}
	}
}

.links {
	margin:column(1, phone) 10px;
	border-bottom:1px solid #ccc;
	@include gt(phone) {
		margin:column(1, tablet) 0;
	}
	@include gt(tablet) {
		margin:column(1, desktop) 0;
	}

	ul {
		padding:0;
		margin:0;
		list-style-type:none;
	}

	li {
		margin:0;
		padding-bottom:20px;
		display:block;
		min-height:55px;
	}

	a {
		display:block;
		padding-left:50px;
		position:relative;
		color:#3f3f3f;
		@include gt(tablet) {
			padding-left:60px;
		}

		@include hover {
			.svg-arrow {
				background-color:$color-blue;
			}
		}
	}

	.svg-arrow {
		background-color:$color-navy;
		position:absolute;
		top:0;
		left:0;
		border-radius:50%;
		padding:10px 13px;
		width:35px;
		height:35px;
		transform:translateY(-25%);
		transition:0.3s;
		@include gt(tablet) {
			padding:15px 18px;
			width:45px;
			height:45px;
		}

		line {
			stroke:#fff;
		}
	}
}

.spot {
	background-color:$color-grey;
	margin-bottom:30px;
	padding:30px 10px;
	@include gt(phone) {
		padding:30px 20px;
	}
	@include gt(tablet) {
		padding:45px 30px;
	}

	.area-6 & {
		h3 {
			.svg-line {
				@include gt(phone) {
					display:none;
				}
			}

			.transcluded {
				@include gt(phone) {
					transform:none;
					padding:0;
				}
			}
		}
	}

	.area-19 & {
		@include gt(phone) {
			padding:30px column(1, tablet) 30px column(2, tablet);
		}
		@include gt(tablet) {
			padding:45px column(1, desktop) 30px column(2, desktop);
		}

		h3 {
			.ma-line {
				@include gt(phone) {
					margin-left:column(-1, tablet);
				}
				@include gt(tablet) {
					margin-left:column(-1, desktop);
				}
			}

			.svg-line {
				display:block;
			}
		}
	}
}

.spot-links {
	h3 {
		margin-bottom:45px;
	}

	ul {
		.area-19 & {
			@include gt(phone) {
				display:flex;
				flex-direction:row;
				flex-wrap:wrap;
			}
		}
	}

	li {
		.area-19 & {
			@include gt(phone) {
				flex:1 1 50%;
			}
		}
	}

	.links {
		margin:0;
		border:none;
	}
}

.spot-facts {
	em {
		display:block;
		margin-bottom:20px;
	}

	ma-text-contain {
		color:$color-navy;

		&:last-child {
			margin-bottom:20px;
		}
	}

	.description {
		.area-6 & {
			padding-top:10px;
			padding-bottom:10px;
			@include gt(tablet) {
				padding-bottom:25px;
			}
		}

		.area-19 & {
			@include gt(tablet) {
				column-count:2;
				column-gap:180px;
			}
		}
	}

	.spot {
		.area-6 & {
			padding-bottom:0;
		}
	}
}

.related {
	position:relative;

	ul {
		margin:0;
		padding:0;
		list-style-type:none;
		transition:0.4s $CubicInOut;
		@include gt(phone) {
			display:flex;
			flex-direction:row;
		}
	}

	li {
		margin:0;
		margin-bottom:10px;
		width:100%;
		background-color:#e1e1e1;
		@include gt(phone) {
			margin-right:10px;
			flex:0 0 (column(7, tablet) - 10px);
			height:(column(7, tablet) - 10px);
		}
		@include gt(tablet) {
			flex:0 0 (column(5, desktop) - 10px);
			height:(column(5, desktop) - 10px);
		}
	}

	a {
		display:block;
		height:100%;
		width:100%;
		color:#fff;
		text-decoration:none;
		overflow:hidden;
		transform:translateZ(0);
		padding:20px;
		position:relative;

		&:before {
			content:'';
			width:150%;
			height:150%;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			opacity:0.05;
			z-index:0;
			pointer-events:none;
		}
	}

	h5 {
		font-size:20px;
		margin-bottom:10px;
		color:#fff;
	}

	.ma-line {
		font-style:italic;
		margin-bottom:20px;
		svg {
			width:13px;
			height:4px;
			top:7px;
		}

		line {
			stroke:#fff;
		}

		.transcluded {
			@include gt(phone) {
				/*transform:translateX(column(-0.5,tablet));*/
				padding:0 column(0.5, tablet);
			}
			@include gt(tablet) {
				/*transform:translateX(column(-0.5,desktop));*/
				padding:0 column(0.5, desktop);
			}
		}
	}

	.tools {
		a {
			background-color:$color-navy;

			&:before {
				background-image:url(/img/6153ma/related-tool-background.jpg);
			}
		}
	}

	.cases {
		a {
			background-color:$color-blue;

			&:before {
				background-image:url(/img/6153ma/related-case-background.jpg);
			}
		}
	}

	@for $i from 1 through 10 {
		li:nth-child(#{$i}n) .tool:before {
			transform:translate(-50%, -50%) rotate(random(1000) + deg) scale((random(50)/100) + 1);
		}
		li:nth-child(#{$i}n) .case:before {
			transform:translate(-50%, -50%) rotate(random(1000) + deg) scale((random(50)/100) + 1);
		}
	}
}

.gallery {
	background-color:$color-grey;
	padding:column(1, phone);
	padding-left:column(2, phone);
	margin-bottom:column(1, phone);
	@include gt(phone) {
		padding:column(1);
		padding-left:column(2);
		margin-bottom:column(1);
	}

	.no-spacing & {
		margin-bottom:0;
	}
}

.media-container {
	margin-bottom:20px;

	em {
		display:block;
		padding:20px 10px;
		border-bottom:1px solid #ccc;
		color:$color-blue;
		font-style:italic;
		@include gt(phone) {
			padding:20px 0;
		}
	}
}
