.grid {
	section {
		&:last-child {
			margin-bottom:0;
		}
	}

	h2 {
		padding:0 10px;
		@include gt(phone) {
			padding:0;
		}
	}

	img {
		width:100%;
	}

	.areas {
		@include gt(phone) {
			display:flex;
			flex-wrap:wrap;
			flex-direction:row;
		}
	}

	.area-6 {
		@include gt(phone) {
			width:column(6);
			margin-left:column(2);
		}
	}

	.area-8 {
		@include gt(phone) {
			width:column(8);
			margin-left:column(2);
		}
	}

	.area-9 {
		@include gt(phone) {
			width:column(9);
			margin-left:column(2);
		}
	}

	.area-15 {
		@include gt(phone) {
			width:column(15);
			margin-left:column(2);
		}
	}

	.area-16 {
		@include gt(phone) {
			width:column(16);
			margin-left:column(2);
		}
	}

	.area-19 {
		@include gt(phone) {
			width:column(19);
		}
	}
}
