/**
 * All layout specific style goes in this file
 *
 * Keep reusable-element specific styles in the _elements.css file
 */
ui-view {
	+ ui-view {
		z-index:1;
		position:relative;
	}
}

header {
	background-color:$color-grey-light;

	section {
		padding:30px 10px;
		margin:0;
		@include gt(phone) {
			padding:20px 0 50px;
		}
	}

	h1 {
		display:block;
		color:$color-navy;
		font-size:30px;
		align-self:flex-start;
		width:100%;
		@include gt(phone) {
			font-size:45px;
		}
		@include gt(tablet) {
			font-size:60px;
		}

		.ma-line .svg-line line {
			stroke:$color-navy;
		}
	}

	time {
		color:$color-blue;
		align-self:flex-start;
		margin-left:column(1);
		display:block;
		margin-bottom:10px;
		font-size:18px;
		@include gt(tablet) {
			font-size:20px;
		}
	}

	.number {
		position:absolute;
		left:column(1);
		color:rgba(#b2b2b2, 0.5);
		z-index:0;
		bottom:0;
		line-height:0.8;
		font-size:130px;
		@include gt(phone) {
			font-size:180px;
		}
		@include gt(tablet) {
			font-size:230px;
		}
	}

	.title {
		display:flex;
		flex-direction:column-reverse;
		position:relative;
		min-height:120px;
		@include gt(phone) {
			min-height:150px;
		}
	}
}

section {
	display:block;

	.content & {
		padding-top:column(1, phone);
		padding-bottom:column(1, phone);
		@include gt(phone) {
			padding:0;
			padding-top:column(1, tablet);
			padding-bottom:column(1, tablet);
		}
		@include gt(tablet) {
			padding-top:column(1, desktop);
			padding-bottom:column(1, desktop);
		}

		&.no-spacing {
			padding-bottom:0;

			+ section {
				padding-top:0;
			}
		}
	}

	&.fill {
		background-color:$color-grey-light;
		background-color:rgba(#646464, 0.05);
	}

	&.matrix {
		padding:0;
	}
}

footer {
	color:#fff;
	background-color:$color-blue;
	position:relative;
	z-index:0;

	h5 {
		color:#fff;
		font-size:20px;
		line-height:1;
	}

	ul {
		list-style-type:none;
		margin:0;
		padding:column(1) 0 column(1) column(1);
		@include gt(phone) {
			display:flex;
			flex-direction:row;
			align-items:center;
		}
	}

	li {
		display:inline-block;
		margin:0;
		padding-right:40px;
		@include gt(phone) {
			flex:1 1 auto;
		}

		&:last-child {
			padding-right:0;
		}
	}

	img {
		display:block;
		width:50%;
		height:auto;
		@include gt(phone) {
			width:100%;
		}
	}

	h4 {
		color:#fff;
		font-size:25px;
		margin-bottom:30px;
		text-transform:uppercase;
		line-height:1;
		@include gt(phone) {
			font-size:30px;
		}
	}

	a {
		color:#fff;
		@include hover {
			color:#5b5b5b;
		}
	}

	.ma-line .svg-line line {
		stroke:#fff;
	}

	.wrap {
		position:relative;
		z-index:1;
	}

	.curved-container {
		bottom:-100px;
		z-index:0;
		@include at(phone) {
			display:none;
		}
	}

	.svg-logo {
		width:110px;
		height:25px;
		margin-bottom:30px;

		circle {
			fill:#fff;
		}

		line,
		path {
			stroke:#fff;
		}
	}

	.right {
		display:block;
		@include gt(phone) {
			width:column(13);
			flex:1 1 column(13);
		}
	}

	.left {
		margin-bottom:column(2, phone);
		@include gt(phone) {
			width:column(6);
			flex:1 1 column(6);
		}
	}

	.partners {
		background-color:$color-navy;
		padding:35px 10px;
		position:relative;
		z-index:1;
		@include gt(phone) {
			padding:35px 0 0;
		}
	}

	.footer {
		background-color:$color-blue;
		overflow:hidden;
		@include gt(phone) {
			position:fixed;
			bottom:0;
			left:0;
			width:100%;
			z-index:0;
		}

		.wrap {
			padding:35px 10px 70px;
			@include gt(phone) {
				padding:100px 0;
				display:flex;
				flex-direction:row;
			}
			@include gt(tablet) {
				padding:100px 0 200px;
			}
		}

		.transcluded {
			transform:translateX(0);
		}
	}

	.footer-mailchimp {
		h5 {
			text-transform:uppercase;
			margin-bottom:20px;
			margin-top:20px;
		}

		input {
			display:inline-block;
			height:44px;
			line-height:44px;
			border-radius:30px;
			font-size:18px;
			padding:0 30px;
			vertical-align:middle;
			margin:0 0 10px;
			@include gt(tablet) {
				margin:0 10px 10px 0;
				width:calc(50% - 20px);
			}

			&:nth-child(2) {
				margin-right:0;
			}
		}

		button {
			min-height:0;
			padding:10px 20px;
			vertical-align:middle;
			margin:0 10px 10px 0;

			&:before {
				background-color:$color-navy;
			}
		}
	}
}

ui-view {
	display:block;

	& + ui-view {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
}

.all-wrap {
	min-height:100vh;
	background-color:#fff;
	position:relative;
	z-index:1;
	padding-top:column(2, phone);
	@include gt(phone) {
		padding-top:85px;
	}
}

.content {
	padding-bottom:column(3, phone);
	@include gt(phone) {
		padding-bottom:column(3, tablet);
	}
	@include gt(tablet) {
		padding-bottom:column(3, desktop);
	}
}

.wipe {
	pointer-events:none;
	content:'';
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:1000;
	transform:translateZ(1000px) translateY(0%);
	background-color:#eee;

	&.leave {
		animation:wipe-out 0.4s both $QuartInOut;
	}

	&.enter {
		animation:wipe-in 0.5s both $CubicInOut;
		pointer-events:auto;
	}
}

.spinner {
	position:fixed;
	height:12px;
	left:50vw;
	top:50vh;
	margin-left:-20px;
	width:40px;
	border-radius:25px;
	overflow:hidden;
	transform:translateZ(1100px);
	z-index:1100;
	opacity:1;
	transition:0.3s 0.4s;
	opacity:0;
	display:block;
	animation:spinner-draw 0.1s;
	@include gt(phone) {
		margin-left:-35px;
		width:70px;
	}

	&:before {
		content:'';
		position:absolute;
		border-radius:25px;
		width:100%;
		height:100%;
		background-color:$color-navy;
		display:block;
		animation-name:spinner-draw;
		animation-duration:0.5s;
		animation-timing-function:$QuartInOut;
		animation-iteration-count:infinite;
		animation-direction:alternate;
		animation-play-state:running !important;
	}

	.loading & {
		opacity:1;
		transition:0.3s 0.25s;
	}

	.init & {
		opacity:1;
		transition:none;
	}

	.menu-open &,
	.search-open & {
		transition-delay:0.6s;
	}
}

.wrap {
	width:100%;
	@include gt(phone) {
		width:column(19, tablet);
		margin-left:auto;
		margin-right:auto;
	}
	@include gt(tablet) {
		width:column(19, desktop);
	}
}

.hero {
	position:relative;
	overflow:hidden;

	.frontpage & {
		height:calc(100vh - 145px);
	}

	.articles &{
		height:200px;

		@include gt(tablet) {
			height:290px;
		}
		@include gt(deksktop) {
			height:420px;
		}
	}

	.article & {
		height:160px;
	}

	&:after {
		content:'';
		width:100%;
		height:200vh;
		position:absolute;
		top:-200px;
		left:0;
		background-color:$color-blue;
		background-image:radial-gradient(ellipse at center, #00aee9 40%, #0d395a 100%);
		opacity:0.8;
		/*box-shadow:0 0 15vw 20vw $color-navy inset;*/
		pointer-events:none;
	}

	video,
	img {
		position:absolute;
		left:50%;
		min-width:100%;
		min-height:100%;
		top:50%;
		transform:translate(-50%, -50%);
	}

	video {
		@include at(phone) {
			display:none;
		}
	}

	img {
		width:auto;
		height:auto;
		margin:0;
		display:block;
	}

	.svg-logo {
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		width:160px;
		height:36px;
		z-index:3;

		line,
		path{
			stroke:#fff;
		}

		circle {
			fill:#fff;
		}
	}
}

.breadcrumb {
	color:#838383;
	font-size:14px;
	padding:0;
	margin-bottom:column(1, phone);
	@include gt(phone) {
		margin-bottom:column(1);
	}

	li {
		position:relative;
		display:inline-block;
		padding-right:15px;
		margin:0;
		@include gt(phone) {
			padding-right:40px;
		}

		&:nth-last-child(2) {
			svg {
				display:none;
				@include gt(phone) {
					display:initial;
				}
			}
		}

		&:last-child {
			pointer-events:none;
			color:$color-blue;
			font-style:italic;
			padding:0;
			display:none;
			@include gt(phone) {
				display:inline-block;
			}

			svg {
				display:none;
			}
		}
	}

	svg {
		position:absolute;
		top:50%;
		transform:translate(50%, -50%);
		width:14px;
		height:8px;
		right:10px;
		@include gt(phone) {
			right:20px;
		}

		#center {
			visibility:hidden;
			@include gt(phone) {
				visibility:visible;
			}
		}
	}

	line {
		stroke:#838383;
	}

	a {
		color:inherit;
		text-decoration:none;

		&:hover {
			color:$color-blue;
		}
	}
}
