nav {
	.search {
		&:before {
			content:'';
			position:absolute;
			width:300vmax;
			height:300vmax;
			border-radius:50%;
			transform:translate(50%, -50%) scale(0);
			transform:translate3d(50%, -50%, 0px) scale(0);
			transition:0.4s $SineOut;
			z-index:1;
			pointer-events:none;
			top:30px;
			right:30px;
			background-color:$color-blue;
			@include gt(phone) {
				background-color:$color-navy;
				top:80px;
				right:30px;
			}

			.search-open & {
				transition:0.4s $QuartIn;
				transform:translate(50%, -50%) scale(1);
				transform:translate3d(50%, -50%, 0px) scale(1);
			}
		}
	}
}

.navigation {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:85px;
	z-index:40;
	background-color:#fff;
	@include gt(phone) {
		display:block;
	}

	&.hide {
		button {
			&:before {
				background-color:$color-blue;
			}

			circle,
			line {
				stroke:#fff;
			}
		}
	}

	navigation {
		ul {
			list-style-type:none;
			margin:0;
			padding:10px 0;
			color:#5b5b5b;
			font-size:13px;
			text-transform:lowercase;
		}

		li {
			position:relative;
			padding:0;
			margin:0 15px 0 0;
			display:inline-block;

			&.active {
				color:$color-blue;
			}
		}

		.svg-line {
			opacity:0;
			position:absolute;
			top:5px;
			left:0;
			width:14px;
			height:4px;
			transition:0.3s;

			line {
				transition:0.3s;
				stroke:$color-navy;
			}
		}
	}

	a {
		text-decoration:none;
		font-family:'Droid Serif', sans-serif;
		color:inherit;
		display:block;
		transition:0.3s;
		cursor:pointer;
		position:relative;
		left:0;
	}

	.wrap {
		position:relative;
	}

	.primary {
		text-transform:uppercase;
		font-size:23px;
		line-height:1;
		color:$color-navy;

		li {
			margin:0 30px 0 0;
		}

		li:hover,
		.active {
			a {
				left:20px;
				padding-right:10px;
			}

			line {
				stroke-dashoffset:0;
			}

			.svg-line {
				opacity:1;
			}
		}

		.active {
			line {
				stroke:$color-blue;
			}
		}
	}

	.secondary {
		a:hover,
		.active {
			color:$color-blue;
		}
	}

	.search {
		position:absolute;
		right:0px;
		top:0px;
		height:100%;
		width:100%;
		margin-left:-60px;
		pointer-events:none;

		line,
		circle {
			stroke:$color-blue;
			stroke-dashoffset:0;
		}

		.svg-line {
			overflow:visible;
			position:absolute;
			right:0;
			top:100%;
			transform-origin:-40px 90px;
			transform:translateX(100%) rotate(-45deg);
			height:150px;
			width:568px;
			margin-right:60px;
			@include gt(tablet) {
				transform-origin:-60px 120px;
				height:190px;
				width:719px;
			}
		}
	}
}

.mobile-navigation {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:column(2, phone);
	background-color:$color-navy;
	z-index:50;
	@include gt(phone) {
		display:none;
	}

	&:before {
		content:'';
		position:absolute;
		width:300vmax;
		height:300vmax;
		right:column(1, phone);
		top:column(1, phone);
		background-color:#fff;
		border-radius:50%;
		transform:translate(50%, -50%) scale(0);
		transform:translate3d(50%, -50%, 0px) scale(0);
		transition:0.5s $CubicInOut;
		z-index:-1;

		.menu-open & {
			transform:translate(50%, -50%) scale(1);
			transform:translate3d(50%, -50%, 0px) scale(1);
		}
	}

	button {
		float:right;
		width:50%;
		outline:none;
		margin:0;
		border:none;
		background-color:transparent;
		height:column(2, phone);
		width:column(2, phone);
		cursor:pointer;
		position:relative;

		svg {
			height:20px;

			line,
			circle {
				stroke:#fff;

				.menu-open & {
					stroke:$color-navy;
				}
			}
		}
	}

	ul {
		list-style-type:none;
		margin:0 0 column(1);
		padding:0 20px;
		transition:0.4s transform $QuartInOut, 0.4s opacity;
		opacity:0;
		text-transform:lowercase;

		.menu-open & {
			transform:translateX(0);
			opacity:1;
			transition:0.4s 0.1s transform $QuartInOut, 0.4s 0.15s opacity;
		}
	}

	li {
		position:relative;
		margin:0 0 3px;
		padding:0;

		&.active {
			color:$color-blue;
		}
	}

	a {
		text-decoration:none;
		font-family:'Droid Serif', sans-serif;
		color:inherit;
	}

	input {
		width:100%;
		height:100%;
		border:none;
		outline:none;
		border-radius:0;
		background-color:rgba(#fff, 0.95);
		color:$color-navy;
		font-size:20px;
		padding:0 20px;
		line-height:column(2, phone);
		pointer-events:auto;
		transform:translateX(-100%);
		transition:0.3s transform $QuartInOut;

		@include placeholder {
			color:$color-navy;
		}

		.search-open & {
			transform:translateX(0);
		}
	}

	.svg-loop {
			line,
			circle {
				transition:stroke 0.3s 0.2s;

				.menu-open & {
					transition:stroke 0.3s 0.15s;
				}
			}
	}

	.logo {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		padding:20px 10px;
		transition:opacity 0.3s 0.2s, transform 0.3s 0.2s;

		svg {
			height:20px;
			width:88px;
			display:block;
		}

		line,
		path,
		circle {
			transition:0.3s 0.15s;
		}

		line,
		path {
			stroke:#fff;

			.menu-open & {
				stroke:$color-navy;
			}
		}

		circle {
			fill:#fff;

			.menu-open & {
				fill:$color-navy;
			}
		}

		.search-open & {
			opacity:0;
		}

		.menu-open & {
			transform:translateX(10px);
		}
	}

	.burger {
		background-color:rgba(#000, 0.1);
		position:absolute;
		right:0;
		top:0;
	}

	.search {
		position:absolute;
		top:0;
		right:column(2, phone);
		z-index:2;
	}

	.search-container {
		position:absolute;
		right:column(4, phone);
		left:0;
		height:column(2, phone);
		overflow:hidden;
		pointer-events:none;
		transform:translateX(100%);
		transition:0.3s transform $QuartInOut;

		.search-open & {
			transform:translateX(0);
		}
	}

	.container {
		position:absolute;
		left:0;
		top:column(3, phone);
		width:100%;
		min-height:100vh;
		color:$color-navy;
		overflow:hidden;
		pointer-events:none;

		.menu-open & {
			pointer-events:auto;
			transform:translateX(0);
		}
	}

	.primary {
		text-transform:uppercase;
		font-size:25px;
		line-height:1.2;

		li {
			margin-bottom:10px;
		}

		.active {
			padding-left:20px;

			.svg-line {
				opacity:1;
			}
		}
	}

	.svg-line {
		opacity:0;
		position:absolute;
		top:5px;
		left:0;
		width:14px;
		height:4px;

		line {
			stroke:$color-blue;
			stroke-dasharray:0;
		}
	}
}

button.search-trigger {
	position:absolute;
	right:0;
	top:20px;
	z-index:2;
	border:none;
	border-radius:50%;
	width:60px;
	height:60px;
	min-width:0;
	display:block;
	padding:0;
	margin:0;
	transform:translateY(50%);
	outline:none;
	cursor:pointer;
	pointer-events:auto;
	transition:transform 0.3s;

	&:before {
		transition:transform 0.15s $CubicOut, background 0.3s 0;
		background-color:$color-navy;
		@include gt(phone) {
			background-color:#fff;
		}
	}

	.search-open & {
		@include at(phone) {
			transform:translate(50px);
		}
		&:before {
			@include gt(phone){
				background-color:$color-blue;
			}
		}
	}

	svg {
		width:23px;
		height:24px;
	}

	circle,
	line {
		transition:0.3s;

		.search-open & {
			/*transition:0.3s 0.3s;*/
			stroke:#fff;
		}
	}
}
