.svg-line {
	line {
		stroke-dasharray:34.5px;
		stroke-dashoffset:34.4px;
	}
}

.svg-icon-digital,
.svg-icon-fremtid,
.svg-icon-hurtig,
.svg-icon-hyper,
.svg-icon-livslang,
.svg-icon-model,
.svg-icon-modulaer,
.svg-icon-sensorer,
.svg-icon-threed {
	border-radius:50%;
	overflow:hidden;
}
