.articles {

	.hero {
		.svg-curved-line {
			position:absolute;
			z-index:2;
			top:0;
			left:0;
			width:490px;
			height:914px;
			transform:translate(-20%, -50%) scale(-0.6, 0.6) rotate(230deg);
			@include gt(phone) {
				width:40vw;
				height:80vw;
				transform:translate(-30%, -30%) scale(-1, 1) rotate(220deg);
			}
			@include gt(tablet) {
				width:25vw;
				height:50vw;
				transform:translate(-20%, -50%) scale(-1, 1) rotate(230deg);
			}

			path {
				stroke:$color-navy;
			}
		}
	}

	.areas {
		transition:background 0.3s;
		cursor:pointer;

		@include hover {
			background-color:rgba(#000, 0.05);

			.button {
				@extend .button:hover;
			}
		}
	}

	.area {
		@include clearfix;
		display:block;

		p {
			@include at(phone) {
				padding:0 10px;
			}
		}

		.button {
			margin-top:20px;
			float:right;
			@include at(phone) {
				margin-right:10px;
			}
		}
	}

	.matrix {
		margin-bottom:100px;
	}

	.matrix-action {
		display:none;
	}
}
