.event {
	.wrapper {
		@include gt(phone) {
			display:flex;
			flex-wrap:wrap;
			flex-direction:row;
		}
	}

	.grid {
		@include gt(phone) {
			width:column(11);
		}
	}

	aside {
		@include gt(phone) {
			width:column(6);
			margin-left:column(2);
		}
	}

	.details {
		background-color:$color-grey;

		&.wide {
			padding:column(1);

			td:first-child {
				@include gt(tablet) {
					padding-left:column(1, desktop);
				}
			}
		}

		td {
			@include lt(desktop) {
				display:block;
			}

			&:first-child {
				color:$color-blue;
				padding-right:10px;
				min-width:100px;

				strong {
					font-weight:normal;
				}
			}

			&:last-child {
				padding-bottom:20px;
			}
		}

		tr:last-child td:last-child {
			padding:0;
		}
		p:last-child {
			margin-bottom:0;
		}
	}
}
