.frontpage {
	h2 {
		text-transform:uppercase;
	}

	header {
		h1 {
			color:#fff;
			width:100%;

			.svg-line line {
				stroke:#fff;
				/*stroke-dashoffset:34.5px;*/
			}

			ng-transclude {
				transform:translateX(column(-1,phone));
				@include gt(phone) {
					transform:translateX(column(-1,tablet));
				}
				@include gt(tablet) {
					transform:translateX(column(-1,desktop));
				}
			}
		}

		.wrap {
			position:relative;
		}

		.svg-logo {
			top:20%;
		}

		&.appear {
			ng-transclude {
				transform:translateX(0);
			}

			.statement {
				opacity:1;
			}
		}
	}

	.manchet {
		background-color:transparent;
	}

	.curved-container {
		top:-30px;
	}

	.statement {
		position:absolute;
		left:0;
		bottom:100%;
		margin-bottom:130px;
		color:#fff;
		font-size:20px;
		opacity:0;
		transition:opacity 0.3s;
	}

	.manchet {
		@include gt(phone) {
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
		}

		a {
			margin:0;
			white-space:nowrap;
		}

		p {
			margin:0;
		}

		.container {
			@include gt(phone) {
				flex:0 0 column(13);
				padding-right:0;
			}
		}

		.meta {
			padding-left:30px;
			@include gt(phone) {
				flex:0 0 column(6);
				align-self:center;
				text-align:right;
			}
		}
	}
}
