<footer>
	<address>
		<h5>Kontakt</h5>
		<p>
			<strong>Lorem Ipsum</strong><br/>
			Dummyvej 1<br/>
			1234 Andeby<br/>
			Tlf: 12 12 12 12<br/>
			<a href="#">post@email.dk</a>
		</p>
	</address>

</footer>
