<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, maximum-scale=1" id="viewport">
	<title>{{{title}}} - Sitename</title>

	<link rel="shortcut icon" href="/img/0000xx/icons/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/img/0000xx/icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/img/0000xx/icons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/img/0000xx/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/img/0000xx/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/img/0000xx/icons/apple-touch-icon-152x152.png" />
	<link rel="stylesheet" href="/css/6153ma/styles.css" type="text/css" media="all">

</head>
