<nav class="mobile-navigation" ma-mobile-navigation>
	<div class="bar">
		<a href="/" class="logo" sky-svg="logo"></a>
		<button class="burger" ng-click="menuOpen=!menuOpen" sky-svg="burger"></button>
		<div class="search-bar">
			<form>
				<button class="search" ng-click="searchOpen=!searchOpen" sky-svg="loop"></button>
				<div class="search-container">
					<input type="search" placeholder="Skriv hvad du søger ...">
				</div>
			</form>
		</div>
	</div>
	<div class="container">
		<ul class="primary">
			<li sky-svg="line"><a href="">Forside</a></li>
			<li sky-svg="line"><a href="">Temaer</a></li>
			<li sky-svg="line"><a href="">Made Academy</a></li>
			<li class="active" sky-svg="line"><a href="">Om Made</a></li>
		</ul>
		<ul class="secondary">
			<li><a href="">kontakt</a></li>
			<li><a href="">nyt og presse</a></li>
			<li><a href="">aktiviteter</a></li>
			<li><a href="">medlemsskab</a></li>
			<li><a href="">in english</a></li>
		</ul>
	</div>
</nav>
