<nav class="navigation">
	<div class="wrap">
		<ul class="secondary">
			<li><a href="">kontakt</a></li>
			<li><a href="">nyt og presse</a></li>
			<li><a href="">aktiviteter</a></li>
			<li><a href="">medlemsskab</a></li>
			<li class="active"><a href="">in english</a></li>
		</ul>
		<ul class="primary">
			<li sky-svg="line"><a href="">Forside</a></li>
			<li sky-svg="line"><a href="">Temaer</a></li>
			<li sky-svg="line"><a href="">Made Academy</a></li>
			<li class="active" sky-svg="line"><a href="">Om Made</a></li>
		</ul>

		<div class="search" sky-svg="line">
			<button sky-svg="loop"></button>
		</div>
	</div>
</nav>
