<section class="fill matrix">
	<div class="wrap">
		<ul class="theme-matrix">
			<li>
				<a ng-href="{{maMatrixCtrl.themes[0].url}}" ma-icon-hover>
					<ma-icon-hurtig class="icon"></ma-icon-hurtig>
					<span class="number">01</span>
					<h2 class="title">Hurtig produkt&shy;udvikling</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[1].url}}" ma-icon-hover>
					<ma-icon-modulaer class="icon"></ma-icon-modulaer>
					<span class="number">02</span>
					<h2 class="title">Modulær produktions&shy;platform</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[2].url}}" ma-icon-hover>
					<ma-icon-threed class="icon"></ma-icon-threed>
					<span class="number">03</span>
					<h2 class="title">3D print og nye produktions&shy;processer</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[3].url}}" ma-icon-hover>
					<ma-icon-model class="icon"></ma-icon-model>
					<span class="number">04</span>
					<h2 class="title">Modelbaseret udvikling af forsyningskæder</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[6].url}}" ma-icon-hover>
					<ma-icon-fremtid class="icon"></ma-icon-fremtid>
					<span class="number">07</span>
					<h2 class="title">Fremtidens produktions&shy;paradigme</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[4].url}}" ma-icon-hover>
					<ma-icon-digital class="icon"></ma-icon-digital>
					<span class="number">05</span>
					<h2 class="title">Digitalisering af forsyningskæder</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[7].url}}" ma-icon-hover>
					<ma-icon-hyper class="icon"></ma-icon-hyper>
					<span class="number">08</span>
					<h2 class="title">Hyperfleksibel automation</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[5].url}}" ma-icon-hover>
					<ma-icon-livslang class="icon"></ma-icon-livslang>
					<span class="number">06</span>
					<h2 class="title">Livslang produkt&shy;tilpasning</h2>
				</a>
			</li>
			<li>
				<a ng-href="{{maMatrixCtrl.themes[8].url}}" ma-icon-hover>
					<ma-icon-sensorer class="icon"></ma-icon-sensorer>
					<span class="number">09</span>
					<h2 class="title">Sensorer og kvalitetskontrol</h2>
				</a>
			</li>
			<li class="header-both"><div class="header-vertical">{{labels['Niveau']}}</div><div class="header-horizontal">{{labels['Fokus']}}</div></li>
			<li class="header-columns" ng-bind-html="labels['ThemeTop1']">Rapid product & production development</li>
			<li class="header-columns" ng-bind-html="labels['ThemeTop2']">Model based production</li>
			<li class="header-columns" ng-bind-html="labels['ThemeTop3']">Complexity management</th>
			<li class="header-rows"><span ng-bind-html="labels['ThemeSide1']">Value chain & <br />business systems</span></li>
			<li class="header-rows"><span ng-bind-html="labels['ThemeSide2']">Integrated production sytems</span></li>
			<li class="header-rows"><span ng-bind-html="labels['ThemeSide3']">Enabling Technologies</span></li>
		</ul>
	</div>
</section>

<div class="wrap section-action matrix-action" ma-appear>
	<div class="action" sky-svg="curved-line">
		<a href="/temaer/" class="hover"><span>Mere om temaerne</span><span class="button" sky-svg="arrow"></span></a>
	</div>
</div>
