<div class="lightbox" ng-class="{fitting:fitting}" ng-if="active.obj.image.length > 0">
	<div class="wrap" id="imgWrap">
		<div class="display" id="imgDisplay" data-stt="tester" ng-style="active.size">
			<img id="img" ng-src="{{active.obj.image}}" ng-if="!active.obj.video" ng-style="active.size" />
			<div class="outer" ng-if="active.obj.video" ng-style="active.size"><div class="inner"><iframe ng-src="{{active.obj.videourl}}"></iframe></div></div>
			<button class="button" no-skyform ng-click="close()" sky-svg="cross"></button>
			<div class="controls">
				<button class="previous" ng-click="prev()" no-skyform ng-show="galleries[active.gallery].length > 1" sky-svg="arrow"></button>
				<button class="next" ng-click="next()" no-skyform ng-show="galleries[active.gallery].length > 1" sky-svg="arrow"></button>
			</div>
			<div class="details">
				<span class="count" ng-show="galleries[active.gallery].length > 1">{{active.index+1}} / {{galleries[active.gallery].length}}</span>
				<p ng-bind="active.obj.altText"></p>
			</div>
		</div>
	</div>
</div><div ng-transclude></div>
