<div class="block">
	<ma-pulsen-item ng-repeat="item in section.slice(0, 4) track by $index" class="pulsen-item"></ma-pulsen-item>
</div>
<ma-pulsen-item ng-repeat="item in section.slice(4) track by $index" class="pulsen-item"></ma-pulsen-item>
