<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img src="img/6153ma/underside-hero.jpg" alt="">
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>Siden er måske blevet flyttet eller nedlagt.</ma-line></h1>
					</div>
			</section>
		</header>

		<div class="wrap">
			<div class="manchet">
				<div>
					MADE – Manufacturing Academy of Denmark – arbejder for at fremme produktion i Danmark gennem forskning, innovation og uddannelse. Her samles virksomheder, forsknings- og videninstitutioner på tværs af brancher for sammen at gøre Danmark til et stærkt produktionsland. Læs mere om MADE her.
				</div>
			</div>
			<div class="manchet-more">
				<a class="button" ng-href="/">
					til forsiden
				</a>
				<p></p>
			</div>
		</div>

		<article class="content">
			<sky-grid class="grid" content="stateCtrl.data.jsonDebug.grid || stateCtrl.data.grid"></sky-grid>
		</article>

	</main>
</div>
