<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<sky-svg>curved-line</sky-svg>
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
				</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<ma-matrix></ma-matrix>

			<sky-grid content="stateCtrl.data.jsonDebug.grid"></sky-grid>
		</article>

	</main>
</div>
