<div class="all-wrap">
	<main class="content-wrap">

		<header ma-header>
			<div class="hero" sky-svg="logo">
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<sky-svg>curved-line</sky-svg>
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
				</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<div class="grid">
				<div class="section grid-19">
					<section class="areas" ng-repeat="item in stateCtrl.data.items track by $index" ng-class="{fill:$odd}" ma-section-click>
						<div class="wrap section">
							<div class="area area-16">
								<ma-headline headline="::item.title"></ma-headline>
								<p ng-bind="::item.teaser"></p>
								<ma-media ng-if="::item.imageUrl" src="::item.imageUrl"></ma-media>
								<a class="button" ng-href="{{::item.url}}" ng-bind="::item.title"></a>
							</div>
						<div>
					</section>
				</div>
			</div>

		</article>

	</main>
</div>
