<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<sky-svg>curved-line</sky-svg>
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
						<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
					</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<section class="wrap membership-details">
				<table class="detail">
					<tr class="mobile made">
						<th colspan="3"><sky-svg>check</sky-svg>Foreningen MADE*</th>
					</tr>
					<tr class="mobile made-plus">
						<th colspan="3"><sky-svg>check</sky-svg>Foreningen Made + Forskning**</th>
					</tr>
					<tr class="row odd top">
						<th><ma-headline headline="'Det får du som MADE-medlem'"></ma-headline></th>
						<th>Foreningen MADE*</th>
						<th>Foreningen Made + Forskning**</th>
					</tr>
					<tr class="sep">
						<td colspan="3">Netværk og viden</td>
					</tr>
					<tr class="row">
						<td>Industrielle partnerskaber - med fokus på videndeling</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Gratis adgang til MADE-arrangementer for alle medarbejdere:</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>
							Innovationskonferencer
							<ul>
								<li>Open Labs</li>
								<li>Virksomhedsbesøg</li>
								<li>MADE Årsdag</li>
								<li>Arrangementer ved generalforsamling</li>
							</ul>
						</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Stemmeberettiget ved MADE's generalforsamling</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>MADE's Nyhedsbrev</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Deltagelse i forskningsklynger ifm. MADE's Arbejdspakker</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Adgang til finansiering af demonstrationsprojekter (kun SMV)</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Matchmaking med virksomheder og forskere</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="sep">
						<td colspan="3">Markedsføring</td>
					</tr>
					<tr class="row">
						<td>Synlighed for potentielle kunder og partnere</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="sep">
						<td colspan="3">Internationalisering</td>
					</tr>
					<tr class="row odd">
						<td>Invitationer til internationale industribaserede forskningsprojekter</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Invitationer til internationale produktionskonferencer</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Assistance med ansøgninger til europæiske forskningsprojekter</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Matchmaking med internationale industrielle partnere</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Præsentation af medlemmers interesser i EFFRA</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="sep">
						<td colspan="3">Forskning og projekter</td>
					</tr>
					<tr class="row">
						<td>Fokus og bistand ift. finansieringsmuligheder i EU og danmark</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Matchmaking</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Sparring omkring projektidéer</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Invitation til deltagelse i alle relevante projekter</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Adgang til projektarbejde af kandidatstuderende</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Adgang til projektarbejde af diplomingeniører</td>
						<td sky-svg="check"></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>Deltagelse i forskningsprojekter</td>
						<td></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row odd">
						<td>Adgang til MADE's forskningshold</td>
						<td></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row">
						<td>
							Deltagelse i MADE's forskningsprojekter
							<ul>
								<li>Adgang til postdoc forskere</li>
								<li>Adgang til ph.d.-studerende</li>
								<li>Adgang til førende professorer</li>
								<li>Adgang til arbejdspakke-resultater</li>
								<li>Adgang til industrielle kernespillere i arbejdspakken</li>
								<li>"First mover"-fordel af ny viden og teknologi</li>
								<li>Online adgang til made it-platform</li>
							</ul>
						</td>
						<td></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="sep">
						<td colspan="3">Talent</td>
					</tr>
					<tr class="row odd">
						<td>Du får adgang til over 30 ph.d.-studerende og ingeniører på tvlrs af alle fremstillingsområder</td>
						<td></td>
						<td sky-svg="check"></td>
					</tr>
					<tr class="row notes">
						<td colspan="3">
							<p><span>*</span> I henhold til medlems- og kontingentstruktur for MADE</p>
							<p><span>**</span> I henhold til retningslinjer for deltagelse som forskningspartner</p>
						</td>
					</tr>
				</table>
			</section>

			<section class="wrap membership-details">
				<table class="finance">
					<tr class="row odd top">
						<th><ma-headline headline="'Medlems- og kontingent&shy;struktur pr. 1. juli 15'"></ma-headline></th>
						<th></th>
						<th>Kontingent år</th>
					</tr>
					<tr class="sep">
						<td colspan="3">Industrielle medlemmer</td>
					</tr>
					<tr class="row">
						<td>Virksomheder med aktiviteter i Danmark, der samlet beskæftiger mere end 1.000 ansatte</td>
						<td>I1</td>
						<td>50.000 kr</td>
					</tr>
					<tr class="row odd">
						<td>Virksomheder med aktiviteter i Danmark, der samlet beskæftiger 501-1.000 ansatte</td>
						<td>I2</td>
						<td>40.000 kr</td>
					</tr>
					<tr class="row">
						<td>Virksomheder med aktiviteter i Danmark, der samlet beskæftiger 251-500 ansatte</td>
						<td>I3</td>
						<td>30.000 kr</td>
					</tr>
					<tr class="row odd">
						<td>Virksomheder med aktiviteter i Danmark, der samlet beskæftiger 101-250 ansatte</td>
						<td>I4</td>
						<td>20.000 kr</td>
					</tr>
					<tr class="row">
						<td>Virksomheder med aktiviteter i Danmark, der samlet beskæftiger op til 100 ansatte</td>
						<td>I5</td>
						<td>5.000 kr</td>
					</tr>
					<tr class="row odd">
						<td>Iværksættere</td>
						<td>I7</td>
						<td>* Første medlemsår gratis</td>
					</tr>
					<tr class="sep">
						<td colspan="3">Forsknings- og uddannelsesmedlemmer</td>
					</tr>
					<tr class="row">
						<td>Forskningsinstitutioner og GTS-institutioner i Danmark med mere end 250 ansatte</td>
						<td>FU1</td>
						<td>50.000 kr</td>
					</tr>
					<tr class="row odd">
						<td>Forskningsinstitutioner og GTS-institutioner i Danmark med færre end 250 ansatte</td>
						<td>FU2</td>
						<td>30.000 kr</td>
					</tr>
					<tr class="row">
						<td>Uddannelsesinstitutioner i Danmark. Herunder erhvervsskoler, erhvervsakademier etc.</td>
						<td>U</td>
						<td>20.000 kr</td>
					</tr>
					<tr class="sep">
						<td colspan="3">Andre medlemmer</td>
					</tr>
					<tr class="row">
						<td>Klynger, netværk mv. i Danmark, som opfylder foreningens formål, idet de har kompetence og interesse for industriel produktion med mere end 250 medlemmer</td>
						<td>AM1</td>
						<td>30.000</td>
					</tr>
					<tr class="row odd">
						<td>Klynger, netværk mv. i Danmark, som opfylder foreningens formål, idet de har kompetence og interesse for industriel produktion med færre end 250 medlemmer</td>
						<td>AM2</td>
						<td>20.000</td>
					</tr>
					<tr class="sep">
						<td colspan="3">Sponsorer</td>
					</tr>
					<tr class="row">
						<td>Organisationer, foreninger, fonde, netværk, e.l., der indgår aftale om sponsorering og medfinansering af MADE</td>
						<td>S</td>
						<td>Uden kontingent</td>
					</tr>
					<tr class="sep">
						<td colspan="3">Associerede</td>
					</tr>
					<tr class="row odd">
						<td>Udenlandske samarbejdspartnere, herunder forskningsinstitutioner i MADE-SPIR, andre udenlandske parter m.fl. der bidrager som sparring, udveksling mv.</td>
						<td></td>
						<td>** Uden kontingent</td>
					</tr>
					<tr class="row notes">
						<td colspan="3">
							<div>
								<span>* </span> Kriterierne for at kunne gøre brug af MADE's tilbud til iværksættere er:
								<ul>
									<li>Reelt nyetableret virksomhed, som ikke er et resultat af en fusion, ejerskifte eller lignende.</li>
									<li>Virksomheden er under fem år gammel</li>
									<li>Virksomheden har mindst to fultidsbeskæftigende eller hvad, der svarer dertil.</li>
								</ul>
							</div>
							<br>
							<div>
								<span>** </span>
								Fsva. stemmevægt for sponsorer så følges niveauerne for "Industrielle medlemmer" (I1-I5), idet ingen sponsor dog kan have flere stemmer end de største MADE-medlemmer, der repræsenteres i I1 samt FU1 med 10 stemmer.
							</div>
						</td>
					</tr>
				</table>
			</section>

			<div class="grid membership-details">
				<div class="section grid-19">
					<section>
						<div class="wrap areas">
							<div class="area area-15">
								<div class="control headline">
									<ma-headline headline="'Principper for kontingentstruktur og kontingentopkrævning i MADE'"></ma-headline>
								</div>
								<div class="control rte">
									<ul>
										<li>Deltagere i MADE Forskningen (SPIR) er fødte medlemmer af MADE og er i forlængelse heraf kontingentpligtige på lige fod med andre medlemmer inden for deres medlemsgruppe.</li>
										<li>Kontingentet opkræves én gang årligt – den 1. juli.</li>
										<li>Medlemmer, der optages i løbet af kontingentåret 1. juli-30. juni betaler et forholdsmæssigt kontingent.</li>
										<li>I tilfælde af udmeldelse af MADE foretages der ikke kontingentrefusion.</li>
									</ul>
									<br>
									* Kriterierne for at kunne gøre brug af MADE's tilbud til iværksættere:
									<ul>
										<li>Reelt nyetableret virksomhed, som ikke er et resultat af en fusion, ejerskifte eller lignende.</li>
										<li>Virksomheden er under fem år gammel</li>
										<li>Virksomheden har mindst to fultidsbeskæftigende eller hvad, der svarer dertil.</li>
									</ul>
									<br>
									** Fsva. stemmevægt for sponsorer så følges niveauerne for "Industrielle medlemmer" (I1-I5), idet ingen sponsor dog kan have flere stemmer end de største MADE-medlemmer, der repræsenteres i I1 samt FU1 med 10 stemmer.
								</div>
							</div>
						</div>
					</section>
					<section class="areas">
						<div class="wrap section">
							<div class="area area-16">
								<ma-headline headline="'Principper for deltagelse i aktiviteter i MADE'"></ma-headline>
							</div>
							<div class="area area-15 rte">
								<p>Et medlemskab af made giver adgang for medlemmets ansatta til deltagelse i MADE-aktiviteter.</p>
								<p>Ikke-medlemmer kan gives adgang til deltagelse i MADE-aktiviteter mod betaling af et gebyr, der fastsættes af MADE-sekrariatet</p>
								<p>Dog gælder, at aktiviteter, der alene knytter sig til MADE Forskningen (SPIR), kan gennemføre som lukkede arrangementer inden for MADE's Arbejdspakker.</p>
								<p>
									<em>Vedtaget på MADE Generalforsamling den 8. april 2014</em><br>
									<em>Ændre på MADE Generalforsamling den 12. maj 2015</em>
								</p>
							</div>
						</div>
					</section>
				</div>
			</div>

		</article>

	</main>
</div>
