<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
			</div>

			<section class="fill theme-shortcut">
				<div class="wrap">
					<ul>
						<li ng-repeat="theme in stateCtrl.data.themes track by $index">
							<a ng-href="{{::theme.url}}" ma-icon-hover>
								<ma-icon icon="{{::theme.icon}}"></ma-icon>
							</a>
							<div class="overlay">
								<div class="wrap" sky-svg="line">
									<span>{{'0' + ($index + 1)}}</span>
									<h5 ng-bind="::theme.name"></h5>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<div class="title">
						<div class="number">0{{stateCtrl.data.number}}</div>
						<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
					</div>
					<table class="theme-details" ng-if="stateCtrl.data.focustext && stateCtrl.data.niveautext">
						<tr ng-if="::stateCtrl.data.focustext">
							<td>Fokus</td>
							<td ng-bind="::stateCtrl.data.focustext"></td>
						</tr>
						<tr ng-if="::stateCtrl.data.niveautext">
							<td>Niveau</td>
							<td ng-bind="::stateCtrl.data.niveautext"></td>
						</tr>
					</table>
				</div>
			</section>
		</header>

		<div class="shortcuts wrap" sky-sticky>
			<div class="theme-title-navigation">
				<ma-title-navigation></ma-title-navigation>
				<div class="theme-icon">
					<ma-icon icon="{{::$parent.stateCtrl.data.icon}}"></ma-icon>
				</div>
			</div>
		</div>

		<div class="wrap">
			<div class="manchet" ng-if="::stateCtrl.data.contentTeaser">
				<div ng-bind-html="::stateCtrl.data.contentTeaser"></div>
			</div>
			<div class="manchet-more" ng-class="{fill:stateCtrl.data.btnDescription}">
				<a class="button" ng-if="::stateCtrl.data.btnLinkItem.Url" ng-href="{{::stateCtrl.data.btnLinkItem.Url}}" ng-attr-traget="{{::stateCtrl.data.btnLinkItem.Target" ng-bind="::stateCtrl.data.btnTitle"></a>
				<p>{{::stateCtrl.data.btnDescription}}</p>
			</div>
		</div>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<sky-grid class="grid" content="stateCtrl.data.jsonDebug.grid || stateCtrl.data.grid"></sky-grid>
		</article>

	</main>
</div>
