<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-hero>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
				</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<section class="wrap areas" ng-repeat="control in stateCtrl.data.faqCategories track by $index">
				<div class="area area-15">
					<ma-headline headline="control.name"></ma-headline>
				</div>
				<div class="area area-19">
					<ma-faqs items="::control.items"></ma-faqs>
				</div>
			</section>

		</article>

	</main>
</div>
