<div class="all-wrap">
	<main class="content-wrap">

		<header ma-header>
			<div class="hero" sky-svg="logo">
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<sky-svg>curved-line</sky-svg>
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
				</div>
			</section>
		</header>

		<div ng-include="'/layout/views/partials/fragments.html'"></div>
		<ma-pulsen></ma-pulsen>

	</main>
</div>
