<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-hero>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<ma-intro-video preload="auto" autoplay loop video-speed="0.7">
					<source src="videos/6153ma/intro.mp4" type="video/mp4"></source>
				</ma-intro-video>
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
				</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<div class="wrap wrapper">
				<sky-grid class="grid" content="stateCtrl.data.jsonDebug.grid || stateCtrl.data.grid"></sky-grid>
				<aside>
					<section>
						<div class="spot">
							<div class="details">
								<table>
									<tr ng-repeat="detail in stateCtrl.data.infos track by $index" ng-if="detail.value != ''">
										<td ng-bind="::detail.name"></td>
										<td ng-bind-html="::detail.value"></td>
									</tr>
								</table>
							</div>
						</div>
					</section>
				</aside>
			</div>

			<section>
				<div class="wrap">
					<div class="details wide">
						<ma-headline headline="'Program'"></ma-headline>
						<table>
							<tr ng-repeat="detail in stateCtrl.data.program track by $index" ng-if="detail.value != ''">
								<td ng-if="::detail.Type == 'programPunkt'" ng-bind="::detail.Time"></td>
								<td colspan="{{::detail.Type == 'overskrift' ? 2 : 1}}">
									<strong ng-bind="::detail.Headline"></strong>
									<div ng-bind-html="::detail.Description"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</section>

			<section ng-if="::stateCtrl.data.formSignup">
				<div class="wrap">
					<ma-headline headline="'Tilmelding'"></ma-headline>
					<ma-form guid="::stateCtrl.data.formSignup"></ma-form>
				</div>
			</section>

		</article>

	</main>
</div>
