<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
						<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
					</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<div class="grid">
				<div class="section grid-19">
					<section>
						<div class="wrap areas">
							<div class="area area-15">
								<div class="control macro">
									<div id="contour_form_Testform" class="contour testform"> <h1>Formularer</h1> <form action="/form.html" enctype="multipart/form-data" method="post"> <input name="__RequestVerificationToken" type="hidden" value="ra4UXshHQJvG1Ytx82vjP_zYZYSF--ewYdDqu_iTPdy3ZeRKZmiNhRuTyRKd5Zb0fkzTk9Cw529jqg-etNfHg4acd5G0ME4XmSOKuBIAkRI1" /> <input data-val="true" data-val-required="The FormId field is required." id="FormId" name="FormId" type="hidden" value="dfb54e65-ea6f-451f-ab93-9accb907fe93" /> <input type="hidden" name="FormStep" id="FormStep" value="1"/> <input type="hidden" name="RecordId" id="RecordId"/> <input type="hidden" name="PreviousClicked" id="PreviousClicked" value=""/> <div class="contourPage"> <h4 class="contourPageName"></h4> <fieldset class="contourFieldSet"> <legend><h2>Titelen på mit fieldset</h2></legend> <div class="contourField testskrivhi textfield" > <label for="727a9178-7ead-4adb-8465-9d0e40d54023" class="fieldLabel"> Alm tekst-felt (skriv hi) <span class="field-validation-valid" data-valmsg-for="727a9178-7ead-4adb-8465-9d0e40d54023" data-valmsg-replace="true"></span> <div><input type="text" name="727a9178-7ead-4adb-8465-9d0e40d54023" id="727a9178-7ead-4adb-8465-9d0e40d54023" class="text" value="" data-val="true" data-val-required="what" maxlength="500" /></div> </label> </div> <div class="contourField datepicker datepicker alternating"  style="display: none"> <label for="a3b141d6-741f-4385-a5a7-760bfd61538d" class="fieldLabel"> datepicker <span class="field-validation-valid" data-valmsg-for="a3b141d6-741f-4385-a5a7-760bfd61538d" data-valmsg-replace="true"></span> <div><input type="text" datepicker-popup="dd-MM-yyyy" ng-model="myDatepicker" is-open="isOpen['myDatepicker']" ng-click="isOpen['myDatepicker']=true" ng-init="isOpen={}"  name="a3b141d6-741f-4385-a5a7-760bfd61538d" id="a3b141d6-741f-4385-a5a7-760bfd61538d"  /></div> </label> </div> <div class="contourField password passwordfield mandatory" > <label for="46177c39-25c1-4555-a82a-2b89b22769da" class="fieldLabel"> password <span class="field-validation-valid" data-valmsg-for="46177c39-25c1-4555-a82a-2b89b22769da" data-valmsg-replace="true"></span> <div><input type="password" name="46177c39-25c1-4555-a82a-2b89b22769da" id="46177c39-25c1-4555-a82a-2b89b22769da" class="text" value="" data-val="true" data-val-required="password is mandatory" data-val-regex="Skal indeholde mindst et stort bogstav, et lille bogstav og et tal, samt v&#230;re minimum 6 karakterer" data-regex="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}" /></div> </label> </div> <div class="contourField onlymandatory textfield mandatory alternating" > <label for="989cc02a-9088-48f6-a08f-7858a05988b2" class="fieldLabel"> only mandatory <span class="field-validation-valid" data-valmsg-for="989cc02a-9088-48f6-a08f-7858a05988b2" data-valmsg-replace="true"></span> <div><input type="text" name="989cc02a-9088-48f6-a08f-7858a05988b2" id="989cc02a-9088-48f6-a08f-7858a05988b2" class="text" value="" maxlength="500" data-val="true" data-val-required="only mandatory is mandatory" /></div> </label> </div> <div class="contourField howawesomemustwewhat textfield" > <label for="8bfc5052-5375-4e18-8953-e12db895a8d8" class="fieldLabel"> How Awesome (must we /^what$/) <span class="field-validation-valid" data-valmsg-for="8bfc5052-5375-4e18-8953-e12db895a8d8" data-valmsg-replace="true"></span> <div><input type="text" name="8bfc5052-5375-4e18-8953-e12db895a8d8" id="8bfc5052-5375-4e18-8953-e12db895a8d8" class="text" value="" maxlength="500" data-val="true" data-val-regex="How Awesome (must we /^what$/) is not valid" data-regex="^what$" /></div> </label> </div> <div class="contourField upload fileupload mandatory alternating" > <label for="92023899-a731-4db4-8d94-6b602dadf07d" class="fieldLabel"> Upload <span class="field-validation-valid" data-valmsg-for="92023899-a731-4db4-8d94-6b602dadf07d" data-valmsg-replace="true"></span> <div><input type="file" name="92023899-a731-4db4-8d94-6b602dadf07d" id="92023899-a731-4db4-8d94-6b602dadf07d" data-val="true" data-val-required="Upload is mandatory" /></div> </label> </div> <div class="contourField checkboxlist checkboxlist mandatory" > <label for="0d06d8ba-beff-4df3-9568-d693c359634c" class="fieldLabel"> checkboxlist <span class="field-validation-valid" data-valmsg-for="0d06d8ba-beff-4df3-9568-d693c359634c" data-valmsg-replace="true"></span> <span class="checkboxlist" id="0d06d8ba-beff-4df3-9568-d693c359634c"> <label for="0d06d8ba-beff-4df3-9568-d693c359634c_234ae9bb-63ec-4c32-a9b3-92e66ff853a6"><input type="checkbox" name="0d06d8ba-beff-4df3-9568-d693c359634c" id="0d06d8ba-beff-4df3-9568-d693c359634c_234ae9bb-63ec-4c32-a9b3-92e66ff853a6" value="item1" data-val="true" data-val-requiredlist="hvorn&#229;r mon denne vises?"    /> item1</label> <br /> <label for="0d06d8ba-beff-4df3-9568-d693c359634c_949e7ec8-6486-40a8-9fdf-cb4b4f8ca608"> <input type="checkbox" name="0d06d8ba-beff-4df3-9568-d693c359634c" id="0d06d8ba-beff-4df3-9568-d693c359634c_949e7ec8-6486-40a8-9fdf-cb4b4f8ca608" value="item2" data-val="true" data-val-requiredlist="hvorn&#229;r mon denne vises?"    /> item2</label> <br /> </span> </label> </div> <div class="contourField selecter dropdownlist mandatory alternating" > <label for="72011e82-3a6a-49da-b0bb-5f0ffb711224" class="fieldLabel"> selecter <span class="field-validation-valid" data-valmsg-for="72011e82-3a6a-49da-b0bb-5f0ffb711224" data-valmsg-replace="true"></span> <div><select name="72011e82-3a6a-49da-b0bb-5f0ffb711224" id="72011e82-3a6a-49da-b0bb-5f0ffb711224" data-val="true" data-val-required="skal udfyldes"><option value=""></option><option value="felt">felt</option><option value="felt2">felt2</option></select></div> </label> </div> <div class="contourField radios radiobuttonlist mandatory" > <label for="6a90889d-9ac7-49f9-9af6-dc16c3e57239" class="fieldLabel"> radios <span class="field-validation-valid" data-valmsg-for="6a90889d-9ac7-49f9-9af6-dc16c3e57239" data-valmsg-replace="true"></span> <div> <span class="radiobuttonlist" id="6a90889d-9ac7-49f9-9af6-dc16c3e57239"> <label for="6a90889d-9ac7-49f9-9af6-dc16c3e57239_575e22e8-f8fd-4ca8-a15c-f66413fb24cf"><input type="radio" name="6a90889d-9ac7-49f9-9af6-dc16c3e57239" id="6a90889d-9ac7-49f9-9af6-dc16c3e57239_575e22e8-f8fd-4ca8-a15c-f66413fb24cf" value="schonert" data-val="true" data-val-requiredlist="v&#230;lg noget" /> schonert</label> <br /> <label for="6a90889d-9ac7-49f9-9af6-dc16c3e57239_0b5be418-6340-43d9-b653-5671ef59cee2"><input type="radio" name="6a90889d-9ac7-49f9-9af6-dc16c3e57239" id="6a90889d-9ac7-49f9-9af6-dc16c3e57239_0b5be418-6340-43d9-b653-5671ef59cee2" value="mhlemuth" data-val="true" data-val-requiredlist="v&#230;lg noget" /> mhlemuth</label> </span> </div> </label> </div> <div class="contourField textarea textarea mandatory alternating" > <label for="7c95ab5a-4702-4365-99d7-d554ba08d357" class="fieldLabel"> textarea <span class="field-validation-valid" data-valmsg-for="7c95ab5a-4702-4365-99d7-d554ba08d357" data-valmsg-replace="true"></span> <div><textarea name="7c95ab5a-4702-4365-99d7-d554ba08d357" id="7c95ab5a-4702-4365-99d7-d554ba08d357" rows="2" cols="20"	data-val="true" data-val-required="skal udfyldes" data-val-regex="en m&#230;rkelig regex" data-regex="\w{0}"></textarea></div> </label> </div> <div class="contourField singlecheckbox checkbox mandatory" > <label for="cbc3a2bf-758c-4c45-a5ad-fc266184a245" class="fieldLabel"> <input type="checkbox" name="cbc3a2bf-758c-4c45-a5ad-fc266184a245" id="cbc3a2bf-758c-4c45-a5ad-fc266184a245" data-val="true" data-val-requiredcb="v&#230;lg mig nu bare" /> single checkbox <div> <span class="field-validation-valid" data-valmsg-for="cbc3a2bf-758c-4c45-a5ad-fc266184a245" data-valmsg-replace="true"></span> </div> </label> </div> </fieldset> <div style="display:none"> <input type="text" id="HoneyPot"/> </div> </div> <div class="contourNavigation"> <input type="submit" value="Next"/> </div> </form> </div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</article>

	</main>
</div>
