<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-hero>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
					<div class="title">
						<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
						<time ng-bind="::stateCtrl.data.newsdate|date:'dd. MMM yyyy'"></time>
					</div>
				</div>
			</section>
		</header>

		<section>
			<div class="shortcuts wrap" sky-sticky>
				<ma-title-navigation></ma-title-navigation>
			</div>
			<div class="wrap">
				<div class="manchet" ng-if="::stateCtrl.data.contentTeaser">
					<div ng-bind-html="::stateCtrl.data.contentTeaser"></div>
				</div>
				<div class="manchet-more" ng-class="{fill:stateCtrl.data.themes.length}">
					<a class="button" ng-if="::stateCtrl.data.themes[0].url" ng-href="{{::stateCtrl.data.themes[0].url}}">mere om temaet her</a>
					<p ng-if="::stateCtrl.data.themes[0]"><em>Omhandler temaet: "{{::stateCtrl.data.themes[0].name}}"</em></p>
				</div>
			</div>
		</section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<sky-grid class="grid" content="stateCtrl.data.jsonDebug.grid || stateCtrl.data.grid"></sky-grid>
		</article>

	</main>
</div>
