<div class="all-wrap">
	<main class="content-wrap">

		<header ma-header>
			<div class="hero" sky-svg="logo">
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
				<ma-video src="videos/6153ma/intro.mp4" preload="auto" autoplay loop video-speed="0.7"></ma-video>
			</div>
			<section>
				<div class="wrap">
					<div class="curved-container">
						<sky-svg>curved-line</sky-svg>
						<button class="button" ma-scroll-trigger sky-svg="arrow"></button>
					</div>
					<div class="statement">
						<em>Vi har én mission:</em>
						<h1><ma-line>Vi skal løfte<br>dansk produktion</ma-line></h1>
					</div>
					<div class="manchet">
						<div class="container" ng-bind-html="::stateCtrl.data.introtext">
						</div>
						<div class="meta">
							<a class="button" ng-href="{{::stateCtrl.data.linkReadMore}}" ng-bind="::stateCtrl.data.linkReadMoreText">Se hvem vi er</a>
						</div>
					</div>
				</div>
			</section>
		</header>

		<article class="content">

			<section class="no-spacing">
				<div class="wrap">
					<ma-headline headline="'Temaer'"></ma-headline>
				</div>
			</section>

			<ma-matrix></ma-matrix>

			<section>
				<div class="wrap">
					<ma-headline headline="'Vores puls'"></ma-headline>
				</div>
			</section>

			<ma-pulsen template="horizontal"></ma-pulsen>
		</article>

	</main>
</div>
