<div class="all-wrap">
	<main class="content-wrap">

		<header>
			<div class="hero" sky-svg="logo" ma-header>
				<img ng-src="{{stateCtrl.data.herourl || 'img/6153ma/underside-hero.jpg'}}" alt="">
			</div>
			<section>
				<div class="wrap">
					<breadcrumb entry-level="1"></breadcrumb>
						<h1><ma-line>{{::stateCtrl.data.contentTitle}}</ma-line></h1>
					</div>
			</section>
		</header>

		<section ng-include="'/layout/views/partials/manchet.html'"></section>

		<article class="content">
			<div ng-include="'/layout/views/partials/fragments.html'"></div>

			<div class="grid">
				<div class="section grid-19">
					<section class="areas" ng-repeat="item in stateCtrl.data.items track by $index">
						<div class="wrap section">
							<div class="member-headline">
								<ma-headline headline="::item.categoryName"></ma-headline>
							</div>
							<ul class="member-list">
								<li ng-repeat="member in item.members track by $index">
									<a ng-href="{{::member.url}}" target="_blank"><span ng-bind="::member.name"></span></a>
								</li>
							</ul>
						<div>
					</section>
				</div>
			</div>
		</article>

	</main>
</div>
