/* Colors */
$color-blue:#00a2c9;
$color-navy:#014d66;
$color-grey:#e1e1e1;
$color-grey-light:#efefef;
$color-grey-dark:#d0d0d0;
$color-grey-darker:#5b5b5b;

$color-1:$color-navy;
$color-2:$color-grey;
$color-3:$color-blue;

/* Font */
$font-name:'Droid Serif', sans-serif;
$icon-font:'myiconfontname';
$bold:700;
$font-color:#3f3f3f;
$link-color:$color-1;
$font-size:16px;
$font-small:12px;
$baseline:20px;

/* Sizes */
$base-margin:20px;
$border-radius:0;

/* Breakpoints */
$columns:19;
$breakpoint-phone:760px;
$breakpoint-tablet:1140px;

@import "imports";
