<div ng-controller="Skybrud.CharLimitEditorController">
    <span ng-if="model.config.multiline==1">
        <textarea ng-model="model.value" ng-change="limitChars()" rows="10" class="umb-editor umb-textarea textstring"></textarea>
    </span>
    <span ng-if="model.config.multiline==0">
        <input ng-model="model.value" ng-change="limitChars()" type="text" class="umb-editor umb-textstring textstring" />
    </span>
    <br/>
    <span ng-bind="info"></span>
</div>