﻿<div class="MadeContactPersonDialog" ng-controller="MadeGridEditors.ContactPersonDialog.Controller">

    <div class="umb-panel-header">

        <div class="umb-el-wrap umb-panel-buttons">
            <div class="span5">
                <div class="form-search">
                    <i class="icon-search"></i>
                    <input type="text" ng-model="searchTerm" class="umb-search-field search-query ng-pristine ng-valid" placeholder="Filter...">
                </div>
            </div>
        </div>
    </div>

    <div class="umb-panel-body with-footer">
        <div ng-repeat="item in items | filter:{name:searchTerm}">
            

            <a ng-if="isSelected(item)" class="itemRow selected" href="#" ng-click="removeItem($index, item)" prevent-default=""><i class="icon icon-user"></i> {{item.name}}</a>
            <a ng-if="!isSelected(item)" class="itemRow notSelected" href="#" ng-click="addItem(item)" prevent-default=""><i class="icon icon-user"></i> {{item.name}} </a>
        </div>

        <div ng-if="items.length == 0" class="empty">
            Der var ingen person
        </div>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <button class="btn btn-primary"
                        ng-click="submit(selected)">
                    <localize key="buttons_select">Select</localize>
                </button>
            </div>
        </div>
    </div>
</div>