﻿<div class="MadeGridFaqDialog" ng-controller="MadeGridEditors.FaqDialog.Controller">
    
    <div class="umb-panel-header">

        <div class="umb-el-wrap umb-panel-buttons">
            <div class="span5">
                <div class="form-search">
                    <i class="icon-search"></i>
                    <input type="text" ng-model="searchTerm" class="umb-search-field search-query ng-pristine ng-valid" placeholder="Filter...">
                </div>
            </div>
        </div>
    </div>
    
    
    <!--
        <h3>Valgte spørgsmål</h3>

        <div ui-sortable="sortableOptions" ng-model="selected">
            <div ng-repeat="item in selected">
                <i class="icon icon-info"></i>
                {{item.question}} ({{item.category.name}})
                <a class="remove" href="#" prevent-default="" ng-click="removeItem($index, item)"><i class="icon icon-delete"></i></a>
                <i class="icon icon-navigation handle" ng-show="selected.length > 1"></i>
            </div>
        </div>

        <div ng-if="selected.length == 0" class="empty">
            Ingen valgte spørgsmål.
        </div>

        <h3>Søg efter spørgsmål</h3>

        <div>
            <input type="text" ng-model="query" />
        </div>
        -->
    

    
    <div class="umb-panel-body with-footer">

        <div ng-repeat="item in items | filter:{name:searchTerm}">
            <a ng-if="isSelected(item)" class="itemRow selected" href="#" ng-click="removeItem($index, item)" prevent-default=""><i class="icon icon-user"></i> {{item.name}}  ({{item.category.name}})</a>
            <a ng-if="!isSelected(item)" class="itemRow notSelected" href="#" ng-click="addItem(item)" prevent-default=""><i class="icon icon-user"></i> {{item.name}}  ({{item.category.name}})</a>
            
            <!--
            <i class="icon icon-info"></i>
            <span ng-if="isSelected(item)"><span style="text-decoration: line-through;">{{item.question}}</span> ({{item.category.name}})</span>
            <a ng-if="!isSelected(item)" href="#" ng-click="addItem(item)" prevent-default="">{{item.question}} ({{item.category.name}})</a>
            -->
        </div>

        <div ng-if="items.length == 0" class="empty">
            Din søgning matchede ingen spørgsmål.
        </div>

    </div>

    



    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <button class="btn btn-primary"
                        ng-click="submit(selected)">
                    <localize key="buttons_select">Select</localize>
                </button>
            </div>
        </div>
    </div>
</div>