.svg-dimond {
	transform:translateY(-15%);
	transition:transform 0.1s $CubicInOut;
	rect {
		stroke-dashArray:67px * 1 67px * 1;
		stroke-dashoffset:101px;
	}

	.spin & {
		transform:translateY(0%);
		rect {
			animation:drawIn 1s 0.3s $SineInOut infinite backwards;
		}
	}
}

@keyframes drawIn {
	0% {
		stroke-dashoffset:101px;
	}
	100% {
		stroke-dashoffset:101px + 67px * 2;
	}
}
