$masterDelay: 0.5;

$ma-logo-conf: (
	mbow1: (
		dash: 140,
		duration: 0.4s,
		delay: 0s
	),
	mbow2: (
		dash: 102,
		duration: 0.4s,
		delay: 0.2s
	),
	abow: (
		dash: 140,
		duration: 0.4s,
		delay: 0.4s
	),
	d: (
		dash: 175,
		duration: 0.4s,
		delay: 0.6s
	),
	etop: (
		dash: 33,
		duration: 0.15s,
		delay: 0.7s
	),
	emid: (
		dash: 27,
		duration: 0.15s,
		delay: 0.9s
	),
	ebottom: (
		dash: 33,
		duration: 0.15s,
		delay: 1.1s
	)
);

@each $name, $conf in $ma-logo-conf {
	svg .ml-#{$name} {
		opacity:0;
		stroke-dasharray: map-get($conf, dash);
		stroke-dashoffset: map-get($conf, dash);
		transition: stroke-dashoffset map-get($conf, duration)*0.7 ($masterDelay+1.1*0.5)-($masterDelay+map-get($conf, delay)*0.5) $CubicOut,
					opacity 0.05s map-get($conf, duration)*0.7+($masterDelay+1.1*0.5)-($masterDelay+map-get($conf, delay)*0.5) linear;
		// animation: ml-anim-#{$name} map-get($conf, duration)*0.7 $masterDelay+map-get($conf, delay)*0.5 $CubicOut forwards;

		@include appear {
			opacity:1;
			stroke-dashoffset: 0;
			transition: stroke-dashoffset map-get($conf, duration)*0.7 $masterDelay+map-get($conf, delay)*0.5 $CubicOut,
					opacity 0.05s $masterDelay+map-get($conf, delay)*0.5 linear;
		}
	}
}

.ml-adot {
	transform-origin:center center;
	transform:scale(0);
	transition: transform 0.15s 0.5s $CubicOut;
	// animation: ml-anim-adot 0.15s $masterDelay+1.2s*0.5 $CubicOut forwards;

	@include appear {
		opacity:1;
		transform:scale(1);
		transition-delay:$masterDelay+1.2s*0.5;
	}
}

.svg-logo {

	path,
	line {
		// opacity:0;
		stroke:#fff;
		stroke-width:12;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
		// stroke: #000000;

	}

	circle {
		fill:#fff;
	}
}
