@keyframes burger-line-in {
	from {
		opacity:0;
		stroke-dashoffset:39px;
	}
	to {
		opacity:1;
		stroke-dashoffset:0;
	}
}

.svg-burger {
	$length:39px;
	transition:transform 0.3s $CubicInOut;
	// transform-origin:50% 50%;
	transform:translateZ(0) rotate(0deg);

	line {
		opacity:1;
		stroke: #fff;
		stroke-width:12;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
		stroke-dasharray:$length;
		animation:burger-line-in 100ms 0s $CubicOut;
		transform:translate(0) rotate(0);
		transition:transform 0.3s $CubicOut 0.3s, stroke 0.3s 0.2s;
		transform-origin:center center;
		// stroke: #000000;
	}

	line:nth-child(2) {
		animation-delay:0.1s;
	}

	line:nth-child(1) {
		animation-delay:0.2s;
	}

	.menu-open & {
		transform:translateZ(0) rotate(135deg);
		transition-delay:0.2s;

		line:nth-child(3) {
			transform:translateY(24px);
			transition:transform 0.3s 0.1s $CubicOut, stroke 0.3s;
		}

		line:nth-child(2) {
			transform:rotate(90deg);
			transition:transform 0.3s 0.3s $CubicOut, stroke 0.3s;
		}

		line:nth-child(1) {
			transform:translateY(-24px);
			transition:transform 0.3s 0.1s $CubicOut, stroke 0.3s;
		}
	}

}
