.svg-long-line {
	line {
		stroke-dashoffset:-968px;
		stroke-dasharray:1056px;
		transition:0.3s $CubicIn;
		opacity:0;
	}

	.appear & {
		line {
			transition:0.6s $CubicInOut, opacity 0.3s 0.1s;
			stroke-dashoffset:0px;
			opacity:1;
		}
	}
}
