.svg-curved-line {
	path {
		stroke-width:12;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
		stroke-dashoffset:-64px;
		stroke-dasharray:64px;
		transition:0.3s $CubicIn;
		opacity:0;
	}

	.appear & {
		path {
			transition:0.6s $CubicInOut, opacity 0.3s 0.1s;
			stroke-dashoffset:-127px;
			opacity:1;
		}
	}
}
