@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{
    string val = string.Empty;
    if (Model.ValueAsObject != null && Model.ValueAsObject != "")
    {
        DateTime d;
        d = (DateTime)Model.ValueAsObject;
        val = d.ToShortDateString();
    }

    var ngFieldId = string.Format("md{0}", Model.Id.Split('-').First());
}
<input type="text" name="@Model.Name" id="@Model.Id" placeholder="@Model.ToolTip" value="@val" datepicker-popup="dd-MM-yyyy" ng-model="@ngFieldId" is-open="isOpen['@ngFieldId']" ng-click="isOpen['@ngFieldId']=true" ng-init="isOpen={}"
       @{if (Model.Mandatory) { <text> data-val="true" data-val-required="@Model.RequiredErrorMessage" </text>     }} />