@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{ var i = 0; }

<span class="radiobuttonlist" id="@Model.Id">
    @foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)
    {
        <label>
            <input type="radio" name="@Model.Id" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value"
                   @if (Model.Mandatory) { <text> data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage" </text> }
                   @if (Model.ContainsValue(pv.Value)) { <text> checked="checked" </text> } />@pv.Value
            </label>

i++;
    }
</span>