@model Umbraco.Forms.Mvc.Models.FieldViewModel
<input type="text" name="@Model.Name" id="@Model.Id" class="text" placeholder="@Model.ToolTip" value="@Model.Value" maxlength="500"
       @{if (Model.Mandatory || Model.Validate) { <text> data-val="true" </text>  }}
       @{if (Model.Mandatory) { <text> data-val-required="@Model.RequiredErrorMessage" </text>  }}
       @{if (Model.Validate) { <text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)" </text>  }} />