﻿
.MadeGridBoxFacts, .MadeGridBoxLinks, .MadeGridActionButton, .MadeGridTools, .MadeGridCases  {

    input.headline {
        color: #5b5b5b;
        font-size: 50px;
        font-family: 'Droid Serif', sans-serif;
        height: auto;
        line-height: 1.15;
        border: none;
        display: block;
        text-overflow: ellipsis;
        width: 95%;
    }

    textarea.teaser {
        color: #5b5b5b;
        font-size: 15px;
        font-family: 'Droid Serif', sans-serif;
        height: auto;
        border: none;
        display: block;
        width: 95%;
        margin-top: -18px;
        height: 45px;
    }

    label {
        color: #cc0000;
    }

    .case {
        background-color: #00a2c9 !important;

        input, textarea {
            background-color: #00a2c9;
            border: none;
            color: #fff;
        }
    }

    .tool {
        background-color: #014d66 !important;

        input, textarea {
            background-color: #014d66;
            border: none;
            color: #fff;
        }
    }

    .boxOfFact {
        padding: 6px;
        margin: 5px 5px 5px 0;
        background-color: #d9d9d9;
        float: left;
        
        textarea {
            resize: vertical;
            max-height: 300px;
            min-height: 200px;
            border-bottom: solid 1px #fff;
            margin-bottom: 3px;
        }

        input.title {
            font-weight: bold;
            border-bottom: solid 1px #fff;
        }

        .icon, .action {
            color: #fff
        }

        a {
            color: #fff;
            text-decoration: none
        }

        ::-webkit-input-placeholder {
            color: #ffffff;
            font-style: italic;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #ffffff;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #ffffff;
        }

        :-ms-input-placeholder {
            color: #ffffff;
        }

    }

    .clear {
        clear: both;
    }

    .btn-inner {
        float: right;
        color: #fff;
        font-size: 20px;
    }
}

.MadeGridActionMailChimp {

    input {
        border: none;
        margin-bottom: 4px;
        width: 90%;

    }

}

.MadeGridActionButton {
    .boxOfFact {
        background-color: #e15a2b;
        border-radius: 20px;
        color: #fff;
        padding: 10px;
        margin: 5px 15px 5px 0;

        ::-webkit-input-placeholder {
            color: #fff;
        }

        ::moz-placeholder {
            color: #fff;
        }

        ::-moz-placeholder {
            color: #fff;
        }

        :-ms-input-placeholder {
            color: #fff;
        }

        input.title {
            background-color: #e15a2b;
            color: #fff;
            border-bottom: 1px solid #fff;
            margin-bottom: 4px;
        }

        .link {
            color: #fff;
            font-size: 14px;
            margin-left: 7px;
            margin-top: 2px;
        }
    }
}

.usky-grid {

    .usky-row-inner {
        padding: 10px;
    }

    label small {
        display: block;
        font-size: 11px;
        line-height: 13px;
        color: #b3b3b3 !important;
        padding-top: 1px;
    }

    label {
        display: block;
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 10px;
        /*text-transform: uppercase;*/
        color: #333;
        line-height: 14px;

        small + input, small + textarea {
            margin-top: 5px;
        }
    }

    label + label {
        margin-top: 10px;
    }

    .MadeGridVideo {

        .preview {
            margin-top: 10px;
        }

        input,
        textarea {
            box-sizing: border-box;
            width: 75%;
            height: auto;
        }

        iframe {
            width: 75%;
            height: 240px;
        }
    }

    .sfi-edit {
        display: inline-block;
        margin-top: 5px;
        padding: 4px 8px 3px 8px;
        background: #f2f2f2;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .sfi-edit i {
        margin: 0;
        display: inline-block !important;
        font-size: 14px !important;
        line-height: normal !important;
        color: #000 !important;
        padding-right: 5px;
        margin-bottom: 0 !important;
    }

    .MadeGridImage {
        padding: 10px;

        div + div {
            margin-top: 20px;
        }

        textarea {
            box-sizing: border-box;
            width: 100%;
            resize: none;
        }

        .image {
            position: relative;
            display: inline-block;

            &:hover .remove {
                display: block;
            }
        }

        .add {
            display: inline-block;
            width: 100%;
            height: 250px;
            line-height: 250px;
            color: #d9d9d9;
            text-align: center;
            text-decoration: none;
            border: 2px #d9d9d9 dashed !important;
            box-sizing: border-box;
        }

        .remove {
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: none;
            width: 32px;
            height: 32px;
            overflow: hidden;
            font-size: 24px;
            line-height: 36px;
            color: red;
            text-align: center;
            text-decoration: none;
            background: white;
            -moz-border-radius: 15px;
            border-radius: 15px;
            opacity: .5;
        }
    }

    .MadeGridActionImage, .MadeGridLink {

        ul {
            margin-top: 0;
        }

        > div {
            /*display: flex;*/
            > div + div {
                margin-left: 15px;
            }
        }

        .umb-sortable-thumbnails li {
            margin: 0 !important;
        }
    }

    .MadeGridFaqPicker {
        ul li {
            width: auto;
        }

        .ui-sortable-placeholder {
            border: inherit;
            background-color: #d0e7f1 !important;
            font-size: 14px;
            font-family: inherit;

            &:before {
                display: none;
            }
        }

        .ui-sortable-helper {
            display: none;
        }
    }

    .MadeGridFaq {
        textarea {
            resize: none;
            width: 98%;
            padding: 1%;
            margin: 0;
            border: 1px #d9d9d9 solid !important;
            font-size: 16px;
            color: #333;
            line-height: 23px;
            font-family: "Flama",Tahoma;
        }

        input[type=text] {
            width: 95%;
            font-size: 18px;
            border: none;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .MadeGridBoxFacts, .MadeGridBoxLinks, .MadeGridMeetStudents, .MadeGridGallery {
        .heading {
            width: 95%;
            font-size: 18px;
            border: none;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid #333;
        }

        .icon {
            color: #d9d9d9;
        }

        .boxOfFact {
            background: transparent;
            border: 1px solid #d9d9d9;
            width: 240px;
            min-height: 178px;

            textarea, input {
                background: transparent;
            }

            textarea {
                height: 125px;
                max-height: none;
                min-height: 0;
                resize: none;
            }
        }
    }
}

.MadeGridMeetStudents {
    .image-add {
        margin-bottom: 10px;
        display: block;
        width: 76%;
        padding: 10px;
        margin-left: 5px;

        .icon {
            display: inline-block;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 0;
            top: 10px;
            position: relative;
        }
    }

    .image img {
        width: 91%;
        margin-top: 24px;
        margin-bottom: 5px;
    }

    textarea {
        height: 80px !important;
    }

    .videoUrl {
        border: 1px solid #d9d9d9 !important;
    }
}

.MadeGridContactPersons {
    .item {
        width: 25%;
        position: relative;
        display: inline-block;

        .usky-editor-placeholder {
            margin-right: 10px;
            padding: 10px;

            i {
                line-height: 60px;
            }

            .btn-inner {
                i {
                    font-size: 20px;
                    line-height: 20px;
                    float: right;
                }
            }
        }
    }

    .icon.icon-add {
        margin-top: 20px;
    }
}

.MadeGridGallery {
    .usky-editor-placeholder {
        width: auto;
        display: block;
    }

    .usky-editor-placeholder.image-add {
        display: inline-block;
        font-size: 65px;
    }

    .usky-editor-placeholder:hover {
        text-decoration: none;
    }

    ul, .folder-select {
        width: 99%;
    }

    .table > table {
        border: none;
    }

    .table > table > * > tr > td:last-child, .table > table > * > tr > th:last-child {
        border: none;
    }

    table {
        width: 100%;


        td {
            border-top: none;
        }

        ul li {
            width: 23%;
            float: left;
            margin: 0;
            position:relative;

            img {
                width: 100%;
            }
        }

        .link-edit {
            margin: 5px 0 0 5px;
            width: 21%;
        }


        .usky-editor-placeholder {
            display: inline-block;
            width: 100%;
            padding: 0 0 12px 0;
            height: 130px;

            i {
                vertical-align: middle;
                font-size: 42px;
                line-height: 65px;
            }

            .help-text {
                padding: 10px;
            }

            .icon-add {
                color: #666;
            }
        }

        .usky-editor-placeholder.image-add {
            height: 83px;

            i {
                line-height: 85px;
            }
        }
    }

    .options {
        position: absolute;
        top: 0;
        right: 0;
    }
    .options a {
        font-size:18px;
        i {
            color:#666 !important; 
        }
    }
}


.MadeGridFaqDialog {
    padding: 10px;

    h3 {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: bold;

        &:first-child {
            margin-top: 0;
        }
    }

    input:first-child {
        box-sizing: border-box;
        line-height: 20px;
        height: auto;
        width: 100%;
    }
}

.MadeGridMap {
    @import "Table";

    .map {
        width: 100%;
        height: 200px;
    }
}

.MadeGridMapDialog {
    .container {
        margin: 16px;
    }
}

.MadeGridActionAddress {
    padding: 10px;

    label {
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    input {
        margin-bottom: 5px;
    }
}
.MadeGridFacts {

    input {
        border: none
    }

    .heading {
        font-size: 25px;
        color: #5b5b5b;
        font-family: 'Droid Serif', sans-serif;
        line-height: 1.15;
        height: 30px
    }

    .subtitle {
        -webkit-font-smoothing: antialiased;
        color: rgb(63, 63, 63);
        display: block;
        font-family: 'Droid Serif', sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: italic;
        font-variant: normal;
        font-weight: normal;
        vertical-align: baseline;
    }

    .property {
        color: rgb(1, 77, 102);
        display: inline;
        font-family: 'Droid Serif', sans-serif;
        font-size: 30px;
        font-stretch: normal;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 35px;
        vertical-align: baseline;
    }

    .usky-cell-rte {
        border-color:#DDD;
    }
}
.MadeGridQuote {
    .heading {
        border: none;
        font-size: 3rem;
        display: block;
        height: auto;
        width: 97%;
        font-style: italic;
        line-height:40px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-family: "Times new roman";
    }

    label {
        display: block;
    }

    .textinput {
        font-style: italic;
        font-family: "Times new roman";
        height: auto;
        width: auto;
        font-size: 1rem;
        border: none;
        border-bottom: 1px dashed #ccc;
    }

    span {
        vertical-align: bottom;
        font-size: 1rem;
    }
}
.usky-grid {

    .usky-control-inner {

        @borderColor: #DDDDDD;
        @infoHighlightColor: #2e8aea;
        @warningHighlightColor: #9d261d;

        border: 1px dashed #d9d9d9 !important;
        border: 1px solid #DDDDDD !important;

        &.infohighlight {
            border: 1px solid @infoHighlightColor !important;

            ins.item-label {
                border: 1px solid @infoHighlightColor !important;
                border-bottom: 1px solid transparent !important;
            }
        }

        &.warnhighlight {
            border: 1px solid @warningHighlightColor !important;

            ins.item-label {
                border: 1px solid @warningHighlightColor !important;
                border-bottom: 1px solid transparent !important;
            }
        }

        ins.item-label {
            display: block !important;
            border-color: #DDDDDD;
            border: 1px solid #DDDDDD !important;
            color: #666;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 1px solid transparent !important;
        }
    }

    /*.usky-row.spacing .usky-row-inner .mainTb {
        visibility: hidden;
    }*/

}

/* dialog list */
.MadeContactPersonDialog, .MadeGridFaqDialog {
    a.itemRow {
        display: block;
        padding: 4px;
        margin-bottom: 2px
    }

    a.selected {
        background-color: #2e8aea; 
        color: #fff
    }

    a.notSelected {
        background-color: #f8f8f8;
        color: #555
    }
} 

.usky-control .cell-tools-edit {
    display: none;
}

.MadeGridPuls {
    input {
        border: none;
        background: none;
        padding-left: 5px;
    }
    ul {
        display:block;
        img {
            max-width:100%;
        }
    }
}