﻿.MadeGridBoxFacts input.headline,
.MadeGridBoxLinks input.headline,
.MadeGridActionButton input.headline,
.MadeGridTools input.headline,
.MadeGridCases input.headline {
  color: #5b5b5b;
  font-size: 50px;
  font-family: 'Droid Serif', sans-serif;
  height: auto;
  line-height: 1.15;
  border: none;
  display: block;
  text-overflow: ellipsis;
  width: 95%;
}
.MadeGridBoxFacts textarea.teaser,
.MadeGridBoxLinks textarea.teaser,
.MadeGridActionButton textarea.teaser,
.MadeGridTools textarea.teaser,
.MadeGridCases textarea.teaser {
  color: #5b5b5b;
  font-size: 15px;
  font-family: 'Droid Serif', sans-serif;
  height: auto;
  border: none;
  display: block;
  width: 95%;
  margin-top: -18px;
  height: 45px;
}
.MadeGridBoxFacts label,
.MadeGridBoxLinks label,
.MadeGridActionButton label,
.MadeGridTools label,
.MadeGridCases label {
  color: #cc0000;
}
.MadeGridBoxFacts .case,
.MadeGridBoxLinks .case,
.MadeGridActionButton .case,
.MadeGridTools .case,
.MadeGridCases .case {
  background-color: #00a2c9 !important;
}
.MadeGridBoxFacts .case input,
.MadeGridBoxLinks .case input,
.MadeGridActionButton .case input,
.MadeGridTools .case input,
.MadeGridCases .case input,
.MadeGridBoxFacts .case textarea,
.MadeGridBoxLinks .case textarea,
.MadeGridActionButton .case textarea,
.MadeGridTools .case textarea,
.MadeGridCases .case textarea {
  background-color: #00a2c9;
  border: none;
  color: #fff;
}
.MadeGridBoxFacts .tool,
.MadeGridBoxLinks .tool,
.MadeGridActionButton .tool,
.MadeGridTools .tool,
.MadeGridCases .tool {
  background-color: #014d66 !important;
}
.MadeGridBoxFacts .tool input,
.MadeGridBoxLinks .tool input,
.MadeGridActionButton .tool input,
.MadeGridTools .tool input,
.MadeGridCases .tool input,
.MadeGridBoxFacts .tool textarea,
.MadeGridBoxLinks .tool textarea,
.MadeGridActionButton .tool textarea,
.MadeGridTools .tool textarea,
.MadeGridCases .tool textarea {
  background-color: #014d66;
  border: none;
  color: #fff;
}
.MadeGridBoxFacts .boxOfFact,
.MadeGridBoxLinks .boxOfFact,
.MadeGridActionButton .boxOfFact,
.MadeGridTools .boxOfFact,
.MadeGridCases .boxOfFact {
  padding: 6px;
  margin: 5px 5px 5px 0;
  background-color: #d9d9d9;
  float: left;
}
.MadeGridBoxFacts .boxOfFact textarea,
.MadeGridBoxLinks .boxOfFact textarea,
.MadeGridActionButton .boxOfFact textarea,
.MadeGridTools .boxOfFact textarea,
.MadeGridCases .boxOfFact textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 200px;
  border-bottom: solid 1px #fff;
  margin-bottom: 3px;
}
.MadeGridBoxFacts .boxOfFact input.title,
.MadeGridBoxLinks .boxOfFact input.title,
.MadeGridActionButton .boxOfFact input.title,
.MadeGridTools .boxOfFact input.title,
.MadeGridCases .boxOfFact input.title {
  font-weight: bold;
  border-bottom: solid 1px #fff;
}
.MadeGridBoxFacts .boxOfFact .icon,
.MadeGridBoxLinks .boxOfFact .icon,
.MadeGridActionButton .boxOfFact .icon,
.MadeGridTools .boxOfFact .icon,
.MadeGridCases .boxOfFact .icon,
.MadeGridBoxFacts .boxOfFact .action,
.MadeGridBoxLinks .boxOfFact .action,
.MadeGridActionButton .boxOfFact .action,
.MadeGridTools .boxOfFact .action,
.MadeGridCases .boxOfFact .action {
  color: #ffffff;
}
.MadeGridBoxFacts .boxOfFact a,
.MadeGridBoxLinks .boxOfFact a,
.MadeGridActionButton .boxOfFact a,
.MadeGridTools .boxOfFact a,
.MadeGridCases .boxOfFact a {
  color: #fff;
  text-decoration: none;
}
.MadeGridBoxFacts .boxOfFact ::-webkit-input-placeholder,
.MadeGridBoxLinks .boxOfFact ::-webkit-input-placeholder,
.MadeGridActionButton .boxOfFact ::-webkit-input-placeholder,
.MadeGridTools .boxOfFact ::-webkit-input-placeholder,
.MadeGridCases .boxOfFact ::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
}
.MadeGridBoxFacts .boxOfFact :-moz-placeholder,
.MadeGridBoxLinks .boxOfFact :-moz-placeholder,
.MadeGridActionButton .boxOfFact :-moz-placeholder,
.MadeGridTools .boxOfFact :-moz-placeholder,
.MadeGridCases .boxOfFact :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.MadeGridBoxFacts .boxOfFact ::-moz-placeholder,
.MadeGridBoxLinks .boxOfFact ::-moz-placeholder,
.MadeGridActionButton .boxOfFact ::-moz-placeholder,
.MadeGridTools .boxOfFact ::-moz-placeholder,
.MadeGridCases .boxOfFact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.MadeGridBoxFacts .boxOfFact :-ms-input-placeholder,
.MadeGridBoxLinks .boxOfFact :-ms-input-placeholder,
.MadeGridActionButton .boxOfFact :-ms-input-placeholder,
.MadeGridTools .boxOfFact :-ms-input-placeholder,
.MadeGridCases .boxOfFact :-ms-input-placeholder {
  color: #ffffff;
}
.MadeGridBoxFacts .clear,
.MadeGridBoxLinks .clear,
.MadeGridActionButton .clear,
.MadeGridTools .clear,
.MadeGridCases .clear {
  clear: both;
}
.MadeGridBoxFacts .btn-inner,
.MadeGridBoxLinks .btn-inner,
.MadeGridActionButton .btn-inner,
.MadeGridTools .btn-inner,
.MadeGridCases .btn-inner {
  float: right;
  color: #fff;
  font-size: 20px;
}
.MadeGridActionMailChimp input {
  border: none;
  margin-bottom: 4px;
  width: 90%;
}
.MadeGridActionButton .boxOfFact {
  background-color: #e15a2b;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  margin: 5px 15px 5px 0;
}
.MadeGridActionButton .boxOfFact ::-webkit-input-placeholder {
  color: #fff;
}
.MadeGridActionButton .boxOfFact ::moz-placeholder {
  color: #fff;
}
.MadeGridActionButton .boxOfFact ::-moz-placeholder {
  color: #fff;
}
.MadeGridActionButton .boxOfFact :-ms-input-placeholder {
  color: #fff;
}
.MadeGridActionButton .boxOfFact input.title {
  background-color: #e15a2b;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 4px;
}
.MadeGridActionButton .boxOfFact .link {
  color: #fff;
  font-size: 14px;
  margin-left: 7px;
  margin-top: 2px;
}
.usky-grid .usky-row-inner {
  padding: 10px;
}
.usky-grid label small {
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #b3b3b3 !important;
  padding-top: 1px;
}
.usky-grid label {
  display: block;
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 10px;
  /*text-transform: uppercase;*/
  color: #333;
  line-height: 14px;
}
.usky-grid label small + input,
.usky-grid label small + textarea {
  margin-top: 5px;
}
.usky-grid label + label {
  margin-top: 10px;
}
.usky-grid .MadeGridVideo .preview {
  margin-top: 10px;
}
.usky-grid .MadeGridVideo input,
.usky-grid .MadeGridVideo textarea {
  box-sizing: border-box;
  width: 75%;
  height: auto;
}
.usky-grid .MadeGridVideo iframe {
  width: 75%;
  height: 240px;
}
.usky-grid .sfi-edit {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 8px 3px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
}
.usky-grid .sfi-edit i {
  margin: 0;
  display: inline-block !important;
  font-size: 14px !important;
  line-height: normal !important;
  color: #000 !important;
  padding-right: 5px;
  margin-bottom: 0 !important;
}
.usky-grid .MadeGridImage {
  padding: 10px;
}
.usky-grid .MadeGridImage div + div {
  margin-top: 20px;
}
.usky-grid .MadeGridImage textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
.usky-grid .MadeGridImage .image {
  position: relative;
  display: inline-block;
}
.usky-grid .MadeGridImage .image:hover .remove {
  display: block;
}
.usky-grid .MadeGridImage .add {
  display: inline-block;
  width: 100%;
  height: 250px;
  line-height: 250px;
  color: #d9d9d9;
  text-align: center;
  text-decoration: none;
  border: 2px #d9d9d9 dashed !important;
  box-sizing: border-box;
}
.usky-grid .MadeGridImage .remove {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 32px;
  height: 32px;
  overflow: hidden;
  font-size: 24px;
  line-height: 36px;
  color: red;
  text-align: center;
  text-decoration: none;
  background: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  opacity: .5;
}
.usky-grid .MadeGridActionImage ul,
.usky-grid .MadeGridLink ul {
  margin-top: 0;
}
.usky-grid .MadeGridActionImage > div,
.usky-grid .MadeGridLink > div {
  /*display: flex;*/
}
.usky-grid .MadeGridActionImage > div > div + div,
.usky-grid .MadeGridLink > div > div + div {
  margin-left: 15px;
}
.usky-grid .MadeGridActionImage .umb-sortable-thumbnails li,
.usky-grid .MadeGridLink .umb-sortable-thumbnails li {
  margin: 0 !important;
}
.usky-grid .MadeGridFaqPicker ul li {
  width: auto;
}
.usky-grid .MadeGridFaqPicker .ui-sortable-placeholder {
  border: inherit;
  background-color: #d0e7f1 !important;
  font-size: 14px;
  font-family: inherit;
}
.usky-grid .MadeGridFaqPicker .ui-sortable-placeholder:before {
  display: none;
}
.usky-grid .MadeGridFaqPicker .ui-sortable-helper {
  display: none;
}
.usky-grid .MadeGridFaq textarea {
  resize: none;
  width: 98%;
  padding: 1%;
  margin: 0;
  border: 1px #d9d9d9 solid !important;
  font-size: 16px;
  color: #333;
  line-height: 23px;
  font-family: "Flama", Tahoma;
}
.usky-grid .MadeGridFaq input[type=text] {
  width: 95%;
  font-size: 18px;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.usky-grid .MadeGridBoxFacts .heading,
.usky-grid .MadeGridBoxLinks .heading,
.usky-grid .MadeGridMeetStudents .heading,
.usky-grid .MadeGridGallery .heading {
  width: 95%;
  font-size: 18px;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #333;
}
.usky-grid .MadeGridBoxFacts .icon,
.usky-grid .MadeGridBoxLinks .icon,
.usky-grid .MadeGridMeetStudents .icon,
.usky-grid .MadeGridGallery .icon {
  color: #d9d9d9;
}
.usky-grid .MadeGridBoxFacts .boxOfFact,
.usky-grid .MadeGridBoxLinks .boxOfFact,
.usky-grid .MadeGridMeetStudents .boxOfFact,
.usky-grid .MadeGridGallery .boxOfFact {
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 240px;
  min-height: 178px;
}
.usky-grid .MadeGridBoxFacts .boxOfFact textarea,
.usky-grid .MadeGridBoxLinks .boxOfFact textarea,
.usky-grid .MadeGridMeetStudents .boxOfFact textarea,
.usky-grid .MadeGridGallery .boxOfFact textarea,
.usky-grid .MadeGridBoxFacts .boxOfFact input,
.usky-grid .MadeGridBoxLinks .boxOfFact input,
.usky-grid .MadeGridMeetStudents .boxOfFact input,
.usky-grid .MadeGridGallery .boxOfFact input {
  background: transparent;
}
.usky-grid .MadeGridBoxFacts .boxOfFact textarea,
.usky-grid .MadeGridBoxLinks .boxOfFact textarea,
.usky-grid .MadeGridMeetStudents .boxOfFact textarea,
.usky-grid .MadeGridGallery .boxOfFact textarea {
  height: 125px;
  max-height: none;
  min-height: 0;
  resize: none;
}
.MadeGridMeetStudents .image-add {
  margin-bottom: 10px;
  display: block;
  width: 76%;
  padding: 10px;
  margin-left: 5px;
}
.MadeGridMeetStudents .image-add .icon {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
  top: 10px;
  position: relative;
}
.MadeGridMeetStudents .image img {
  width: 91%;
  margin-top: 24px;
  margin-bottom: 5px;
}
.MadeGridMeetStudents textarea {
  height: 80px !important;
}
.MadeGridMeetStudents .videoUrl {
  border: 1px solid #d9d9d9 !important;
}
.MadeGridContactPersons .item {
  width: 25%;
  position: relative;
  display: inline-block;
}
.MadeGridContactPersons .item .usky-editor-placeholder {
  margin-right: 10px;
  padding: 10px;
}
.MadeGridContactPersons .item .usky-editor-placeholder i {
  line-height: 60px;
}
.MadeGridContactPersons .item .usky-editor-placeholder .btn-inner i {
  font-size: 20px;
  line-height: 20px;
  float: right;
}
.MadeGridContactPersons .icon.icon-add {
  margin-top: 20px;
}
.MadeGridGallery .usky-editor-placeholder {
  width: auto;
  display: block;
}
.MadeGridGallery .usky-editor-placeholder.image-add {
  display: inline-block;
  font-size: 65px;
}
.MadeGridGallery .usky-editor-placeholder:hover {
  text-decoration: none;
}
.MadeGridGallery ul,
.MadeGridGallery .folder-select {
  width: 99%;
}
.MadeGridGallery .table > table {
  border: none;
}
.MadeGridGallery .table > table > * > tr > td:last-child,
.MadeGridGallery .table > table > * > tr > th:last-child {
  border: none;
}
.MadeGridGallery table {
  width: 100%;
}
.MadeGridGallery table td {
  border-top: none;
}
.MadeGridGallery table ul li {
  width: 23%;
  float: left;
  margin: 0;
  position: relative;
}
.MadeGridGallery table ul li img {
  width: 100%;
}
.MadeGridGallery table .link-edit {
  margin: 5px 0 0 5px;
  width: 21%;
}
.MadeGridGallery table .usky-editor-placeholder {
  display: inline-block;
  width: 100%;
  padding: 0 0 12px 0;
  height: 130px;
}
.MadeGridGallery table .usky-editor-placeholder i {
  vertical-align: middle;
  font-size: 42px;
  line-height: 65px;
}
.MadeGridGallery table .usky-editor-placeholder .help-text {
  padding: 10px;
}
.MadeGridGallery table .usky-editor-placeholder .icon-add {
  color: #666;
}
.MadeGridGallery table .usky-editor-placeholder.image-add {
  height: 83px;
}
.MadeGridGallery table .usky-editor-placeholder.image-add i {
  line-height: 85px;
}
.MadeGridGallery .options {
  position: absolute;
  top: 0;
  right: 0;
}
.MadeGridGallery .options a {
  font-size: 18px;
}
.MadeGridGallery .options a i {
  color: #666 !important;
}
.MadeGridFaqDialog {
  padding: 10px;
}
.MadeGridFaqDialog h3 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.MadeGridFaqDialog h3:first-child {
  margin-top: 0;
}
.MadeGridFaqDialog input:first-child {
  box-sizing: border-box;
  line-height: 20px;
  height: auto;
  width: 100%;
}
.MadeGridMap .table .ui-sortable-helper {
  border-left: 1px solid #d9d9d9;
}
.MadeGridMap .table .ui-sortable-helper > * {
  border-bottom: 1px solid #d9d9d9;
  background: #fff;
}
.MadeGridMap .table .actions {
  margin-top: 5px;
}
.MadeGridMap .table > table {
  width: 100%;
  border: 1px solid #d9d9d9;
}
.MadeGridMap .table > table > thead {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f8f8f8;
}
.MadeGridMap .table > table > thead th {
  text-align: left;
  border-bottom: 2px solid #dbdbdb;
}
.MadeGridMap .table > table > tbody td.page {
  width: 100%;
}
.MadeGridMap .table > table > tbody td.nowrap {
  white-space: nowrap;
}
.MadeGridMap .table > table > * > tr {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.MadeGridMap .table > table > * > tr.expanded > td {
  border-bottom: 1px solid white;
}
.MadeGridMap .table > table > * > tr > td,
.MadeGridMap .table > table > * > tr > th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dbdbdb;
}
.MadeGridMap .table > table > * > tr > td:last-child,
.MadeGridMap .table > table > * > tr > th:last-child {
  border-right: 1px solid #dbdbdb;
}
.MadeGridMap .map {
  width: 100%;
  height: 200px;
}
.MadeGridMapDialog .container {
  margin: 16px;
}
.MadeGridActionAddress {
  padding: 10px;
}
.MadeGridActionAddress label {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.MadeGridActionAddress input {
  margin-bottom: 5px;
}
.MadeGridFacts input {
  border: none;
}
.MadeGridFacts .heading {
  font-size: 25px;
  color: #5b5b5b;
  font-family: 'Droid Serif', sans-serif;
  line-height: 1.15;
  height: 30px;
}
.MadeGridFacts .subtitle {
  -webkit-font-smoothing: antialiased;
  color: #3f3f3f;
  display: block;
  font-family: 'Droid Serif', sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  vertical-align: baseline;
}
.MadeGridFacts .property {
  color: #014d66;
  display: inline;
  font-family: 'Droid Serif', sans-serif;
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 35px;
  vertical-align: baseline;
}
.MadeGridFacts .usky-cell-rte {
  border-color: #DDD;
}
.MadeGridQuote .heading {
  border: none;
  font-size: 3rem;
  display: block;
  height: auto;
  width: 97%;
  font-style: italic;
  line-height: 40px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Times new roman";
}
.MadeGridQuote label {
  display: block;
}
.MadeGridQuote .textinput {
  font-style: italic;
  font-family: "Times new roman";
  height: auto;
  width: auto;
  font-size: 1rem;
  border: none;
  border-bottom: 1px dashed #ccc;
}
.MadeGridQuote span {
  vertical-align: bottom;
  font-size: 1rem;
}
.usky-grid {
  /*.usky-row.spacing .usky-row-inner .mainTb {
        visibility: hidden;
    }*/
}
.usky-grid .usky-control-inner {
  border: 1px dashed #d9d9d9 !important;
  border: 1px solid #DDDDDD !important;
}
.usky-grid .usky-control-inner.infohighlight {
  border: 1px solid #2e8aea !important;
}
.usky-grid .usky-control-inner.infohighlight ins.item-label {
  border: 1px solid #2e8aea !important;
  border-bottom: 1px solid transparent !important;
}
.usky-grid .usky-control-inner.warnhighlight {
  border: 1px solid #9d261d !important;
}
.usky-grid .usky-control-inner.warnhighlight ins.item-label {
  border: 1px solid #9d261d !important;
  border-bottom: 1px solid transparent !important;
}
.usky-grid .usky-control-inner ins.item-label {
  display: block !important;
  border-color: #DDDDDD;
  border: 1px solid #DDDDDD !important;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid transparent !important;
}
/* dialog list */
.MadeContactPersonDialog a.itemRow,
.MadeGridFaqDialog a.itemRow {
  display: block;
  padding: 4px;
  margin-bottom: 2px;
}
.MadeContactPersonDialog a.selected,
.MadeGridFaqDialog a.selected {
  background-color: #2e8aea;
  color: #ffffff;
}
.MadeContactPersonDialog a.notSelected,
.MadeGridFaqDialog a.notSelected {
  background-color: #f8f8f8;
  color: #555555;
}
.usky-control .cell-tools-edit {
  display: none;
}
.MadeGridPuls input {
  border: none;
  background: none;
  padding-left: 5px;
}
.MadeGridPuls ul {
  display: block;
}
.MadeGridPuls ul img {
  max-width: 100%;
}
/*# sourceMappingURL=Styles.css.map */