<ul>
	<li ng-repeat="item in MaTitleNavigation.titles" ng-click="item.scrollTo()" ng-class="{active:$index == MaTitleNavigation.current()}" sky-svg="line">
		<a href="#">
			{{item.title}}
		</a>
	</li>
</ul>

