@function column($count, $media:false) {
	$size:($count/$columns);

	@if type-of($media) == 'number' {
		@return ($count/$media) * 100%;
	}

	@if type-of($media) == 'string' {
		$column:$columns/$breakpoint-tablet;
		@if $media == 'phone' {
			$column:($breakpoint-tablet/$columns) / 2;
		} @else if $media == 'tablet' {
			$column:$breakpoint-phone/$columns;
		} @else if $media == 'desktop' {
			$column:$breakpoint-tablet/$columns;
		}

		@return $count * $column;
	}

	@return $size * 100%;
}
