/**
 * Alle mixins go in this files
 *
 * Make sure mixins are either self explainable
 * or well documented
 */
@mixin gt($width) {
	@if $width == phone {
		@media all and (min-width:$breakpoint-phone+41) { @content; }
	}
	@else if $width == tablet {
		@media all and (min-width:$breakpoint-tablet+41) { @content; }
	}
}

@mixin lt($width) {
	@if $width == tablet {
		@media all and (max-width:$breakpoint-phone+40) { @content; }
	}
	@else if $width == desktop {
		@media all and (max-width:$breakpoint-tablet+40) { @content; }
	}
}

@mixin at($width) {
	@if $width == phone {
		@include lt(tablet) { @content; }
	}
	@else if $width == tablet {
		@media all and (min-width:$breakpoint-phone+41) and (max-width:$breakpoint-tablet+40){ @content; }
	}
	@else if $width == desktop {
		@include gt(tablet) { @content; }
	}
}


@mixin mobile-only() {
	@include gt(phone){
		display:none;
	}
}

@mixin no-mobile() {
	@include lt(content){
		display:none;
	}
}

@mixin clearfix {
	*zoom:1;
	&:after {
		content:'';
		display:table;
		clear:both;
	}
}

@mixin ellipsis() {
	text-overflow:ellipsis;
	display:block;
	overflow:hidden;
	white-space:nowrap;
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}

@mixin appear($nested:true) {
	@if $nested {
		.appear & {
			@content;
		}
	} @else {
		.appear {
			@content;
		}
	}
}

@mixin hover {
	@include gt(phone) {
		&:hover {
			@content;
		}

		.hover:hover & {
			@content;
		}
	}
}
