<div class="filters wrap">
	<button class="has-been" ng-if="MaFilters.enableHasBeen" ng-click="MaFilters.toggleHasBeen()" sky-svg="line"><span ng-bind="MaFilters.hasBeen"></span></button>
	<ul class="types">
		<li><button ng-click="MaFilters.clearOptions()" ng-class="{active:!MaFilters.filter}" sky-svg="line">Alle</button></li>
		<li ng-repeat="filter in MaFilters.filters track by $index">
			<button ng-click="MaFilters.setOptions(filter.alias)" ng-class="{active:filter.alias == MaFilters.filter}" ng-bind="::filter.name" sky-svg="line"></button>
		</li>
	</ul>
	<ul class="options" ng-if="MaFilters.options.items">
		<li ng-repeat="option in MaFilters.options.items track by option.id">
			<button ng-click="MaFilters.toggleOption(option.id)" ng-class="{active:MaFilters.selectedOptions.indexOf(option.id) !== -1}" ng-bind="option.name"></button>
		</li>
	</ul>
</div>
