<div class="overlay"></div>
<div class="wrap">
	<button class="button search-trigger" sky-search-trigger sky-svg="loop"></button>

	<div class="search-form">
		<input class="query" type="text" no-skyform ng-model="skySearchCtrl.query.keywords" placeholder="{{$root.labels['searchPlaceholder']}}" sky-focus="$root.searchOpen"/>
	</div>

	<div class="search-results">
		<div class="search-message" ng-if="skySearchCtrl.query.keywords && skySearchCtrl.data.items">Din søgning på <span ng-bind="skySearchCtrl.query.keywords"></span> gav {{skySearchCtrl.data.pagination.total}} resultater</div>

		<ul ng-if="skySearchCtrl.data.items.length">
			<li ng-repeat="result in skySearchCtrl.data.items track by $index">
				<ma-line>
					<h5><a ng-href="{{result.url}}">{{result.name}}</a></h5>
					<p class="teaser" ng-if="result.teaser.length > 0" ng-bind-html="result.teaser"></p>
				</ma-line>
			</li>
		</ul>
	</div>

	<div class="search-more" ng-if="skySearchCtrl.data.pagination.total>skySearchCtrl.data.items.length">
		<button class="button" ng-class="{spin:skySearchCtrl.loading}" ng-click="skySearchCtrl.showMore()" sky-svg="dimond"></button>
	</div>

</div>
