<ma-headline headline="::control.value.headline"></ma-headline>
<p ng-bind="::control.value.description"></p>
<ma-related-links type="::control.editor.alias" links="::control.value.items"></ma-related-links>
