<div class="area-15">
	<ma-headline ng-if="::control.value.headline !== ''" title="::control.value.headline"></ma-headline>
	<p ng-if="::control.value.description" ng-bind="::control.value.description"></p>
</div>
<ma-faqs items="::control.value.items"></ma-faqs>
