<ma-headline ng-if="::control.value.headline !== ''" title="::control.value.headline"></ma-headline>
<div sky-lightbox>
	<div ng-repeat="item in control.value.items track by $index">
		<a target="_blank" sky-lightbox-gallery="galleri" href="{{item.url}}" title="{{item.imageText}}" sky-crop-src="{{item.url}}"></a>
	</div>
</div>
