<div class="spot">
	<h3><ma-line>{{::control.value.headline}}</ma-line></h3>
	<em ng-bind="::control.value.subtitle"></em>
	<ma-text-contain ng-if="::control.value.property">{{::control.value.property}}</ma-text-contain>
	<div class="description" ng-bind-html="::control.value.description"></div>
</div>
