<div class="spot">
	<h3><ma-line>{{::control.value.headline}}</ma-line></h3>
	<div class="links">
		<ul>
			<li ng-repeat="link in control.value.items track by $index">
				<a ng-href="{{::link.Url}}" ng-bind="::link.Name" ng-attr-target="{{::link.Target}}" sky-svg="arrow"></a>
			</li>
		</ul>
	</div>
</div>
