<div class="media-container">
	<div sky-video="{{control.value.url}}" sky-poster="{{control.value.poster}}"></div>
	<em ng-if="control.value.description" ng-bind="::control.value.description"></em>
</div>
