@inherits System.Web.Mvc.WebViewPage<Umbraco.Forms.Mvc.Models.FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions
@using Umbraco.Forms.Core.Extensions

<script type="text/javascript">
    var contourDateFormat = "@Html.ConvertDateFormat()";
</script>

<script type="text/javascript">
    (function ($, formId, formName) {
        var contourFieldValues,
            recordValues = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Pages.SelectMany(p => p.Fieldsets).SelectMany(fs => fs.Containers).SelectMany(c => c.Fields).ToDictionary(f => f.Id, f => f.Value))),
            fsConditions = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FieldsetConditions)),
            fieldConditions = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FieldConditions)),
            form = $(document).search("#contour_form_" + formName);

        $(form).search(".contourPage input, .contourPage textarea, .contourPage select").change(function () {
            PopulateFieldValues();
            CheckRules();
        });

        PopulateFieldValues();
        CheckRules();

        function PopulateFieldValues() {
            PopulateRecordValues();

            $(form).search(".contourPage select").each(function () {
                contourFieldValues[$(this).attr("id")] = $("option[value='" + $(this).val() + "']", $(this)).text();
            });

            $(form).search(".contourPage textarea").each(function () {
                contourFieldValues[$(this).attr("id")] = $(this).val();
            });

            $(form).search(".contourPage input").each(function () {

                if ($(this).attr('type') == "text" || $(this).attr("type") == "hidden") {
                    contourFieldValues[$(this).attr("id")] = $(this).val();
                }

                if ($(this).attr('type') == "radio") {
                    if ($(this).is(':checked')) {
                        contourFieldValues[$(this).attr("name")] = $(this).val();
                    }
                }

                if ($(this).attr('type') == "checkbox") {

                    if ($(this).attr('id') != $(this).attr('name')) {
                        if ($(this).is(':checked')) {
                            if (contourFieldValues[$(this).attr("name")] == null) {
                                contourFieldValues[$(this).attr("name")] = $(this).val();
                            }
                            else {
                                contourFieldValues[$(this).attr("name")] += "," + $(this).val();
                            }
                        }
                    } else {

                        contourFieldValues[$(this).attr("name")] = $(this).is(':checked').toString();
                    }
                }

            });
        }

        function PopulateRecordValues() {
            var fieldId;
            contourFieldValues = new Array();

            for (fieldId in recordValues) {
                if ($(form).search("#" + fieldId).length === 0) {
                    contourFieldValues[fieldId] = recordValues[fieldId];
                }
            }
        }

        function CheckRules() {
            umbracoForms.conditions.handle({
                fsConditions: fsConditions,
                fieldConditions: fieldConditions,
                values: contourFieldValues
            });
        }

        angular.element(form).validateForm();

    }(angular.element, '@Model.FormClientId', '@Model.FormName.Replace(" ", "")'));

</script>
