<!--(bake _elements/head.html title="Underside")-->
<body class="article" ng-class="{'menu-open':menuOpen, 'search-open':searchOpen}">

	<!--(bake _elements/mobile-menu.html)-->
	<!--(bake _elements/navigation.html)-->

	<div class="all-wrap">

		<main class="content-wrap">

			<article class="content">
				<header>
					<div class="hero" sky-svg="logo">
						<img src="img/6153ma/underside-hero.jpg" alt="">
					</div>
					<section>
						<div class="wrap">
							<ul class="breadcrumb">
								<li sky-svg="line-arrow"><a href="forside.html">Forside</a></li>
								<li sky-svg="line-arrow"><a href="underforside.html">Temaer</a></li>
								<li sky-svg="line-arrow"><a href="underside.html">Hyperfleksibel automation</a></li>
							</ul>
							<h1><ma-line>Hyperfleksibel Automation</ma-line></h1>
						</div>
					</section>
				</header>
				<section>
					<div class="shortcuts wrap">
						<ul>
							<li sky-svg="line"><a href="#">Introduktion</a></li>
							<li class="active" sky-svg="line"><a href="#">Udfordingen</a></li>
							<li sky-svg="line"><a href="#">Forskningen</a></li>
							<li sky-svg="line"><a href="#">Fremtiden</a></li>
							<li sky-svg="line"><a href="#">Værktøjer</a></li>
							<li sky-svg="line"><a href="#">Cases</a></li>
						</ul>
					</div>
					<div class="wrap">
						<div class="manchet">
							<p>Lille tekst om hvad man kan forvente at finde på denne side, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. </p>
						</div>
					</div>
				</section>
				<section class="grid-total-17">
					<div class="wrap">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sequi id non rerum placeat, iste, ipsam cumque veritatis mollitia ab eligendi, temporibus doloribus perspiciatis commodi autem nostrum architecto vero laborum?</p>
						<p>Quaerat veritatis qui sed similique iste magni incidunt ab quasi laudantium, reprehenderit ducimus asperiores odio rem, sit doloremque in temporibus distinctio ipsam odit obcaecati eaque ex aperiam! Voluptate, magnam quibusdam.</p>
						<p>Quia consequatur, veniam eligendi odit obcaecati asperiores. Nostrum minima consequuntur, porro animi quo voluptates placeat quos rem neque eius, libero est, ullam voluptas velit in. Ad voluptate harum magnam, adipisci.</p>
					</div>
				</section>
			</article>
		</main>


		<!--(bake _elements/footer.html)-->
	</div>


	<!--(bake _elements/scripts.html)-->
</body>
</html>
