<section class="wrapper">
	<div class="horizontal-sections" data-filters="{{maPulsenCtrl.enabledFilters.join(' ')}}">
		<ma-pulsen-section ng-repeat="section in maPulsenCtrl.sections.slice(0, maPulsenCtrl.limit) track by $index" class="wide layout-{{$index%3}}" ng-animate-children></ma-pulsen-section>
	</div>

	<div class="wide-navigation">
		<button class="next" ng-click="maPulsenCtrl.next()" ng-show="maPulsenCtrl.sections.length && maPulsenCtrl.sections.length - 1 > maPulsenCtrl.currentSection" sky-svg="arrow"></button>
		<button class="previous" ng-click="maPulsenCtrl.previous()" ng-show="maPulsenCtrl.currentSection > 0" sky-svg="arrow"></button>
	</div>
</section>

<div class="wrap section-action">
	<ul class="socials">
		<li><a href="https://twitter.com/made_denmark" sky-svg="icon-twitter"></a></li>
		<li><a href="https://www.instagram.com/made_denmark/" target="_blank" sky-svg="icon-instagram"></a></li>
		<li><a href="https://www.linkedin.com/company/9459579" target="_blank" sky-svg="icon-linkedin"></a></li>
	</ul>
	<div class="action" sky-svg="long-line" ma-appear>
		<a href="/pulsen/" class="hover"><span>Flere nyheder &<br> arrangementer</span><span class="button"sky-svg="arrow"></span></a>
	</div>
</div>
