<div class="pulsen-filters wrap">
	<ul class="types">
		<li><button class="button" ng-click="maPulsenCtrl.toggleFilter('clear')" ng-class="{active:maPulsenCtrl.filterActive('clear')}">Alle</button></li>
		<li ng-repeat="media in maPulsenCtrl.medias track by $index">
			<button class="button" ng-click="maPulsenCtrl.toggleFilter(media.value)" ng-class="{active:maPulsenCtrl.filterActive(media.value), icon:media.icon}" sky-svg="{{::media.icon}}">{{::media.name}}</button>
		</li>
	</ul>
</div>

<article class="content">
	<section>
		<div class="wrap social-feed">
			<div class="sections" data-filters="{{maPulsenCtrl.enabledFilters.join(' ')}}">
				<ma-pulsen-section ng-repeat="section in maPulsenCtrl.sections.slice(0, maPulsenCtrl.limit) track by $index" class="layout-{{$index%3}}" ng-animate-children></ma-pulsen-section>
			</div>

			<div class="list-more" ng-if="maPulsenCtrl.pagination.total>maPulsenCtrl.offset" sky-svg="long-line" ma-appear>
				<button class="button" ng-click="maPulsenCtrl.showMore()" ng-class="{spin:maPulsenCtrl.loading}" sky-svg="dimond"></button>
			</div>
		</div>
	</section>
</article>
