<ul class="faqs" ng-if="::MaFaqs.items.length">
	<li class="accordion" ng-repeat="item in MaFaqs.items track by $index" sky-accordion="{{::item.id}}" >
		<button class="accordion-toggle" sky-accordion-toggle>
			<ma-line>{{::item.question}}</ma-line>
			<sky-svg class="arrow">arrow</sky-svg>
		</button>
		<div sky-accordion-wrapper>
			<div class="accordion-content" sky-accordion-content ng-bind-html="::item.answer"></div>
		</div>
	</li>
</ul>
