.ui-datepicker {
	background-color:$font-color;
	color:#fff;
	padding:15px 10px;
	width:210px;
	z-index:999;
	display:none;

	.ui-datepicker-header {
		padding:5px 5px 15px 5px;
		position:relative;

		.ui-datepicker-month,
		.ui-datepicker-year {
			display:inline-block;
			font-family:$font-name;
			font-size:18px;
			margin-right:5px;
		}

		.ui-datepicker-prev,
		.ui-datepicker-next {
			position:absolute;
			top:0px;
			border:10px solid transparent;
			width:0; height:0;
			cursor:pointer;

			span {
				display:none;
			}
		}

		.ui-datepicker-prev {
			border-right-color:#67635d;
			right:25px;

			&:hover {
				border-right-color:$color-1;
			}
		}

		.ui-datepicker-next {
			border-left-color:#67635d;
			right:-5px;

			&:hover {
				border-left-color:$color-1;
			}
		}
	}

	.ui-datepicker-calendar {
		text-align:center;
		width:100%;
		border:none;

		td,
		th {
			padding:0;
		}

		thead {
			font-size:12px;

			tr {
				background:transparent;
			}

			th {
				font-style:italic;
				font-weight:normal;
				color:$color-2;
				text-align:center;
			}
		}

		tbody tr:nth-child(even) {
			background:transparent;
		}

		td > a {
			width:30px;
			line-height:30px;
			cursor:pointer;
			display:block;
			text-decoration:none;
			border:0;
			color:#fff;

			&:hover {
				color:$font-color;
				background:#fff;
			}

			&.ui-state-active {
				background-color:#fff;
				color:$color-1;
			}
		}
	}
}
