[uib-datepicker-popup-wrap] {
	display:inline-block;
	position:absolute;
	left:0 !important;
	right:0;
	margin:0;
	margin-top:-$form-height - 5;
	margin-left:-5px;
	margin-right:-5px;
	padding:$base-margin;
	border-radius:$border-radius;
	background-color:#fff;
	box-shadow:2px 0 25px transparentize(#000, 0.8);
	overflow:hidden;
	z-index:5;
	list-style:none;
	@include gt(phone) {
		top:auto;
		margin:0 50px;
		margin-top:-$form-height * 1.5;
		min-width:330px;
	}

	.hover & {
		box-shadow:2px 0 25px transparentize(#000, 0.5);
	}

	li {
		/* static to counter any relative position set from global list styling (involving pseudo elements etc.)*/
		position:static;
		margin-left:1px;
	}

	table {
		margin-top:20px;
		width:100%;
		font-style:normal;

		&:focus {
			outline:none;
			text-shadow:none;
			box-shadow:none;
		}
	}

	.nav-top {
		position:absolute;
		background-color:#fff;
		display:block;
		top:0;
		left:0;
		right:0;
		text-align:center;

		th {
			width:auto;

			&.nav-mode {
				width:100%;
				font-style:normal;
			}
		}

		strong {
			font-weight:inherit;
		}

		button {
			display:block;
			width:100%;
			height:50px;
			line-height:0;
			float:left;
			margin:0;
			padding:0;
			border:none;
			background:none;
			color:$color-navy;
			font-size:$font-size;
			position:relative;
			font-weight:normal;
			@include gt(phone) {
				height:40px;
			}

			&.pull-left,
			&.pull-right {
				width:40px;

				&:before {
					content:'';
					background-image:url(/img/6153ma/arrow.svg);
					position:absolute;
					z-index:2;
					top:50%;
					left:0;
					transform:translateY(-50%);
					height:40px;
					width:40px;
					background-repeat:no-repeat;
					background-position:center;
					background-size:20%;
					opacity:0.5;
					filter:grayscale(100%);
					transition:0.3s;
					transition-property:color, filter;
				}

				&:hover:before {
					color:#fff;
				}
			}

			&.pull-left {
				margin-left:$base-margin;

				&:before {
					transform:translateY(-50%) rotate(180deg);
				}
			}

			&.pull-right {
				float:right;
				margin-right:$base-margin;
			}

			&:hover {
				cursor:pointer;

				&:before {
					filter:grayscale(0%);
					opacity:1;
				}
			}
		}
	}

	.week-days {
		padding-bottom:0;
		margin-bottom:-$base-margin + 5;

		th {
			font-size:$font-small;
			font-style:italic;
			text-align:center;
			color:lighten($font-color, 30%);
			min-height:0;
			line-height:1;
			padding:10px 0 0;
		}
	}

	table[ng-switch-when="day"] tbody td {
		@include gt(phone) {
			min-width:35px;
		}
	}

	table[ng-switch-when="year"] tbody td {
		@include gt(phone) {
			min-width:65px;
		}
	}

	table[ng-switch-when="month"] tbody td {
		@include gt(phone) {
			min-width:110px;
		}
	}

	tbody {
		td {
			height:100%;
			text-align:center;
			min-height:0;
			line-height:1;
		}

		[ng-if="showWeeks"] {
			min-width:$base-margin !important;
			color:lighten($font-color, 30%);
			font-size:$font-small * 0.9;
			font-style:italic;
			vertical-align:top;

			em {
				line-height:40px;
				@include gt(phone) {
					line-height:35px;
				}
			}
		}

		button {
			display:block;
			position:relative;
			height:40px;
			padding:5px;
			border:none;
			border-radius:$border-radius;
			background:none;
			color:$color-navy;
			font-size:$font-size * 0.9;
			@include gt(phone) {
				height:35px;
				width:35px;
				font-size:$font-size;
			}

			&.today {
				background-color:darken($form-bg, 5%);
			}

			&.active {
				background-color:$color-grey;
				color:#fff;
			}

			&:hover {
				background-color:#dbdddf;
				cursor:pointer;
				color:#fff;
			}

			.text-muted {
				color:rgba($color-navy, 0.3);
			}
		}

		.text-center {
			position:relative;

			span {
				position:absolute;
				left:50%;
				top:50%;
				transform:translate(-50%, -50%);
			}
		}
	}

	.button-bar {

		.btn {
			color:#fff;
			font-weight:normal;
			margin-bottom:15px;
			width:100%;
			font-size: 14px;
			min-width:0;
			padding:10px 20px;
			min-height:30px;
			width:auto;

			@include hover {
				cursor:pointer;
			}

			&.pull-right {
				margin-right:0;
				margin-bottom:0;

				&:before {
					background-color:$color-navy;
				}
			}
		}
	}
}
