/**
 * All form related style goes in here
 */

.button-bar .btn,
.button {
	display:inline-block;
	border:none;
	color:#fff;
	font-size:17px;
	min-width:200px;
	min-height:60px;
	text-align:center;
	padding:17px 20px 18px;
	text-decoration:none;
	position:relative;
	z-index:1;
	background-color:transparent;
	outline:none;
	cursor:pointer;
	overflow:visible;
	@include gt(tablet) {
		font-size:20px;
		min-width:250px;
		padding:15px 20px 16px;
	}

	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius:30px;
		background-color:$color-blue;
		transition:0.15s $CubicOut;
		z-index:-1;
		pointer-events:none;
	}

	@include hover {
		color:#fff;
		&:before {
			transform:scale(1.05);
			transition:0.2s $BackOut;
		}
	}

	&.focus,
	&:focus {
		&:before {
			transform:scale(1.05);
			transition:0.2s $BackOut;
		}
	}

	&.active,
	&:active {
		&:before {
			transform:scale(0.95);
		}
	}
}
