ma-pulsen {
	$column-1:25%;
	$column-2:50%;
	$filters:'instagram' 'twitter' 'linkedin' 'news' 'events';
	display:block;
	position:relative;
	width:100%;

	a {
		text-decoration:none;
	}

	time {
		text-transform:uppercase;
		opacity:0.9;
		margin-bottom:10px;
		display:block;
		font-size:11px;
		transition:0.3s opacity;
		@include gt(tablet) {
			font-size:14px;
		}
	}

	ma-pulsen-section {
		display:block;
		@include clearfix;

		&.wide {
			@include gt(phone) {
				width:column(19, tablet);
				flex:0 0 column(19, tablet);
			}
			@include gt(tablet) {
				width:column(19, desktop);
				flex:0 0 column(19, desktop);
			}
		}

		&.wide.layout-2 {
			@include gt(phone) {
				width:column(9.5, tablet);
				flex:0 0 column(9.5, tablet);
			}
			@include gt(tablet) {
				width:column(9.5, desktop);
				flex:0 0 column(9.5, desktop);
			}

			.news {
				@include gt(phone) {
					width:100%;
					padding-top:50%;
				}
			}

			.twitter,
			.events {
				@include gt(phone) {
					width:50%;
					padding-top:50%;
				}
			}
		}
	}

	ma-pulsen-item {
		display:block;
		position:relative;
		float:left;
		width:100%;
		@include at(phone) {
			margin-bottom:10px;
		}
	}

	ma-line {
		margin-bottom:15px;
		@include gt(tablet) {
			margin-bottom:30px;
		}

		.svg-line {
			width:11px;
			height:3px;
			top:0.5em;

			line {
				stroke:#fff;
				transition:0.3s;
			}
		}

		.transcluded {
			padding-left:20px;
			font-style:italic;
		}
	}

	.horizontal-sections {
		@include at(phone) {
			transform:none !important;
		}
		@include gt(phone) {
			position:absolute;
			transition:transform 0.4s $CubicInOut;
			display:flex;
			height:370px;
		}
		@include gt(tablet) {
			height:560px;
		}
	}

	.wrapper {
		position:relative;
		padding:0;
		@include gt(phone) {
			width:100%;
			overflow:hidden;
			height:370px;
		}
		@include gt(tablet) {
			height:560px;
		}
	}

	.wide-navigation {
		width:100%;
		@include at(phone) {
			display:none;
		}
	}

	.socials {
		@include clearfix();
		list-style-type:none;
		padding:0;
		margin:0;
		@include gt(phone) {
			padding-left:column(1);
		}

		li {
			float:left;
		}

		a {
			width:45px;
			position:relative;
			height:45px;
			padding:10px;
			border-radius:50%;
			text-decoration:none;
			cursor:pointer;
			z-index:1;

			&:before {
				content:'';
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				border-radius:50%;
				background-color:$color-navy;
				transition:0.15s $CubicOut;
				z-index:-1;
				pointer-events:none;
			}

			@include hover {
				&:before {
					transform:scale(1.05);
					transition:0.2s $BackOut;
				}
			}
		}

		path {
			fill:#fff;
		}
	}

	.sections {
		margin-bottom:100px;
		width:calc(100% + 10px);
	}

	.empty {
		@include at(phone) {
			display:none;
		}

		pointer-events:none;
	}

	.item {
		color:#fff;
		padding:15px;
		display:block;
		line-height:1.19;
		transition:0.3s;
		transition-property:color, background;
		@include gt(phone) {
			position:absolute;
			top:0;
			right:10px;
			bottom:10px;
			left:0;
		}
		@include gt(tablet) {
			line-height:1.36;
			padding:30px;
		}
	}

	.background {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-size:cover;
		background-position:center;
		z-index:0;
		opacity:0.3;
		transition:0.3s opacity;
	}

	.container {
		position:relative;
		z-index:1;
		max-height:100%;
		overflow:hidden;
		transition:0.3s opacity;
	}

	.teaser {
		font-size:14px;
		opacity:0.9;
		margin-top:10px;
		display:none;
	}

	ma-pulsen-item {
		&,
		.item {
			transition:opacity 0.3s, padding 0.5s $QuartInOut;
			opacity:1;
		}

		&.pulsen-item {
			&,
			.item {
				padding-top:0 !important;
				opacity:0 !important;
			}
		}
	}

	.news {
		@include gt(phone) {
			width:$column-2;
			padding-top:$column-1;
		}

		.item {
			background-color:$color-navy;
		}

		@include hover {
			.background {
				opacity:0;
			}

			.item {
				background-color:transparent;
				color:$color-navy;
			}

			.svg-line line {
				stroke:$color-navy;
			}
		}
	}

	.events {
		@include gt(phone) {
			width:$column-1;
			padding-top:$column-1;
		}

		.item {
			background-color:$color-navy;
		}

		@include hover {
			.item {
				background-color:transparent;
				color:$color-navy;
			}

			.svg-line line {
				stroke:$color-navy;
			}
		}
	}

	.instagram {
		width:100%;
		padding-top:100%;
		@include gt(phone) {
			width:$column-1;
			padding-top:$column-1;
		}

		.item {
			background-color:$color-blue;
			@include at(phone) {
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
		}

		@include hover {
			.background {
				opacity:1;
			}

			.container {
				opacity:0;
			}
		}
	}

	.twitter {
		@include gt(phone) {
			width:$column-1;
			padding-top:$column-1;
		}

		time {
			position:absolute;
			bottom:5px;
			z-index:2;
			@include gt(tablet) {
				bottom:10px;
			}
		}

		.item {
			background-color:$color-blue;
			padding-bottom:60px;
		}

		@include hover {
			.item {
				background-color:transparent;
				color:$color-blue;
			}

			.svg-line line {
				stroke:$color-blue;
			}
		}
	}

	.linkedin {
		@include gt(phone) {
			width:$column-1;
			padding-top:$column-1;
		}

		.item {
			background-color:$color-navy;
		}

		@include hover {
			.item {
				background-color:transparent;
				color:$color-navy;
			}

			.svg-line line {
				stroke:$color-navy;
			}
		}
	}

	.block {
		@include clearfix;
		@include gt(phone) {
			width:50%;
			float:left;
		}

		ma-pulsen-item {
			@include gt(phone) {
				width:$column-2;
				padding-top:$column-2;
			}
		}
	}

	.layout-0 {
		ma-pulsen-item {
			&:nth-child(1) {
				@include gt(phone) {
					width:$column-2;
					padding-top:$column-2;
				}

				.title {
					line-height:1;
					@include gt(phone) {
						font-size:35px;
					}
					@include gt(tablet) {
						font-size:50px;
					}
				}
			}

			&:nth-child(2) {
				@include gt(phone) {
					width:$column-2;
					padding-top:$column-1;
				}
			}
		}
	}

	.layout-1 {
		.events:nth-child(2) {
			@include gt(phone) {
				width:$column-1;
				padding-top:$column-2;
				.teaser {
					display:block;
				}
			}
		}
	}

	@each $filter in $filters {
		.sections:not([data-filters*=#{$filter}]) .#{$filter} {
			pointer-events:none;
			@include at(phone) {
				display:none;
			}

			time,
			.container,
			.background {
				opacity:0;
			}
		}
	}
}

.pulsen-filters {
	padding:20px 10px 10px;
	background-color:$color-navy;
	color:#fff;
	@include gt(phone) {
		padding:20px column(1, tablet) 10px;
	}
	@include gt(tablet) {
		padding:20px column(1, desktop) 10px;
	}

	ul {
		padding:0;
		margin:0;
		list-style-type:none;
		display:block;
		@include clearfix;
	}

	li {
		margin:0 10px 10px 0;
		float:left;

		&.ng-enter {
			opacity:0;
			transition:0.3s opacity;
		}

		&.ng-enter.ng-enter-active {
			opacity:1;
		}
	}

	button {
		min-width:0;
		min-height:0;
		padding:10px 30px;
		text-align:center;
		font-size:20px;

		&:before {
			background-color:darken($color-navy, 5);
		}

		svg {
			width:25px;
			height:25px;
		}
	}

	.icon {
		padding:10px;
		max-width:45px;
		max-height:45px;

		path {
			fill:#fff;
		}
	}

	.active {
		&:before {
			background-color:$color-blue;
		}
	}

	.svg-line {
		position:absolute;
		left:0;
		top:0.3em;
		width:13px;
		height:4px;

		line {
			opacity:0;
			stroke:#fff;
			transition:0.3s;
		}
	}

	.options {
		font-size:14px;
		position:relative;
		left:-15px;
		margin-top:10px;

		button {
			margin-bottom:5px;
			padding:5px 15px;
		}

		.active {
			background-color:rgba(#000, 0.15);
		}
	}
}
