sky-search {
	display:block;
	position:fixed;
	width:100vw;
	height:105vh;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	padding:0;
	pointer-events:none;
	z-index:100;
	padding-bottom:200px;
	background-color:transparent;
	transition:background 0s;

	.search-open & {
		transition-delay:0.5s;
		pointer-events:auto;
		background-color:$color-blue;
		@include gt(phone) {
			background-color:$color-navy;
		}
	}

	.ma-line {
		svg {
			top:0.3em;
			width:13px;
			height:4px;
		}

		line {
			stroke:#fff;
		}

		.transcluded {
			@include gt(phone) {
				padding:0 column(0.5, tablet);
			}
			@include gt(tablet) {
				padding:0 column(0.5, desktop);
			}

			.area-6 & {
				@include gt(phone) {
					transform:translateX(column(-0.5,tablet));
				}
				@include gt(tablet) {
					transform:translateX(column(-0.5,desktop));
				}

				@include gt(phone) {
					margin-top:50px;
				}
			}
		}
	}

	.overlay {
		width:100%;
		margin:0 auto;
		position:relative;
		@include gt(phone) {
			width:column(19, tablet);
		}
		@include gt(tablet) {
			width:column(19, desktop);
		}

		.search-open & {
			@include at(phone) {
				transform:translate(50px);
			}
		}
	}

	.wrap {
		position:relative;
		z-index:2;
		opacity:0;
		transition:0.3s 0.2s;
		padding-top:5px;
		pointer-events:none;
		@include gt(phone) {
			padding-top:56px;
		}

		.search-open & {
			transition-delay:0s;
			opacity:1;
			pointer-events:auto;
		}
	}

	.search-trigger {
		@include at(phone) {
			top:0;
			transform:none;
			right:60px;
		}

		circle,
		line {
			stroke:#fff;
			@include gt(phone) {
				stroke:$color-blue;
			}

			.search-open & {
				stroke:#fff;
			}
		}
	}

	.search-form {
		width:calc(100% - 30px);
		padding-left:10px;
		overflow:hidden;
		transition:transform 0.3s;
		@include gt(phone) {
			width:calc(100% - 15px);
			padding-left:0;
		}

		input {
			transform:translateX(40px);
			background-color:#fff;
			border-radius:50px;;
			height:50px;
			font-size:18px;
			margin:0;
			box-shadow:none;
			border:none;
			outline:none;
			width:99%;
			transition:0.3s;
			opacity:0;
			padding:0 40px 0 25px;
			pointer-events:none;
			visibility:hidden;
			transition:0.1s;
			@include gt(phone) {
				transition:0.3s;
				padding:0 100px 0 40px;
			}

			.search-open & {
				transition:0.3s;
				transition-delay:0.3s;
				transform:translate(0);
				opacity:1;
				pointer-events:auto;
				visibility:visible;
			}
		}
	}

	.search-results {
		transform:translateX(40px);
		transition:0.3s;
		opacity:0;
		padding-top:column(0.5, phone);
		padding-left:column(0.5, phone);
		pointer-events:none;
		@include gt(phone) {
			padding-top:column(0.5);
			padding-left:column(0.5);
			padding-right:column(4);
		}

		.search-open & {
			transition-delay:0.3s;
			transform:translate(0);
			opacity:1;
			pointer-events:auto;
		}

		ul {
			list-style-type:none;
			padding:0;
			margin:column(1) 0;
		}

		li {
			margin:0 0 50px;
		}

		h5 {
			margin:0;
			color:#fff;
			margin:0;
		}

		a {
			text-decoration:none;
			color:#fff;
			font-size:20px;
			@include gt(tablet) {
				font-size:25px;
			}

			@include hover {
				text-decoration:underline;
			}
		}

		p {
			margin:0;
			color:$color-navy;
			@include gt(phone) {
				color:rgba(#fff, 0.5);
			}
		}
	}

	.search-message {
		color:$color-navy;
		@include gt(phone) {
			color:#fff;
		}
		span {
			color:#fff;
			@include gt(phone) {
				color:$color-blue;
			}
		}
	}

	.search-more {
		transform:translateX(40px);
		transition:0.3s;
		opacity:0;
		text-align:center;
		padding-left:column(1, phone);
		margin-top:100px;
		@include gt(phone) {
			padding:0;
		}

		.search-open & {
			transition-delay:0.3s;
			transform:translate(0);
			opacity:1;
		}

		.button {
			min-width:0;
			padding:19px;
			width:65px;
			height:65px;
			@include gt(tablet) {
				width:85px;
				height:85px;
			}

			&:before {
				background-color:$color-navy;
				border-radius:50%;
				@include gt(phone) {
					background-color:$color-blue;
				}
			}
		}

		.svg-dimond {
			width:30px;
			width:30px;

			rect {
				stroke:#fff;
				stroke-width:10px;
			}
		}
	}
}
