[sky-video] {
	background-size:cover;
	background-position:50% 50%;
	background-color:$color-2;
	position:relative;
	display:block;

	div {
		cursor:pointer;
	}

	button {
		position:absolute;
		top:50%;
		left:50%;
		width:60px;
		height:60px;
		border-radius:60px;
		display:block;
		background-color:rgba($color-blue, 0.67);
		border:0;
		box-sizing:border-box;
		transform:translate(-50%,-50%);
		transform-origin:0 0;
		transition:0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
		cursor:pointer;
		padding:15px;
		@include gt(desktop) {
			width:80px;
			height:80px;
			border-radius:80px;
		}

		svg {
			width:100%;
			height:100%;
			margin-right:-5px;
		}

		polygon {
			stroke:#fff;
		}
	}

	&:hover button {
		transform:scale(1.2) translate(-50%,-50%);
	}

	path {
		fill:#fff;
	}

	&.playing div button {
		opacity:0;
		transform:scale(0.3) translate(-50%,-50%);
	}
}



