/* SIZES */
$form-height:60px !default;
$form-base-margin:20px !default;
$form-border:0px !default;
$form-border-radius:$border-radius !default;
$form-padding-text:18px !default;
$form-padding-block:5px !default;

/* COLORS */
$form-color-1: $color-1 !default;
$form-color-2: $color-2 !default;
$form-bg:#fff;
$form-error-color:#b70000 !default;
$form-success-color:#409000 !default;

/* SPECIFIC */
$form-check-radio-size:$form-height * 0.5 !default;
$form-check-radio-size:$form-height * 0.5 !default;
$form-radio-fill:5px !default;


/* GLOBAL */
label,
legend {
	display:inline-block;
	width:100%;
}

input.uniform-input,
textarea.uniform,
div.selector,
div.uploader,
div.date-picker-wrapper {
	position:relative;
	display:block;
	width:100%;
	margin-top:5px;
	margin-bottom:20px;
	padding:0 $form-padding-text;
	border:none;
	border-radius:$form-border-radius;
	background:$form-bg;
	vertical-align:middle;
	-webkit-appearance:none;
	-moz-appearance:none;
	transition:box-shadow 0.3s;
	font-size:18px;
	line-height:45px;
	height:45px;
	box-shadow:0 -2px transparent inset;
	@include gt(phone) {
		line-height:60px;
		height:60px;
		font-size:20px;
	}

	/* IE8 and below */
	.no-csstransforms & {
		line-height:$form-height;
	}

	&.validation-error {
		color:$form-error-color;
		border-color:$form-error-color;
		background-color:lighten($form-error-color, 62%);

		&.hover,
		.hover & {
			border-color:$form-error-color;
			background:none;
		}
	}

	&.hover,
	.hover & {
		box-shadow:0 -2px $color-grey-dark inset;
	}

	&.focus,
	.focus &,
	&.validation-error.focus {
		box-shadow:0 -2px $color-navy inset;
	}

	span {
		user-select:none;
		line-height:inherit;
	}

	@include placeholder {
		text-transform:uppercase;
		color:#abacb0;
	}
}

.help-block {
	color:$color-grey-dark;
	transition:color 0.3s;
	font-size:14px;
	@include gt(phone) {
		font-size:16px;
	}

	.contourField:hover & {
		color:$color-grey-darker;
	}
}

.contourField {
	label > div,
	> div {
		position:relative;
	}
}

.contourFieldSet {
	margin-bottom:20px;

	&:last-child {
		margin-bottom:0;
	}
}

.row-fluid {
	@include gt(phone) {
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;
	}
}


.col-md-12 {
	width:100%;
}

.col-md-6 {
	@include gt(phone) {
		padding:0 10px 0 0;
		flex:0 0 50%;
	}

	&:last-child {
		@include gt(phone) {
			padding:0 0 0 10px;
		}
	}
}

.col-md-4 {
	@include gt(phone) {
		flex:0 0 33.333%;
		padding:0 10px 0 0;
	}

	&:nth-child(2) {
		@include gt(phone) {
			padding:0 10px;
		}
	}

	&:nth-child(3) {
		@include gt(phone) {
			padding:0 0 0 10px;
		}
	}
}

.btn-inline {
	position:relative;
	padding-right:92px + 10px;

	input.uniform-input {
		display:inline-block;
	}

	div.button {
		position:absolute;
		bottom:0;
		right:0;
		width:92px;
		margin-top:5px;
		margin-right:0;
		text-align:center;
	}
}

.field-validation-error,
.field-validation-valid {
	color:#fff;
	font-size:13px;
	position:absolute;
	top:0;
	right:0;
	transform:translateY(-100%);
	padding:5px;
	background-color:$color-navy;
	opacity:1;
	transition:opacity 0.3s;

	&:empty {
		opacity:0;
	}
}

.form-error,
.form-success {
	ul {
		margin-left:15px;
		margin-bottom:0;
	}

	li {
		margin-top:5px;
	}
}

/* SELECTOR */
div.selector {
	span {
		width:100%;
		padding:0 30px 0 0;
		line-height:inherit;
		height:inherit;
		vertical-align:middle;
		user-select:none;

		&:after {
			content:'';
			position:absolute;
			background-image:url(/img/6153ma/arrow.svg);
			background-repeat:no-repeat;
			background-position:center;
			background-size:15%;
			transform:rotate(90deg);
			height:inherit;
			right:0;
			width:45px;
			opacity:0.4;
			filter:grayscale(100%);
			@include gt(phone) {
				width:60px;
			}
		}
	}

	select {
		cursor:pointer;
	}

	&.focus,
	.focus &,
	&.hover,
	.hover & {
		span:after {
			opacity:1;
		}
	}
}


/* DATEPICKER */
.date-picker-wrapper {
	position:relative;

	&:after {
		content:'';
		position:absolute;
		background-image:url(/img/6153ma/calendar.svg);
		background-repeat:no-repeat;
		background-position:center;
		background-size:35%;
		height:inherit;
		right:0;
		width:45px;
		opacity:0.4;
		filter:grayscale(100%);
		@include gt(phone) {
			width:60px;
		}
	}

	input {
		cursor:pointer;
		border:none;
		background:none;
		position:absolute;
		height:100%;
		top:0px;
		left:0px;
		width:100%;
		z-index:3;
		padding:0 $form-padding-text;
		font-size:$font-size;
	}
}


/* TEXTAREA */
textarea.uniform {
	min-height:$form-height * 4;
	padding-top:$form-padding-text * 0.5;
	padding-bottom:$form-padding-text * 0.5;
	resize:none;
}


/* UPLOADER */
div.uploader {
	display:flex;
	padding-right:0;

	input {
		cursor:pointer;
		z-index:1;
	}

	span.filename {
		padding:0;
		margin:0;
		display:inline-block;
		flex-grow:1;
		height:auto;
	}

	span.action {
		width:auto;
		height:inherit;
		margin:0;
		padding:0 15px;
		font-size:$font-small;
		/*background-color:$color-grey-dark;*/
		background-color:#9c9fa4;
		color:#fff;
		transition:background 0.3s;
	}

	.no-flexbox & {
		display:block;

		span.filename {
			width:100%;
			padding-right:92px + 10px;
		}

		span.action {
			position:absolute;
			top:0;
			right:0;
			width:92px;
		}
	}

	&.focus,
	.focus & {
		span.action {
			background-color:$color-navy;
		}
	}

	&.hover,
	.hover & {
		span.action {
			background-color:$color-grey-dark;
		}
	}
}


/* RADIO & CHECKBOX */
span.radiobuttonlist,
span.checkboxlist {
	display:block;
	margin-top:5px;
	line-height:30px;

	ul {
		list-style-type:none;
		margin:0;
	}

	label {
		font-size:$font-size;
		margin:0;
		width:auto;
		padding-right:15px;

		&:hover {
			cursor:pointer;
		}
	}

	legend {
		font-weight:normal;
	}
}

.singlecheckbox label {
	display:block;
	width:auto;
	margin-top:5px;
	font-size:$font-size;

	&:hover {
		cursor:pointer;
	}
}

div.radio,
div.checker {
	display:inline-block;
	width:auto;
	height:100%;
	margin-bottom:5px;
	margin-left:-$form-border;
	margin-right:5px;
	line-height:30px;
	text-align:left;
	vertical-align:baseline;

	span {
		position:relative;
		top:0;
		left:0;
		display:inline-block;
		width:$form-check-radio-size;
		height:$form-check-radio-size;
		margin:$form-border;
		vertical-align:middle;
		cursor:pointer;
		user-select:none;
		background-color:#9c9fa4;
	}

	&.focus,
	&.hover {
		span {
			width:$form-height * 0.5 + $form-border * 2;
			height:$form-height * 0.5 + $form-border * 2;
			margin:0;
		}
	}


	&.focus span {
		outline:0;
		box-shadow:none;
		text-shadow:none;
	}

	input {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		cursor:pointer;
		z-index:1;
	}
}

div.radio {
	span {
		border-radius:$form-check-radio-size;
		border:$form-radio-fill + $form-border solid #9c9fa4;
		transition:border 0.3s;

		&.checked {
			background-color:#fff;
			input {
				z-index:1;
			}
		}

	}

	&.focus span {
		border-color:$color-navy;
	}

	&.hover span {
		border-color:$color-grey-dark;
	}
}

div.checker {
	span {
		&.checked {
			&:before {
				content:'';
				position:absolute;
				width:100%;
				height:100%;
				left:0;
				top:0;
				background-image:url(/img/6153ma/cross-white.svg);
				background-repeat:no-repeat;
				background-position:center;
				background-size:50%;
			}
		}
	}

	&.focus span {
		background-color:$color-navy;
	}
	&.hover span {
		background-color:$color-grey-dark;
	}
}

/* BUTTON */
/* Styling on button + other elements with shared look */
div.button,
span.action {
	margin-top:10px;
	margin-right:10px;
	pointer-events:none;

	&:before {
		background-color:$color-1;
	}

	span {
		margin:0;
		padding:0;
		display:inline-block;
		vertical-align:middle;
		user-select:none;
	}

	button,
	input {
		z-index:1;
		width:100%;
		height:100%;
		cursor:pointer;
		border:none;
		/* Background fixes input[type=submit] not receiving height prop */
		background-color:transparent;
		pointer-events:auto;
	}

	/* Add id="secondary" to the button-tag */
	&[id="uniform-secondary"] {
		font-weight:normal;
		background-color:$form-color-1;

		&.hover,
		&.focus {
			background-color:$form-color-2;
		}
	}

	/* Add id="spinner" to the button-tag */
	&[id="uniform-spinner"] {
		opacity:0.5;
		color:transparentize(#fff, 0.5);
		position:relative;
		text-align:center;

		input,button {
			cursor:progress;
		}

		&:after {
			.csstransforms & {
				content:'';
				width:$form-height - 12;
				height:$form-height - 12;
				line-height:$form-height;
				box-sizing:border-box;
				display:block;
				position:absolute;
				top:50%;
				left:50%;
				transform-origin:0 0;
				border:4px solid #fff;
				border-bottom:4px solid transparent;
				border-radius:$form-height;
				animation:spinning 1.5s infinite linear;
			}
		}
	}
}

@keyframes spinning {
	0% {
		transform:rotate(0deg) translate(-50%, -50%);
	}
	100% {
		transform:rotate(360deg) translate(-50%, -50%);
	}
}
