[sky-accordion] {
	display:block;
}

[sky-accordion-toggle] {
	margin:0;
	padding:0;
	width:100%;
	height:50px;
	line-height:50px;
	background:none;
	color:$color-2;
	font-size:$font-size;
	font-weight:$bold;
	text-align:left;
	cursor:pointer;
	border:none;

	.arrow {
		background-color:$color-navy;
		border-radius:50%;
		padding:8px 13px;
		width:35px;
		height:35px;
		transform:rotate(90deg);
		transition:0.4s $QuartOut;
		overflow:visible;
		display:block;
		@include gt(tablet) {
			padding:13px 18px;
			width:45px;
			height:45px;
		}

		.open > & {
			background-color:$color-blue;

			svg {
				transform:translateY(25%);
			}
		}

		svg {
			width:100%;
			height:100%;
			transition:0.3s $CubicInOut;
			overflow:visible;
		}

		line {
			stroke:#fff;
			transition:0.3s $CubicInOut;
			transform-origin:19px;

			.open > & {

				&:last-child {
					opacity:1;
				}

				&:first-child {
					opacity:0;
				}
			}
		}
	}

	@include hover {
		color:$color-1;

		.arrow {
			background-color:$color-blue;
		}

		&:after {
			color:$color-1;
		}
	}

	&:focus {
		color:$color-1;

		&:hover {
			color:$color-1;
		}
	}
}

[sky-accordion-wrapper] {
	overflow:hidden;
}

[sky-accordion-content] {
	padding:$base-margin 0 1px; /* Bottom padding for margin-overflow */
	font-size:$font-size;
	line-height:$baseline;
}

.accordion {
	list-style-type:none;
	margin:0;
	background-color:$color-grey;

	&:nth-child(2n) {
		background-color:$color-grey-light;
	}

	& + .accordion {
		margin-top:5px;
	}
}

.accordion-toggle {
	font-weight:bold;
	color:#5b5b5b;
	position:relative;
	line-height:1.15;
	outline:none;
	min-height:60px;
	padding-left:column(1, phone);
	display:block;
	@include gt(phone) {
		padding-left:column(1, tablet);
	}
	@include gt(phone) {
		font-size:20px;
		padding-left:column(1, desktop);
		min-height:70px;
	}

	.svg-line {
		width:13px;
		height:4px;
	}

	.arrow {
		position:absolute;
		top:12px;
		right:30px;
	}
}

.accordion-content {
	padding:0 column(2, phone) 30px;;
	@include gt(phone) {
		padding:0 column(2, tablet) 30px;;
	}
	@include gt(tablet) {
		padding:0 column(2, desktop) 40px;;
	}
}

