$lightbox-dim-color:$color-navy !default;

[sky-lightbox] {
	@extend %clear-fix;

	> [ng-transclude] {
		@include gt(phone) {
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			justify-content:stretch;
		}

		div {
			margin-bottom:10px;
			@include gt(phone) {
				margin-bottom:0;
				padding:0 10px 10px 0;
				flex:0 1 33.333%;
			}
			@include gt(tablet) {
				flex:0 1 25%;
			}
		}

		a {
			display:block;
			padding-top:60%;
			background-position:center;
		}
	}
}

[sky-lightbox-gallery] {
	display:block;
	position:relative;
	width:100%;
	height:auto;
	font-size:0;
	line-height:0;
	text-align:center;
	text-decoration:none;
	overflow:hidden;
	@include gt(phone) {

		&:last-child {
			margin-right:0;
		}
	}

	&:before {
		display:none;
		@include gt(phone) {
			content:'';
			background-image:url(/img/6153ma/cross.svg);
			background-size:10px;
			background-position:center;
			background-repeat:no-repeat;
			font-weight:bold;
			position:absolute;
			top:50%;
			left:50%;
			display:block;
			width:50px;
			height:50px;
			line-height:45px;
			border-radius:50px;
			background-color:#fff;
			color:#fff;
			font-size:24px;
			text-align:center;
			vertical-align:middle;
			z-index:10;
			opacity:0;
			transform:translate(-50%, -50%) scale(0.5) rotate(45deg);
			transition:opacity 0.1s 0s linear,
						transform 0.15s 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
		}
	}

	&:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:$color-navy;
		opacity:0;
		transition:opacity 0.3s;
	}

	&.video:before {
		@include gt(phone) {
			content:'';
			background-image:url(/img/6149vu/play.svg);
			background-repeat:no-repeat;
			background-position:center;
			text-indent:4px;
			transform:translate(-50%, -50%) scale(0.5);
		}
	}

	img {
		width:100%;
		height:auto;
		@include gt(phone) {
			filter:url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
			filter:gray;
			filter:grayscale(100%);
			transition:0.3s;
		}
	}

	&:hover,
	&:focus {
		padding:0;
		background:none;
		border-radius:0;

		img {
			filter:url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
			filter:grayscale(0%);
		}

		&:before {
			@include gt(phone) {
				opacity:1;
				transition-delay:0s, 0.05s;
				transition-duration:0.05s;
				transform:translate(-50%, -50%) scale(1) rotate(45deg);
			}
		}

		&.video:before {
			@include gt(phone) {
				transform:translate(-50%, -50%) scale(1);
			}
		}

		&:after {
			@include gt(phone) {
				opacity:0.7;
			}
		}
	}
}

.lightbox {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding-top:60px;
	padding-bottom:90px;
	padding-left:60px;
	padding-right:60px;
	z-index:200;
	margin:auto;
	transform:translateZ(200px);

	&.fitting {
		.wrap {
			display:none;
		}
	}

	&:before {
		content:'';
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:transparentize($lightbox-dim-color,0.1);
		z-index:90;
	}

	img {
		z-index:97;
		margin:0;
	}

	button {
		position:relative;
		margin:0;
		margin-bottom:0;
		z-index:99;
		background-color:transparent;
		min-width:60px;

		&:before {
			background-color:#fff;
		}

		svg {
			width:15px;
			height:15px;
		}

		line {
			stroke:$color-blue;;
		}

		&[ng-click="prev()"] {
			margin-left:0;

			svg {
				margin-left:0;
				margin-right:3px;
				transform:rotate(180deg);
			}
		}

		&[ng-click="next()"] {
			margin-right:0;
		}

		&[ng-click="close()"]{
			position:absolute;
			margin:0;
			top:-30px;
			right:30px;
			font-size:25px;
			line-height:0;
		}
	}

	span {
		color:#fff;
		margin:$base-margin;
	}

	.wrap {
		position:relative;
		text-align:center;
		z-index:96;
		height:100%;
		margin:auto;
		vertical-align:middle;
	}

	.display {
		position:relative;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		line-height:0;
		max-width:100%;
		max-height:100%;
	}

	.controls {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		padding-top:$base-margin;
		text-align:center;
		white-space:nowrap;
		width:100%;
		overflow:hidden;
		height:100px;

		button {
			background-color:rgba(#fff, 0.5);
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			border:none;
			outline:none;
			width:60px;
			height:100px;
			border-radius:column(1.5, tablet) 0 0 column(1.5, tablet);
			transition:transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), 0.2s linear;
			pointer-events:auto;
			cursor:pointer;
			@include gt(tablet) {
				border-radius:column(1.5, desktop) 0 0 column(1.5, desktop);
			}

			@include hover {
				background-color:rgba(#fff, 1);
				transform:translate(10px, -50%);

				line {
					stroke:$color-navy;
				}

				.svg-arrow {
					transform:translate(-5px, -50%);
				}
			}

			&.ng-hide {
				opacity:0;
				transform:translate(50%, -50%) scale(0.8);
				display:block !important;

				.svg-arrow {
					transform:translate(-5px, -50%);
				}
			}

			&.next {
				right:0;
			}

			&.previous {
				left:0;
				transform:translateY(-50%) rotate(180deg);

				@include hover {
					transform:translate(-10px, -50%) rotate(180deg);
				}

				&.ng-hide {
					transform:translate(-50%, -50%) scale(0.8) rotate(180deg);
				}
			}

			line {
				stroke:$color-blue;
				transition:0.2s;
			}

			.svg-arrow {
				position:absolute;
				top:50%;
				height:20px;
				width:15px;
				transform:translate(0, -50%);
				transition:transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}

	.count {
		padding:20px 30px 20px 60px;
		font-size:25px;
		display:inline-block;
	}

	.details {
		text-align:left;
		color:#fff;
		display:flex;
		align-items:baseline;
		align-content:baseline;
		line-height:1.4;
	}

	.inline-outer {
		position:relative;
		@include gt(phone) {
			float:left;
			width:90px;
			margin-right:10px;
			margin-bottom:10px;
			z-index:1;
		}
	}

	.outer {
		display:flex;
		align-content:center;
		align-items:center;
	}

	.inner {
		position:relative;
		width:100%;
		height:0;
		padding-top:56.25%;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:95;
		}
	}
}
