.events-results {
	ul {
		list-style-type:none;
		margin:0 0 column(1);
		padding:0;
	}

	li {
		margin:0;
		cursor:pointer;
		transition:background 0.3s;

		@include hover {
			background-color:rgba(#000, 0.05);

			a {
				color:$color-blue;
			}
		}
	}

	h5 {
		margin:10px 0;
		font-size:40px;
		@include gt(phone) {
			margin:20px 0 10px;
		}
		@include gt(tablet) {
			margin:40px 0 10px;
			font-size:50px;
		}
	}

	time {
		opacity:0.3;
		color:$color-grey;
		z-index:-1;
		position:relative;
		line-height:0.7;
		display:none;
		font-size:24vw;
		position:absolute;
		@include gt(phone) {
			opacity:0.5;
			position:relative;
			font-size:125px;
		}
		@include gt(tablet) {
			font-size:180px;
		}
	}

	a {
		text-decoration:none;
		color:$color-grey-darker;

		@include hover {
			color:$color-blue;
		}
	}

	p {
		display:none;
		margin:0;
	}

	img {
		width:100%;
		display:block;
		margin:0;

		&:not([src]) {
			display:none;
		}
	}

	.featured {
		p,
		time {
			display:block;
		}

		.meta {
			@include gt(phone) {
				margin-top:-40px;
			}
			@include gt(talbet) {
				margin-top:-60px;
			}
		}

		.image {
			@include gt(phone) {
				display:block;
			}
		}
	}

	.wrap {
		position:relative;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		@include at(phone) {
			padding:0 10px;
		}
	}

	.image {
		display:none;
		position:relative;
		flex:0 0 column(6);
		margin-right:column(1);
	}

	.container {
		flex:1 1 column(12);
	}

	.meta {
		color:$color-blue;
		font-size:20px;

		text:empty + span {
			display:none;
		}

		span {
			padding:0 10px;
		}
	}
}
