<div class="related" ma-appear>
	<ul ng-class="::MaRelatedLinks.type">
		<li ng-repeat="link in MaRelatedLinks.items track by $index">
			<a ng-if="::link" ng-href="{{::link.link.Url}}" ng-attr-target="{{::link.link.Target}}">
				<ma-line>{{::MaRelatedLinks.typeAlias}}</ma-line>
				<h5 ng-bind="::link.headline"></h5>
				<p ng-bind="::link.description"></p>
			</a>
		</li>
	</ul>

	<div class="wide-navigation">
		<button class="next" ng-click="MaRelatedLinks.next()" ng-show="MaRelatedLinks.pages && MaRelatedLinks.pages - 1 > MaRelatedLinks.page" sky-svg="arrow"></button>
		<button class="previous" ng-click="MaRelatedLinks.previous()" ng-show="MaRelatedLinks.page > 0" sky-svg="arrow"></button>
	</div>
</div>
