﻿<div class="SkybrudPropertyEditors GridEditor LinkPicker" ng-controller="Skybrud.LinkPicker.Grid.Controller" ng-class="{SingleLinkPicker: cfg.limit == 1, MultiLinkPicker: cfg.limit != 1}" style="padding: 10px;">
    
    <label>
        <input type="text" ng-model="control.value.title" placeholder="Overskrift" class="headline" />
    </label>

    <div ng-show="!cfg.showTable">
        <ul ui-sortable ng-model="control.value.items">
            <li ng-repeat="link in control.value.items">
                <a href="{{link.url}}" target="_blank">{{link.name || link.url}}</a>
                <a class="edit" href="#" prevent-default="" ng-click="editLink(link, $index)"><i class="icon icon-edit"></i></a>
                <a class="remove" href="#" prevent-default="" ng-click="removeLink($index)"><i class="icon icon-delete"></i></a>
                <i class="icon icon-navigation handle" ng-show="control.value.items.length > 1"></i>
            </li>
        </ul>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addLink()" ng-show="!cfg.limit || control.value.items.length < cfg.limit">Tilføj link <i class="icon icon-add"></i></a>
        </div>
    </div>

    <div class="table" ng-show="cfg.showTable">
        <table ng-show="control.value.items.length">
            <thead>
                <tr>
                    <!--<th ng-show="cfg.columns.type">Type</th>-->
                    <!--<th ng-show="cfg.columns.id">ID</th>-->
                    <th ng-show="cfg.columns.name">Navn</th>
                    <!--<th ng-show="cfg.columns.url">Url</th>-->
                    <!--<th ng-show="cfg.columns.target">Target</th>-->
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="control.value.items">
                <tr ng-repeat="link in control.value.items">
                    <!--<td ng-show="cfg.columns.type" style="text-transform: capitalize;">{{link.mode}}</td>-->
                    <!--<td ng-show="cfg.columns.id">{{link.id}}</td>-->
                    <td ng-show="cfg.columns.name">{{link.name}}</td>
                    <!--<td ng-show="cfg.columns.url"><a href="{{link.url}}" target="_blank">{{link.url}}</a></td>-->
                    <!--<td ng-show="cfg.columns.target">{{link.target}}</td>-->
                    <td style="text-align: right;">
                        <a class="edit" href="#" prevent-default="" ng-click="editLink(link, $index)"><i class="icon icon-edit"></i></a>
                        <a class="remove" href="#" prevent-default="" ng-click="removeLink($index)"><i class="icon icon-delete"></i></a>
                        <i class="icon icon-navigation handle" ng-show="control.value.items.length > 1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-click="addLink()" ng-show="!cfg.limit || control.value.items.length < cfg.limit">Tilføj link <i class="icon icon-add"></i></a>
        </div>
    </div>
    
    <!--<pre style=" font-size: 10px; line-height: 12px; white-space: pre-wrap;">{{control.value | json}}</pre>-->
</div>